<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pandagroup_theme_settings>
            <shipping_bar>
                <enable_bar_select>0</enable_bar_select>
            </shipping_bar>
        </pandagroup_theme_settings>
    </default>
</config>
