<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="product-item-name-block checkout-table__name-and-attrs">
    <div class="checkout-table__name">
        <strong class="product-item-name" data-bind="text: $parent.name"></strong>
    </div>
    <div class="checkout-table__attrs">
        <!-- ko if: (JSON.parse($parent.options).length > 0)-->
        <div class="product options">
            <ol class="item-options">
                <!--ko foreach: JSON.parse($parent.options)-->
                <li class="checkout-table__attribute">
                    <span class="checkout-table__attrs-label label" data-bind="text: label+':'"></span>
                    <!-- ko if: ($data.full_view)-->
                    <span class="checkout-table__attrs-value values" data-bind="html: full_view"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: ($data.full_view)-->
                    <span class="checkout-table__attrs-value values" data-bind="html: value"></span>
                    <!-- /ko -->
                </li>
                <!-- /ko -->
                <li class="checkout-table__attribute">
                    <span class="checkout-table__attrs-label label"><!-- ko i18n: 'Qty' --><!-- /ko -->:</span>
                    <span class="checkout-table__attrs-value values" data-bind="text: $parent.qty"></span>
                </li>
                <li class="checkout-table__attribute">
                    <span class="checkout-table__attrs-label label"><!-- ko i18n: 'Price' --><!-- /ko -->:</span>
                    <span class="checkout-table__attrs-value values">
                        <!-- ko foreach: getRegion('after_details') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                    </span>
                </li>
            </ol>
        </div>
        <!-- /ko -->
    </div>
</div>


