<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name password has been changed" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<div class="order-confirmation-wrap" style="border-collapse: collapse; border-spacing: 0; background:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">

        <tr>
            <td align="center" valign="top" style="padding:0; ">
                <table class="table-width-wrap" cellspacing="0" cellpadding="0" border="0" width="602"
                       style="border-collapse: collapse; border:0px; margin: 0px; padding: 0px; background-color: #FFF;">

                    <tr class="background-image-row" style="display: block; background-image: none; background-color: #6797d7;" >
                        <td align="left" valign="top" style="padding: 36px 36px 36px 36px; background: #6797d7">
                            <h1 style="color: white; font-size: 20px; text-transform: uppercase; margin-bottom: 0;">Dear {{var customer.firstname}},</h1>
                        </td>
                    </tr>
                </table>

                <table class="table-width-wrap" cellspacing="0" cellpadding="0" border="0" width="602"
                       style="border-collapse: collapse; border:0px; margin: 0px; padding: 0px; background-color: #FFF;">
                    <tr>
                        <td>
                            <p style="font-size:16px; padding:0 18px; line-height:24px; text-align:center; color:#5f5f5f;">We have received a request to change the following information associated with your account password.<br /></p>
                            <p style="font-size:16px; padding:0 18px; line-height:24px; text-align:center; color:#5f5f5f;">If you have not authorized this action, please contact us immediately.</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>

{{template config_path="design/email/footer_template"}}