<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset your %store_name password" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl(store, 'customer/account/')":"Customer Account URL",
"var customer.name":"Customer Name"
} @-->

<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset your %store_name password" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl(store, 'customer/account/')":"Customer Account URL",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<div class="order-confirmation-wrap" style="border-collapse: collapse; border-spacing: 0; background:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">

        <tr>
            <td align="center" valign="top" style="padding:0; ">
                <table class="table-width-wrap" cellspacing="0" cellpadding="0" border="0" width="602"
                       style="border-collapse: collapse; border:0px; margin: 0px; padding: 0px; background-color: #FFF;">
                    <tr class="background-image-row" style="display: block; background-image: none; background-color: #6797d7;" >
                        <td align="left" valign="top" style="padding: 36px 36px 36px 36px; background: #6797d7">
                            <h1 style="color: white; text-transform: uppercase; font-size: 35px; margin-bottom: 0;">Dear {{var customer.name}} </h1>
                        </td>
                </table>

                <table class="table-width-wrap" cellspacing="0" cellpadding="0" border="0" width="602"
                       style="border-collapse: collapse; border:0px; margin: 0px; margin-top: 10px; padding: 0px; background-color: #FFF;">
                    <tr>
                        <td>
                            <p style="font-size:16px; padding:0 7px 10px 7px; line-height:16px; text-align:center; margin:0; color:#5f5f5f;">There was recently a request to change the password for your account.</p>
                            <p style="font-size:16px; padding:0 7px 10px 7px; line-height:16px; text-align:center; margin:0; color:#5f5f5f;"><strong>If you requested this change, set a new password here:</strong> <a href="{{var this.getUrl($store,'customer/account/createPassword',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" target="_blank" style="color:#1E7EC8; text-decoration: none;">{{var this.getUrl($store,'customer/account/createPassword',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}</a></p>
                            <p style="font-size:16px; padding:0 7px 10px 7px; line-height:16px; text-align:center; margin:0; color:#5f5f5f;">You can change your password at any time
                                <br>by logging into
                                <a href="{{store url="customer/account/"}}" style="color:#6797d7; text-decoration: none;">your account</a>.</p>
                            <p style="font-size:16px; padding:0 18px; line-height:24px; text-align:center; color:#5f5f5f;">If you did not make this request, you can ignore this email and your password will remain the same.<br /></p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

</div>

{{template config_path="design/email/footer_template"}}