<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="prices" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\GiftCard\Ui\DataProvider\Product\Form\Modifier\CustomFields</item>
                    <item name="sortOrder" xsi:type="number">90</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="\Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="Amasty_GiftCard::NotificationGiftCard" type="Amasty\GiftCard\Plugin\Admin\NotificationGiftCard" />
    </type>
</config>

