<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko ifnot: isCustomerLoggedIn() -->

<form class="form form-login" data-role="email-with-possible-login"
      data-bind="submit:login"
      method="post">
    <div id="customer-email-fieldset" class="fieldset" data-bind="blockLoader: isLoading">
        <div class="field required">
            <div class="control _with-tooltip checkout__input-wrapper">
                <input class="input-text"
                       type="email"
                       data-bind="
                            textInput: email,
                            css: ns+'__input ' + ns+'__input--'+index,
                            hasFocus: emailFocused,
                            attr: {
                                    placeholder: 'Email Address*'
                                }"
                       name="username"
                       data-validate="{required:true, 'validate-email':true}"
                       id="customer-email" />
            </div>
        </div>

        <!--Hidden fields -->
        <div class="fieldset hidden-fields" data-bind="fadeVisible: isPasswordVisible">
            <button class="action login primary checkout__button checkout__button--login show_popup_login" data-action="checkout-method-login">
                <span data-bind="i18n: 'Login'"></span>
            </button>
        </div>
        <!--Hidden fields -->
    </div>
</form>
<!-- /ko -->
