.about-us-wrapper {
    margin: 0 auto;
    line-height: 1.4em;
    font-size: 16px;
    padding: 0 15px;
    color: #242424;
    letter-spacing: 1px;

    &--990 {
        max-width: 990px;
    }

    &--1300 {
        max-width: 1300px;
    }

    &--645 {
        max-width: 645px;
    }

    &--no-padding {
        padding: 0;
    }

    &__title {
        text-align: center;
        font-family: league_gothic;
        font-size: 48px;
        font-weight: normal;
        text-transform: uppercase;
        line-height: normal;

        &--left {
            text-align: left;
        }
    }

    &__text-box {
        display: flex;
        flex-wrap: wrap;
        text-align: justify;

        &--centered {
            text-align: center;
        }
    }

    &__box {
        box-sizing: border-box;
        flex: 0 0 50%;
        padding-bottom: 15px;

        img {
            max-width: 100%;
        }

        &--left {
            padding-right: 12px;
        }

        &--right {
            padding-left: 12px;
        }
    }

    &__fullwidth-image {
        width: 100%;
        margin: 50px 0 10px 0;
    }

    &__youtube {
        position: relative;
        padding-bottom: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__styling-box {
        display: flex;
        width: 100%;
        margin: 100px 0;
        justify-content: center;

        div {
            box-sizing: border-box;
        }
    }

    &__special-box {

        &--left {
            padding-right: 33px;

            div[class*='special-box-r'] {
                display: none;
            }
        }

        img {
            width: 100%;
        }

        &-boldandborder {
            border-top: 1px solid #e4e0e0;
            font-size: 14px;
            line-height: 1.2em;
            padding: 18px 0 0 0;
            margin: 26px 0 0 0;
            font-weight: 500;
        }

        &-l1 {
            width: 476px;
            margin: 0 0 107px auto;
            line-height: 26px;

            &-header {
                margin: 85px 0 25px 0;
                font-family: league_gothic;
                font-size: 48px;
                font-weight: normal;
                text-transform: uppercase;
            }
        }

        &-r1 {
            width: 566px;
            padding: 0 0 80px 100px;

            img {
                max-width: 448px;
                max-height: 411px;
            }

            &-bottom {
                width: 227px;
            }
        }

        &-l2 {

            &-top {
                margin-left: auto;
                max-width: 564px;
                max-height: 448px;
            }

            &-bottom {
                width: 388px;
                margin: 21px auto 87px 0;
            }
        }

        &-r2 {
            display: flex;
            width: 566px;
            align-content: space-between;

            &-left {
                max-width: 391px;
                max-height: 535px;
            }

            &-right {
                width: 145px;
                margin: 0 0 0 30px;
            }
        }

        &-l3 {
            width: 476px;
            margin-left: auto;
            max-width: 442px;
            max-height: 355px;

        }

        &-r3 {
            width: 174px;
            margin: 82px 0 0 0;
        }
    }

    &__labels-flexbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: justify;

        div {
            flex: 1 1 50%;
            box-sizing: border-box;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-text {
            padding: 30px;
        }

    }

    &__label-title {
        font-style: italic;
        font-family: Merriweather;
        font-weight: bold;
        font-size: 25px;
        margin: 0 0 21px 0;
    }

    &__suits {
        display: flex;
        box-sizing: border-box;
        justify-content: center;

        div {
            box-sizing: border-box;
        }

        &-item {
            flex: 0 1 50%;
            margin: 38px 0;

            img {
                max-width: 100%;
            }

            &:first-child {
                padding: 0 65px 0 0;
            }

            &:last-child {
                border-left: 1px solid #e4e0e0;
                padding: 0 0 0 65px;
            }
        }
    }
}

@media screen and (max-width: $cms-lg-brkpt) {
    .about-us-wrapper {

        &__styling-box {
            margin: 50px 0;
        }

        &__special-box {

            &--left {
                padding: 0;

                div[class*='special-box-r1'], div[class*='special-box-r3'] {
                    display: inline-block;
                }

                div[class*='special-box-r2'] {
                    display: flex;
                }
            }

            &--right {
                display: none;
                }

            &-l1 {
                margin: 0 0 20px auto;
            }

            &-r1 {
                display: inline-block;
                padding-bottom: 30px;
            }

            &-l2-bottom {
                margin-bottom: 40px;
            }

            &-r2 {
                margin-bottom: 30px;
            }

            &-l3 {
                max-height: none;
            }

            &-r3 {
                width: 400px;
                margin: 0;
            }
        }

        &__labels-flexbox {

            div {
                flex: 1 1 100%;
                box-sizing: border-box;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            div:nth-child(3){
                order:1;
            }

            &-text {
                max-width: 470px;
            }


        }
    }
}

@media screen and (max-width: $cms-md-brkpt) {
    .about-us-wrapper {
        &__suits {
            flex-wrap: wrap;

            &-item {
                margin: 38px 0;
                flex: 0 1 100%;
                text-align: center;

                img {
                    max-width: 100%;
                }

                &:first-child {
                    padding: 0;
                }

                &:last-child {
                    border-left: none;
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: $cms-sm-brkpt) {
    .about-us-wrapper {

        &__text-box {
            div {
                flex: 1 1 100%;
            }
        }

        &__box {
            padding: 0 0 15px 0;
        }

        &__special-box {
            width: 100%;

            .about-us-wrapper__special-box-boldandborder {
                width: 80%;
                padding: 15px 0;
            }

            &--left {
                div[class*='special-box-r2'] {
                    display: inline-block;
                }
            }

            div {
                margin: 0;
                padding: 0;
                width: 100%;
                max-width: none;
                max-height: none;

                img {
                    max-width: none;
                    max-height: none;
                    margin: 15px 0;
                }
            }
        }
    }
}



