.about-banner {
    padding: 20px;
    min-height: 50px;
    max-height: 215px;
    height: 22vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 40px;
    background-position: center center;


    &__txt-wrap {
        font-size: 48px;
        line-height: 57px;
        text-align: center;

        span {
            display: inline-block;
        }
    }

    &__next-txt {
        margin: 0 20px 0 10px;
        vertical-align: top;
        font-weight: 300;
        font-size: 30px;
    }

    &__custom-txt {
        text-transform: uppercase;
        font-weight: bold;
    }
}

@media screen and (max-width: $cms-sm-brkpt) {
    .about-banner {
        height: auto;

        &__txt-wrap {
            font-size: 30px;
        }
    }
}

