.menu-about {

    padding-bottom: 30px;

    .about-block {
        position: relative;

        &__image {
            width: 100%;

            img {
                min-height: 300px;
                width: 100%;
                object-fit: cover;
            }
        }

        &__video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-height: 1230px;

            iframe {
                width: 100%;
                height: 100%;
            }

            &-shadow {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%);
            }

        }

        &__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;

            h1 {
                font-family: league_gothic;
                font-size: 50px;
                font-weight: normal;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            span {
                font-size: 25px;
                font-family: "Merriweather",serif;
                font-style: italic;
                text-transform: none;
            }
        }
    }

    ul {
        text-align: center;
        border-bottom: 1px solid #e4e0e0;
        padding: 40px 0;

        li {
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            padding: 0 33px;
            border-right: 1px solid #000;


            a {
                color: #222;

                &:hover {
                    color: #999;
                }
            }
        }

        li:last-child {
            border-right: none;
        }
    }



    $menu-pages: ('.about_us', '.our-design', '.our-labels', '.our-mills', '.sustainability');
    $uls: ();
    $lis: ();

    @each $item in $menu-pages {
        ul#{$item} {
            li#{$item} {
                a {
                    text-decoration: underline;
                    color: #999;
                }
            }
        }
    }
}

@media screen and (max-width: $cms-md-brkpt) {
    .menu-about ul li {
        font-size: 18px;
        padding: 0 15px 0 15px;

    }

}

@media screen and (max-width: $cms-sm-brkpt) {
    .menu-about ul li {
        width: 100%;
        padding: 10px 15px 10px 15px;
        border: none;
        box-sizing: border-box;
    }
}

