.menu-about {
    text-align: center;
    border-bottom: 1px solid #e4e0e0;
    padding: 40px 0;

    li {
        display: inline-block;
        font-size: 20px;
        padding: 0 33px;
        border-right: 1px solid #000;

        a {
            color: #222;

            &:hover {
                color: #999;
            }
        }
    }

    li:last-child {
        border-right: none;
    }

    $menu-pages: ('.about_us', '.our-design', '.our-labels', '.our-mills', '.sustainability');
    $uls: ();
    $lis: ();

    @each $item in $menu-pages {
        ul#{$item} {
            li#{$item} {
                a {
                    text-decoration: underline;
                    color: #999;
                }
            }
        }
    }
}
