.slider-with-text {
    margin: 50px 0;
    width: 100%;
    position: relative;

    &__label {
        position: absolute;
        top: 13%;
        z-index: 3;
        font-family: league_gothic;
        font-weight: bold;
        font-size: 4.75vw;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    &__img {
        img {
            width: 100%;
        }
    }

    &__text {
        position: absolute;
        text-align: center;
        top: 33%;
        right: 11%;
        font-weight: bold;

        &--title {
            font-style: italic;
            font-size: 2vw;
            margin-bottom: 1vh;
            line-height: 2.3rem;
            font-family: Merriweather
        }

        &--desc {
            font-size: 1vw;
            margin-bottom: 1vh
        }

    }

    &__slides {
        width: 100%;
    }

    .slick-initialized .slick-slide {
        display: block;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translate(0%, -100%);
    }

    .slick-prev {
        @include sprite(abt-arrw-left);
        left: 20px;
        z-index: 2;
    }

    .slick-next {
        @include sprite(abt-arrw-right);
        right: 20px;
        z-index: 2;
    }


}