league_gothic
@font-face {
    /*font-family: 'league_gothiccondensed_italic';*/
    font-family: 'league_gothic';
    font-style: italic;
    font-weight: bold;
    src: url('leaguegothic-condenseditalic-webfont.eot');
    src: url('leaguegothic-condenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('leaguegothic-condenseditalic-webfont.woff2') format('woff2'),
    url('leaguegothic-condenseditalic-webfont.woff') format('woff'),
    url('leaguegothic-condenseditalic-webfont.ttf') format('truetype'),
    url('leaguegothic-condenseditalic-webfont.svg#league_gothiccondensed_italic') format('svg');
}




@font-face {
    /*font-family: 'league_gothicCnRg';*/
    font-family: 'league_gothic';
    font-weight: bold;
    font-style: normal;
    src: url('leaguegothic-condensedregular-webfont.eot');
    src: url('leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
    url('leaguegothic-condensedregular-webfont.woff2') format('woff2'),
    url('leaguegothic-condensedregular-webfont.woff') format('woff'),
    url('leaguegothic-condensedregular-webfont.ttf') format('truetype'),
    url('leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
}




@font-face {
    /*font-family: 'league_gothicitalic';*/
    font-family: 'league_gothic';
    font-style: italic;
    font-weight: normal;
    src: url('leaguegothic-italic-webfont.eot');
    src: url('leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('leaguegothic-italic-webfont.woff2') format('woff2'),
    url('leaguegothic-italic-webfont.woff') format('woff'),
    url('leaguegothic-italic-webfont.ttf') format('truetype'),
    url('leaguegothic-italic-webfont.svg#league_gothicitalic') format('svg');
}




@font-face {
    /*font-family: 'league_gothicregular';*/
    font-family: 'league_gothic';
    font-weight: normal;
    font-style: normal;
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('leaguegothic-regular-webfont.woff2') format('woff2'),
    url('leaguegothic-regular-webfont.woff') format('woff'),
    url('leaguegothic-regular-webfont.ttf') format('truetype'),
    url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
}