body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: 12px;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

* {
    outline: none;
}

.page-wrapper {
    overflow: hidden;

    @media all and (min-width: 860px) {
        overflow: visible;
    }
}

.no-display {
    display: none;
}

.ui-effects-wrapper {
    display: block;
}

.modal-custom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);

    input {
        @include form-element();
    }

    .modal-inner-wrap {
        display: inline-block;
    }
}

.custom-slide {
    position: fixed;
    right: 50%;
    top: 50%;
    visibility: hidden;
    z-index: 900;
    transform: translate(50%, -50%);
}

.custom-slide._show {
    visibility: visible;
}

._block-content-loading {
    position: relative;
}

body[class~='page-product-configurable'],
body[class~='page-product-amgifcard'],
body[class~='catalog-product-view']{

    .page-wrapper {
        overflow: hidden;
    }
}