body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: 12px;
}

.no-display {
    display: none;
}

.custom-slide {
    position: fixed;
    right: 50%;
    top: 50%;
    visibility: hidden;
    z-index: 900;
    transform: translate(50%, -50%);
}
.custom-slide._show {
    visibility: visible;
}

.size-chart {
    display: none;
}
