<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method checkout__shipping-option" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="button"
               name="payment[method]"
               class="checkout__shipping-button"
               data-bind="attr: {'id': getCode()},
                                  value: 'choose',
                                  checked: isChecked,
                                  click: function() {selectPaymentMethod(); continueToPayPal()},
                                   visible: isRadioButtonVisible()" />
        <label for="paypal_express" class="checkout__pp-img"></label>

    </div>
</div>
