<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method__choice payment-method__choice--paypal payment-method-title field choice ">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: function() {selectPaymentMethod(); continueToPayPalAlt()}, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="payment-method__wrapper">
            <span class="payment-method__image payment-method__image--paypal"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <fieldset class="payment-method__paypal" data-bind='attr: {id: "payment_form_" + getCode()}'>
            <div class="payment-method-note">
                <!-- ko i18n: 'You will be redirected to the PayPal website.' --><!-- /ko -->
            </div>
            <!-- ko template: 'Magento_Paypal/payment/express/billing-agreement' --><!-- /ko -->
        </fieldset>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="payment-method__paypal actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        id="paypal-button"
                        type="submit"
                        data-bind="
                            click: continueToPayPalAlt,
                            enable: (getCode() == isChecked()),
                            visible: (getCode() == isChecked()),
                            afterRender: moveButt('paypal-button')"
                        disabled>
                    <span data-bind="i18n: 'Place your order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
