<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-option-content" data-role="content">
    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <span class="checkout__discount-title" data-bind="i18n: 'Enter discount code'"></span>
    <form class="form form-discount checkout__discount-form" id="discount-form">
        <div class="payment-option-inner">
            <div class="field">
                <div class="control">
                    <input class="input-text checkout__discount-input"
                           type="text"
                           id="discount-code"
                           name="discount_code"
                           data-validate="{'required-entry':true}"
                           data-bind="value: couponCode, attr:{placeholder: $t('Enter discount code')} " />
                </div>
            </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <!-- ko ifnot: isApplied() -->
                    <button class="action action-apply checkout__discount-button--apply" type="submit" data-bind="'value': $t('Apply Discount'), click: apply">
                        <span><!-- ko i18n: 'Apply'--><!-- /ko --></span>
                    </button>
                <!-- /ko -->
                <!-- ko if: isApplied() -->
                    <button class="action action-cancel checkout__discount-button--cancel" type="submit" data-bind="'value': $t('Cancel'), click: cancel">
                        <span><!-- ko i18n: 'Cancel coupon'--><!-- /ko --></span>
                    </button>
                <!-- /ko -->
            </div>
        </div>
    </form>
</div>

