/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes

/dev


/app/design/*/Magento

/app/etc/env.php
/app/etc/wp-config.php

/app/i18n/magento



/var

/vendor

/pub

/update

/*.*
!/index.php
!/composer.json
!/composer.lock
!/README.md
!/*.sh
!build.js

/wp/wp-content/uploads