/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes

/dev

/app/code/Magento
/app/code/Amasty
/app/code/PandaGroup
/app/code/PL
/app/code/Polcode

/app/design/*/Magento

/app/etc

/app/i18n/magento

/wp/wp-config.php

/var

/vendor

/pub

/update

/*.*
!/index.php
!/composer.json
!/composer.lock
!/README.md
!/*.sh
