<!--@subject Your Gift certificate has been sended @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var recipient_name":"Recipient name",
"var sender_name":"Sender name",
"var sender_message":"Sender message",
"var initial_value":"Initial value",
"var currency_code":"Currency code"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header_template"}}
<table cellspacing="0" cellpadding="0" class="message-container">
    <tr>
        <td>
            Dear {{var sender_name}},<br>
            <br>
            You purchased a {{var initial_value}}{{var currency_code}} gift card for {{var recipient_name}} at {{var store.getFrontendName()}}.<br>

            {{if sender_message}}
            Your message:<br>
            <br>
            {{var sender_message}}<br>
            {{/if}}

            <br>
            Look forward to seeing you at our store.
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}