$between: 40px;

.careers-index-index {
    .breadcrumbs {
        @media all and (max-width: 550px) {
            display: none;
        }
    }
}

.career {
    display: flex;
    margin: 16px 0 88px 0;

    @media all and (max-width: 550px) {
        margin: 0;
    }

    * {
        line-height: 1.3em;
        letter-spacing: 0.7px;
    }

    @media all and (max-width: $bp-header) {
        flex-direction: column;
    }

    &__column {
        width: 50%;
        display: flex;
        flex-direction: column;

        @media all and (max-width: $bp-header) {
            width: 100%;
        }

        &--left {
            padding: 0 0 10px 0;
            margin-right: 74px;
            text-align: justify;
            box-sizing: border-box;

            @media all and (max-width: $bp-header) {
                border-right: 0;
            }
        }
    }

    &__title {
        font-size: 40px;
        font-weight: 500;
        margin: 0 0 15px;

        @media all and (max-width: 550px) {
            display: none;
        }
    }

    &__paragraph {
        font-size: 17px;
        font-weight: 300;
        margin: 0;
        line-height: 19px;
        word-spacing: 0.5em;

        &:first-of-type {
            margin-bottom: 20px;

            @media all and (max-width: 550px) {
                display: none;
            }
        }
    }

    &__form-title {
        margin: 0 0 26px 0;
        font-size: 17px;
        font-weight: 500;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__form-box {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;

        @media all and (max-width: 1002px) {
            flex-direction: column;
            align-items: flex-start;
        }

        &--left {
            display: flex;
            flex: 1;

            @media all and (max-width: 1002px) {
                width: 100%;
            }
        }

        &--right {
            display: flex;
            flex-direction: column;
            height: 53px;
            justify-content: center;
            flex: 1;

            @media all and (max-width: 1002px) {
                margin-top: 10px;
                width: 100%;
                align-items: center;
            }
        }
    }

    &__input {
        height: 40px;
        border: 1px solid #b9b9b9;
        border-radius: 2px;
        background-color: white;
        box-sizing: border-box;
        width: 100%;
        padding: 18px;
        color: #515151;
        font-size: 110%;
        margin-bottom: 12px;

        &:nth-last-of-type(2) {
            margin-bottom: 25px;
        }
    }

    &__file {
        display: none;
    }

    &__file-label {
        width: 205px;
        height: 51px;
        border-radius: 2px;
        background-color: white;
        border: 1px solid #b9b9b9;
        cursor: pointer;
        font-size: 15px;
        margin-top: 15px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;

        @media all and (max-width: 1002px) {
            width: 100%;
        }
    }

    &__cv {
        font-size: 14px;
        color: black;
        margin: 0;

        &:first-of-type {
            font-weight: 500;
        }

        &:nth-child(2n+1) {
            text-transform: uppercase;
        }

        &--file {
            margin: 16px 0;
        }
    }

    &__message {

        &--failure {
            color: red;
        }
    }

    &__submit {
        @include button-black();
        max-width: 100%;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 0;
        font-family: Roboto, arial, sans-serif;
        font-weight: 500;
    }
}
