.smile-elasticsuite-autocomplete-result {

    .autocomplete-list:nth-of-type(2n) {
        height: 260px;
        overflow-y: scroll;
    }

    .product-image-box {
        float: left;
    }

    .product-shop {
        float: left;
        margin: 10px 10px 0 10px;
        padding: 0;
        white-space: normal;
    }

    .product-item {
        .price-box {
            margin: 5px 0;
        }
    }

    .category-mini-crumb {
        font-style: italic;
        display: block;
        margin-bottom: 0.2em;
        font-size: 85%;
        color: #929292;
    }

    .product-attribute-label {
        text-transform: uppercase;
        vertical-align: super;
        font-size: 63%;
        color: #777;
    }

    .price-box {
        span.old-price {
            display:block;
        }
    }
}