<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

<!-- LOGGER -->

	<type name="Light4website\AttributeSetFixer\Logger\Handler">
		<arguments>
			<argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
		</arguments>
	</type>
	<type name="Light4website\AttributeSetFixer\Logger\Logger">
		<arguments>
			<argument name="name" xsi:type="string">Light4website/AttributeSetFixer</argument>
			<argument name="handlers"  xsi:type="array">
				<item name="system" xsi:type="object">Light4website\AttributeSetFixer\Logger\Handler</item>
			</argument>
		</arguments>
	</type>

</config>

