body[class~='guest-wishlist-index-index'] {

    .page-main__title {
        display: flex;
        justify-content: center;
        font-family: league_gothic;
        font-size: 2.4em;
        line-height: 65px;

        h1 {
            font-weight: 400;
        }
    }

    .actions-toolbar {

        .secondary {
            padding: 0 15px 0 15px;
        }

        a {
            font-size: 13px;
            font-family: Roboto;
            text-transform: none;
            font-weight: 400;
            color: #222;

            &:hover {
                color: $grey-dark;
            }
        }
    }
}

.wishlist {

    &__back {
        color: $black-light;

        &:hover {
            color: $grey-dark;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 40px 0 40px 0;
    }

    &__item {
        width: 30%;
        cursor: default;
        margin: 0 0 40px 0;

        @media all and (max-width: $bp-header) {
            width: 50%;
        }

        @media all and (max-width: 550px) {
            width: 100%;
        }

        &:hover .wishlist__name {
            color: $grey-dark;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        font-size: 17px;
        color: $black-light;
        text-transform: uppercase;
        margin: 40px 0 20px 0;
        display: block;

        &:hover {
            color: $grey-dark;
        }
    }

    &__button {
        @include button-blue();
        box-sizing: border-box;
        width: 100%;
        max-width: 210px;
        height: 45px;
    }

    &__remove {
        width: 100%;
        display: block;
        text-align: center;
        color: #b0afaf;
        font-weight: bold;
        margin: 10px 0;
        text-transform: uppercase;
    }

    .price-box {
        font-size: 24px;
        font-weight: 300;
    }

    .product-item-inner {
        width: 100%;
    }

    .actions-primary {
        display: flex;
        justify-content: center;
    }

    .product-image-wrapper {
        padding-bottom: 0 !important;
    }
}
