body[class~='catalog-product-view'] {
    div.wishlist-message {
        top: 55px;
        right: -20px;
    }
}

.wishlist-message {
    @include info-popup-mirrored(55px, -9px);
    display: none;
    box-shadow: 1px 1px 5px $grey;

    @media all and (max-width: $bp-header) {

    }

    @media all and (max-width: $bp-header-s) {
        right: -6px;
    }

    @media all and (max-width: $xs-breakpoint) {
        right: -19px;
    }


    &__inner {
        background: #fff;
        width: 268px;
        max-width: 68vw;
        z-index: 999;
        color: #515151;
        box-sizing: border-box;
    }

    &--pdp {
        top: 54px;
        right: -22px;
    }
}


