body[class~='guest-wishlist-index-index'] {

    .page-main__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Roboto, sans-serif;
        font-size: 20px;
        background: #f7f7f7;
        height: 135px;

        h1 {
            font-weight: 500;
        }
    }

    .actions-toolbar {

        .secondary {
            padding: 0 15px 0 15px;
        }

        a {
            font-size: 13px;
            font-family: Roboto;
            text-transform: none;
            font-weight: 400;
            color: #222;

            &:hover {
                color: $grey-dark;
            }
        }
    }
}

.wishlist {

    &__back {
        color: $black-light;

        &:hover {
            color: $grey-dark;
        }
    }

    &__list {
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 75px 0 40px 0;
    }

    &__item {
        width: 30%;
        cursor: default;
        margin: 0 0 40px 0;

        @media all and (max-width: $bp-header) {
            width: 50%;
        }

        @media all and (max-width: 550px) {
            width: 100%;
        }

        &:hover .wishlist__name {
            color: $grey-dark;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        font-size: 17px;
        color: $black-light;
        margin: 40px 0 12px 0;
        display: block;

        &:hover {
            color: $grey-dark;
        }
    }

    &__button {
        @include button-black($height: 55px, $margin-top: 58px, $font-size: 18px);
        box-sizing: border-box;
        width: 100%;
        max-width: 210px;
        height: 45px;
        border-radius: 2px;
        font-size: 15px;
        font-weight: 500;
    }

    &__remove {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        width: 100%;
        display: block;
        text-align: center;
        color: black;
        margin: 25px 0 0 0;
    }

    .price-box {
        font-size: 17px;
        font-weight: 400;

        p {
            margin: 0 0 25px 0;
        }
    }

    .product-item-inner {
        width: 100%;

        .unavailable {
            text-align: center;
            color: red;
        }
    }

    .actions-primary {
        display: flex;
        justify-content: center;
    }

    .product-image-wrapper {
        padding-bottom: 0 !important;
    }

    .product-item-tooltip {
        span {
            display: none;
        }
        
        strong {
            display: none;
        }

        dl {
            @include pdp-form-elements();
            padding: 0 34px;
            width: 140px;
            max-width: 100%;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            height: 45px;
        }
    }
}

// Account Dashboard Wishlist
body[class~='account'] {

    .wishlist {

        &__back {
            display: none;
        }

        &__item {
            width: 32%;
            cursor: default;
            margin: 0 30px 40px 0;

            @media all and (max-width: $sm-breakpoint) {
                width: 45%;
            }
        }

        &__name {
            text-align: center;
        }
    }

}
