<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="amgiftcard" frontName="amgiftcard">
            <module name="Amasty_GiftCard" />
        </route>
    </router>
</config>
