<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="minicart">

<!-- ko if: getCartParam('summary_count') -->
    <div data-action="scroll" class="minicart__items-wrapper">
        <ol id="mini-cart" class="minicart__items" data-bind="foreach: { data: getCartParam('items'), as: 'item' }">
            <!-- ko foreach: $parent.getRegion($parent.getItemRenderer(item.product_type)) -->
                <!-- ko template: {name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}} --><!-- /ko -->
            <!-- /ko -->
        </ol>
    </div>
<!-- /ko -->
<!-- ko ifnot: getCartParam('summary_count') -->
    <div class="minicart__no-items" data-bind="visible: closeSidebar()">
        <!-- ko i18n: 'You have no items in your shopping cart.' --><!-- /ko -->
    </div>

<!-- /ko -->

    <div class="minicart__summary">
        <!-- ko if: getCartParam('summary_count') -->

        <!-- ko foreach: getRegion('extraInfo') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <!-- ko if: getCartParam('possible_onepage_checkout') -->
        <!-- ko foreach: getRegion('subtotalContainer') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: getCartParam('possible_onepage_checkout') -->
        <!-- /ko -->
        <!-- /ko -->
    </div>

    <div class="minicart__view-cart">
        <a class="action viewcart minicart__button--view-cart" data-bind="attr: {href: shoppingCartUrl}">
            <span><!-- ko i18n: 'View shopping bag' --><!-- /ko --></span>
        </a>
    </div>

    <div class="minicart__buttons">

        <div class="minicart__paypal">
            <span><!-- ko i18n: 'Checkout with' --><!-- /ko --></span>
            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal" />
        </div>

        <button
                id="top-cart-btn-checkout"
                type="button"
                class="action primary checkout minicart__button--checkout"
                data-bind="attr: {title: $t('Go to Checkout')}">
            <!-- ko i18n: 'Checkout' --><!-- /ko -->
        </button>

    </div>

    <div id="minicart-widgets" class="minicart-widgets">
        <!-- ko foreach: getRegion('promotion') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
<!-- ko foreach: getRegion('sign-in-popup') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
</div>
