<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="guest-wishlist" instance="PandaGroup\GuestWishlist\Observer\CustomerLogin" />
    </event>
    <event name="wishlist_save_after">
        <observer name="remove-guest-wishlist" instance="PandaGroup\GuestWishlist\Observer\RemoveGuestWishlist" />
    </event>
</config>
