<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Update to your %store_name invoice" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var billing.getName()":"Guest Customer Name",
"var comment":"Invoice Comment",
"var invoice.increment_id":"Invoice Id",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status"
} @-->
{{template config_path="design/email/header_template"}}

<div class="order-confirmation-wrap" style="border-collapse: collapse; border-spacing: 0; background:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">

        <tr>
            <td align="center" valign="top" style="padding:0; ">
                <table class="table-width-wrap" cellspacing="0" cellpadding="0" border="0" width="602"
                       style="border-collapse: collapse; border:0px; margin: 0px; padding: 0px; background-color: #FFF;">
                    <tr>
                        <td>
                            <p style="font-size:42px; padding:30px 18px 50px 18px; line-height:20px; text-align:center; color:#000000;margin-bottom: 0;font-family: sofia-pro,sans-serif;font-style:normal;font-weight:400;letter-spacing: -1px;">Dear {{var billing.getName()}},</p>
                        </td>
                    </tr>
                </table>

                <table class="table-width-wrap" cellspacing="0" cellpadding="0" border="0" width="602" height="41">
                    <tbody>
                    <!-- <tr style="width: 100%; display: inline-block; height: 41px; font-size: 18px; text-align: center;"> -->
                    <td class="table-width-wrap-half" style="text-align: center; max-width: 602px; background: #EBEBEB; padding: 15px 10px 5px 10px;" valign="top" align="left">
                        <p style="text-align:center;font-size: 17px;padding: 0 0 0 0;font-family: sofia-pro,sans-serif;font-style:normal;font-weight:400;color: #000000;">YOUR ORDER # {{var order.increment_id}} STATUS IS: <strong>{{var order.getStatusLabel()}}</strong>.</p>
                    </td>
                    <!-- </tr> -->
                    </tbody>
                </table>

                <table class="table-width-wrap" cellspacing="0" cellpadding="0" border="0" width="602"
                       style="border-collapse: collapse; border:0px; margin: 0px; margin-top: 20px;margin-bottom: 40px; padding: 0px; background-color: #FFF;">
                    <tr>
                        <td style="font-size: 17px;font-family: sofia-pro,sans-serif;font-style:normal;font-weight:200;color: #000000;text-align: center;">
                            <br/>
                            You can check the status of your order by<br> <a href="{{store url="customer/account/"}}" style="color:#6797d7; text-decoration: none;">logging into your account</a>.<br />
                            <p >Your Invoice #{{var invoice.increment_id}}<br> for Order #{{var order.increment_id}} has been updated.</p>
                            <p style="margin: 5px 0 15px 0">{{var comment}}</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

</div>

{{template config_path="design/email/footer_template"}}