@font-face {
    font-family: 'HlvtcNeueBdCndnsd';
    src: url('helveticaneueltstd-bdcn.eot');
    src: url('helveticaneueltstd-bdcn.eot') format('embedded-opentype'),
         url('helveticaneueltstd-bdcn.woff') format('woff'),
         url('helveticaneueltstd-bdcn.ttf') format('truetype'),
         url('helveticaneueltstd-bdcn.svg#HlvtcNeueBdCndnsd') format('svg');
}
