<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MagicToolbox_Magic360" setup_version="1.0.1">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_ProductVideo"/>
            <module name="Magento_ConfigurableProduct"/>
            <module name="Magento_Swatches"/>
            <module name="MagicToolbox_MagicThumb"/>
            <module name="MagicToolbox_MagicZoom"/>
            <module name="MagicToolbox_MagicZoomPlus"/>
            <module name="MagicToolbox_MagicScroll"/>
            <module name="MagicToolbox_MagicSlideshow"/>
        </sequence>
    </module>
</config>
