.brownlow {
    &__text-wrapper {
        max-width: 750px;
        margin: 65px auto;
        text-align: center;
        font-family: Roboto, "Times New Roman", arial, sans-serif;
    }

    &__text {
        font-size: 18px;
        font-weight: normal;
        line-height: 28px;
    }

    h1 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    &__video-wrapper {
        position: relative;
        padding-bottom: 55%;
        padding-top: 25px;
        height: 0;
        margin-bottom: 80px;
    }

    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

