$between: 40px;

.cms-career {

    .page-main__title {

        h1 {
            text-align: center;
            font-size: 54px;
            font-family: league_gothic;
            font-weight: normal;
            margin: 20px 0 0 0;
        }
    }
}

.career {
    display: flex;
    margin-bottom: 20px;

    @media all and (max-width: $bp-header) {
        flex-direction: column;
    }

    &__column {
        width: 50%;
        display: flex;
        flex-direction: column;

        @media all and (max-width: $bp-header) {
            width: 100%;
        }

        &--left {
            padding: 0 $between 10px 0;
            margin-right: $between;
            border-right: 1px solid $grey;
            align-self: baseline;
            box-sizing: border-box;

            @media all and (max-width: $bp-header) {
                border-right: 0;
            }
        }
    }

    &__title {
        text-transform: uppercase;
        font-family: league_gothic;
        font-weight: normal;
        font-size: 42px;
        margin: 0 0 15px;
    }

    &__paragraph {
        font-size: 15px;
    }

    &__form-title {
        margin: 7px 0;
        font-size: 15px;
        line-height: 1.3em;
        font-weight: 500;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        background: #efefef;
        color: #afafaf;
        border: 0;
        border-radius: 4px;
        margin: 0 0 15px 0;
        padding: 12.5px 7.5px;
    }

    &__file {
        display: none;
    }

    &__file-label {
        align-self: baseline;
        padding: 4px 10px;
        border: 1px solid $black-light;
        color: $black-light;
        border-radius: 7px;
        cursor: pointer;
        font-size: 9px;
        margin-top: 15px;
    }

    &__cv {
        color: $grey-dark;
        margin: 0;
        text-transform: uppercase;
    }

    &__submit {
        @include button-custom($mg: 30px 0, $pd: 15px 0, $bg: $grey-dark, $fontsize: 12px);
        max-width: 300px;
        width: 100%;
        align-self: baseline;
    }
}
