.cms-contact-us {
    .breadcrumbs {
        @media all and (max-width: $sm-breakpoint) {
            display: none;
        }
    }
}

.contact-us {
    display: flex;
    justify-content: space-between;
    margin-bottom: 83px;

    * {
        box-sizing: border-box;
    }

    &__title {
        font-size: 40px;
        font-weight: 400;
        margin: 33px 0 18px 0;
    }

    &__left {
        margin-right: 6vw;
        color: #242424;
        flex: 0 1 441px;
    }

    &__paragraph {
        font-size: 18px;
        font-weight: 300;
        margin: 0;

        &:first-of-type {
            margin-bottom: 14px;
            line-height: 25px;
            max-width: 100%;
        }

        &:nth-of-type(2) {
            margin-bottom: 52px;
            line-height: 21px;
        }
    }

    &__address {
        font-style: normal;
        font-size: 17px;
        border-top: 1px solid rgba(4, 5, 5, 0.35);
        letter-spacing: 0.5px;
        display: flex;
        flex-direction: column;
        height: 193px;
        justify-content: flex-end;

        p {
            margin: 0;
            font-weight: 300;

            &:first-of-type {
                font-weight: 500;
            }
        }

        span {
            font-weight: 400;
        }
    }

    &__right {
        flex: 0 1 471px;
        border: 0;
        padding: 35px 2px 0 0;

        form {
            display: flex;
            flex-direction: column;
        }
    }

    &__input, &__textarea {
        @include form-element();
        margin-bottom: 12px;
        resize: none;
    }

    &__textarea {
        resize: none;
        padding: 10px 18px;
        height: 168px;

        text.placeholder {
            text-align: center;
        }
    }

    .field.comment.required {
        textarea {
            line-height: 34px;
        }
    }

    &__button {
        @include button-black();
        max-width: 100%;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 0;
    }

    @media all and (max-width: $sm-breakpoint) {
        display: block;

        &__title {
            display: none;
        }

        &__left {
            width: 100%;
            margin-bottom: 30px;
            padding-right: 0;
        }

        &__right {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
}

