$bp: 680px;

.cms-contact-us {
    .breadcrumbs {
        @media all and (max-width: $bp) {
            display: none;
        }
    }
}

.contact-us {
    display: flex;
    margin-bottom: 83px;

    @media all and (max-width: $bp) {
        flex-direction: column;
    }

    &__title {
        font-size: 40px;
        font-weight: 500;
        margin: 0 0 18px 0;

        @media all and (max-width: $bp) {
            display: none;
        }
    }

    &__left {
        padding-right: 124px;
        width: calc(57% - 50px);
        color: #242424;

        @media all and (max-width: $bp) {
            width: 100%;
            margin-bottom: 30px;
            padding-right: 0;
        }
    }

    &__paragraph {
        font-size: 17px;
        font-weight: 300;
        margin: 0;

        &:first-of-type {
            margin-bottom: 21px;
        }

        &:nth-of-type(2) {
            margin-bottom: 52px;
        }
    }

    &__address {
        font-style: normal;
        font-size: 17px;
        border-top: 1px solid rgba(4, 5, 5, 0.35);
        letter-spacing: 0.5px;
        display: flex;
        flex-direction: column;
        height: 193px;
        justify-content: flex-end;

        p {
            margin: 0;
            font-weight: 300;

            &:first-of-type {
                font-weight: 500;
            }
        }

        span {
            font-weight: 400;
        }
    }

    &__right {
        width: 50%;

        form {
            display: flex;
            flex-direction: column;
        }

        @media all and (max-width: $bp) {
            width: 100%;
        }
    }

    &__input, &__textarea {
        @include form-element();
        margin-bottom: 12px;
    }

    &__textarea {
        resize: none;
        padding: 10px;
        height: 168px;
    }

    &__button {
        @include button-black();
        max-width: 100%;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 0;
    }
}

