@mixin arrows {
    width: 20px;
    height: 20px;
    border-color: #363738;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    z-index: 1;
}

@mixin prev {
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 10px;
}

@mixin next {
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-135deg);
    right: 10px;
}

body[class~='cms-home'] {
    .block-photo-slider .slides li > a .text button {
        font-family: Roboto, arial, sans-serif;
        width: 164px;
        height: 27px;
        border-radius: 2px;
        border: 1px solid white;
        background-color: transparent;
        text-transform: uppercase;
        color: white;
        font-size: 11px;
        font-weight: bold;
        display: block;
        margin: 10px auto 0;
        box-shadow: none;
        cursor: pointer;
        padding: 0 !important;

        @media all and (max-width: 1200px) {
            width: 100px;
        }

        @media all and (max-width: 700px) {
            width: 70px;
        }

        @media all and (max-width: 600px) {
            width: 70px;
        }

        @media all and (max-width: 373px) {
            display: none;
        }
    }

    .block-photo-slider .slides li > a .overlay {
        @media all and (max-width: 373px) {
            display: none;
        }
    }

    .block-title > p {
        font-family: Lato, arial, sans-serif;
        font-size: 17px;
        color: #363636;
        margin: 0 0 30px 0;

        @media all and (max-width: $medium_view) {
            font-size: 12pt;
        }

        @media all and (max-width: 560px) {
            font-size: 14px;
        }
    }

    .block-title > h2 {
        text-align: center;
        color: #3f3e3e;
        font-size: 44px;
        font-weight: 500;
        margin: 10px 0 22px 0;

        @media all and (max-width: $medium_view) {
            font-size: 26pt;
        }

        @media all and (max-width: 560px) {
            font-size: 25px;
        }
    }


    .widget__slider-title {
        text-align: center;
        color: #3f3e3e;
        font-size: 26pt;
        font-weight: 400;

        @media all and (max-width: 560px) {
            font-size: 25px;
            font-weight: 500;
        }
    }

    .widget__slider-item {
        display: flex;
        justify-content: center;
    }

    .slider__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slider__item-box {
        margin: 15px 0 0 0;
        text-align: center;
        padding: 0 30px;
        display: flex;
        flex-direction: column;

        @media all and (max-width: $xs-breakpoint) {
            padding: 0 15px;
        }
    }

    .amquickview-hover {
        height: 40px;
        padding: 0;
        z-index: 1;

        @media all and (max-width: $xs-breakpoint) {
            width: 90%;
        }
    }

    .amquickview-link {
        height: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .slick-dots {
        //display: none !important;
        display: flex;
        justify-content: center;
        padding-top: 40px;

        button {
            background-color: #acacac;
            border: none;
            height: 7px;
            font-size: 16px;
            text-indent: -9999px;
            border-radius: 10px;
            cursor: pointer;
            outline: none;
            margin-left: 5px;
            padding: 4px;

        }

        @media all and (max-width: $xs-breakpoint) {
            padding-top: 15px;
        }
    }

    @media all and (max-width: $sm-breakpoint) {
        .slick-dots li {
            display: none;
        }

        .slick-dots li.slick-active,
        .slick-dots li.slick-active + li,
        .slick-dots li.slick-active + li + li {
            display: block;
        }

        .slick-dots li:nth-last-child(1),
        .slick-dots li:nth-last-child(2),
        .slick-dots li:nth-last-child(3) {
            display: block;
        }

        .slick-dots li.slick-active ~ li:nth-last-child(1),
        .slick-dots li.slick-active ~ li:nth-last-child(2),
        .slick-dots li.slick-active ~ li:nth-last-child(3) {
            display: none;
        }

        .slick-dots li.slick-active + li + li:nth-last-child(3),
        .slick-dots li.slick-active + li + li:nth-last-child(2),
        .slick-dots li.slick-active + li + li:nth-last-child(1),
        .slick-dots li.slick-active + li:nth-last-child(3),
        .slick-dots li.slick-active + li:nth-last-child(2),
        .slick-dots li.slick-active + li:nth-last-child(1) {
            display: block;
        }
    }

    .slick-slide img {

        @media all and (max-width: $xs-breakpoint) {
            max-height: 200px;
            max-width: 160px;
        }
    }

    .widget__slider {
        padding: 2% 9%;

        @media all and (max-width: 560px) {
            padding: 2%;
        }
    }

    .price-box {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        padding-top: 10px;

        .old-price {
            margin-right: 6px;
        }

        .price {
            font-size: 17px;
            font-family: Roboto;
            font-weight: 300;
        }

        .price-box {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
        }

        .special-price {
            border-left: 1px solid black;
            padding-left: 6px;
        }

        .old-price,
        .price,
        .price-box,
        .special-price {

            @media all and (max-width: $xs-breakpoint) {
                font-size: 13px;
            }
        }
    }

    .slider__item-name {
        font-size: 18px;
        color: black;
        flex: 0 0 auto;

        @media all and (max-width: $xs-breakpoint) {
            font-size: 13px;
        }
    }

    button,
    button::after {
        transition: all 0.3s;
    }

    button {
        font-family: Roboto, sans-serif;
        border-radius: 3px;
        font-weight: 500;
        color: white;
        font-size: 9pt;
        padding: 9px 31px;
        border: 1px solid white;
        text-decoration: none;
        background: none;
        position: relative;
        z-index: 0;
        line-height: 100%;
        text-transform: uppercase;
        cursor: pointer;
        transform: translateZ(0);

        @media all and (max-width: 560px) {
            border-radius: 0;
        }
    }

    button::before,
    button::after {
        background: #fff;
        content: '';
        position: absolute;
        z-index: -1;

        @media all and (max-width: 560px) {
            background: transparent;
        }
    }

    button:hover {
        color: black;
        z-index: 1;

        @media all and (max-width: 560px) {
            color: white;
        }
    }

    .btn::after {
        height: 100%;
        left: 0;
        top: 0;
        width: 0;
    }

    .btn--padding {
        margin: 7% 0 2em 10.9em;

        @media all and (max-width: 1260px) {
            margin: 3% 0 2em 10.6em;
        }

        @media all and (max-width: 975px) {
            margin: 3% 0 2em 9.4em;
        }

        @media all and (max-width: 767px) {
            margin: 3% 0 2em 5.3em;
        }

        @media all and (max-width: 560px) {
            margin: 2em 0 2em 3.5em;
        }
    }

    .btn-black {
        color: black !important;
        border: 1px solid black !important;
    }

    .btn:hover::after {
        width: 100%;
        color: black;
    }

    .btn-measure {
        margin: 0 0 12em 0;
        background-color: #B98459;
        border: #B98459;
        border-radius: 0;
    }
}

.main-banner {
    background-image: url('../../img/assets/home-11-2017/homepage_june2018.png');
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 84vh;

    &__image {
        padding: 0 0 7% 7%;
    }

    &__header {
        font-weight: 300;
        font-size: 14pt;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        letter-spacing: 0;
        color: white;
        width: 693px;
        padding: 0 0 0 7em;

        p {
            margin: 8px 0;
        }
    }

    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    //&__inner {
    //    display: flex;
    //    padding: 0 0 0 7%;
    //}

    &__content-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        justify-content: center;
        padding: 0 0 0 11em;

        @media all and (max-width: 560px) {
            height: 100%;
        }
    }

    //&__header {
    //    font-family: Times New Roman;
    //    font-size: 26pt;
    //    color: white;
    //    text-transform: uppercase;
    //    margin: 0 0 10px -1px;
    //    letter-spacing: 0;
    //    font-weight: 600;
    //}

    &__text-box {
        margin: 0 0 43px 0;

        @media all and (max-width: 1500px) {
            margin: 0;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 12pt;
        font-family: 'Roboto', sans-serif;
        margin: 0 0 8px 0;
        letter-spacing: 0;
        color: white;
    }
}

.home-banner {
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &--black {
        color: black !important;
    }

    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;

        &--end {
            justify-content: flex-end;
            display: flex;
            height: 100%;
            align-items: center;
        }
    }

    &__inner {
        display: flex;
        margin: 2em 0 0 14em;

        &--end {
            display: flex;
            width: 50%;
            justify-content: flex-start;
        }
    }

    &__content-box {
        margin: 0 4em;
        height: 256px;

        @media all and (max-width: 560px) {
            height: 100%;
        }
    }

    &__header {
        font-family: Times New Roman;
        font-size: 26pt;
        color: white;
        text-transform: uppercase;
        margin: 0 0 10px 0;
        font-weight: 600;

        &--black {
            color: black;
        }

        &--margin-zero {
            margin-bottom: 12px;
        }

        &--mobile {
            font-size: 30px;
            font-family: Times New Roman;
            text-transform: uppercase;
            color: white;
            font-weight: 600;
            margin: 0 0 20px 0;

            &-black {
                font-size: 30px;
                font-family: Times New Roman;
                text-transform: uppercase;
                font-weight: 600;
                margin: 0 0 20px 0;
                color: black;

                &::before {
                    content: '\2012';
                    position: relative;
                    top: 22px;
                    left: -30px;
                }

                p {
                    margin: 0;
                }
            }

            &::before {
                content: '\2012';
                position: relative;
                top: 22px;
                left: -30px;
            }

            p {
                margin: 0;
            }
        }

        p {
            margin: 0;
            letter-spacing: 2px;
        }
    }

    &__text-box {
        margin: 0 0 43px 0;

        @media all and (max-width: 1500px) {
            margin: 0;
        }

        &--mobile {
            font-size: 14px;
            margin: 0;
            color: white;
            font-weight: 300;
            letter-spacing: 2;

            @media all and (min-width: 560px) {
                display: none;
            }

            p {
                font-size: 16pt;
                margin: 0;
                color: white;
                font-weight: 300;
                letter-spacing: 0;
            }
        }

        @media all and (max-width: 560px) {
            &--tactile {
                margin: 0 0 20px 0;
                width: 85%;
            }
        }
    }

    &__text {
        font-weight: 300;
        font-size: 12pt;
        font-family: 'Roboto', sans-serif;
        margin: 0 0 8px 0;
        letter-spacing: 0;
        color: white;
        max-width: 470px;

        @media all and (max-width: 560px) {
            display: none;
        }
    }

    &__image {
        background-position: center;
        width: 96%;
        height: 803px;
        margin: 2% 40px 2% 2%;
        cursor: pointer;

        @media all and (max-width: 560px) {
            &--no-margin {
                width: 100%;
                margin: 0;
            }
        }

        &--elevate {
            background-image: url('../../img/assets/home-11-2017/second-banner.png');
        }

        &--tactile {
            background-image: url('../../img/assets/home-11-2017/tactile.png');
            width: 100%;
            margin: 2% 0 2% 0;
        }

        &--measure {
            background-image: url('../../img/assets/home-11-2017/AW18 - HomePageBanner-MOCKUP-4 (1).jpg');
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        &--shoe {
            background-image: url('../../img/assets/home-11-2017/third-banner.png');
            width: 100%;
            margin: 2% 0 2% 0;
        }
    }
}

.men-guide {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 0 2% 55px 2%;

    &__header {
        text-align: center;
        padding: 20px 2% 55px 2%;

        h1 {
            font-size: 50px;
            font-weight: 600;
            margin: 0;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            margin: 0;
            padding: 15px 0 0 0;
        }
    }

    &__boxes {
        max-width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;

        &--half {
            display: flex;
            justify-content: center;
            width: 50%;
            cursor: pointer;

            &:hover .men-guide-slider__more {
                border-bottom: 1px solid black;
            }

            &:first-of-type {
                padding-right: 20px;
            }
        }
    }
}

.men-guide-slider {
    width: 869px;
    max-width: 100%;
    position: relative;

    &__img {

        img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 700;
        padding: 30px 20px 20px 20px;
        margin: 0;
    }

    &__more {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        display: inline-block;
        text-transform: none;
        padding: 5px 0 5px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        color: black;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        padding: 0 40px;
        margin: 0;
    }

    .slick-initialized .slick-slide {
        display: block;
    }

    .slick-arrow {
        position: absolute;
        top: 39%;
        transform: translate(0%, -50%);

        @media all and (max-width: 1200px) {
            top: 35%;
        }

        @media all and (max-width: 966px) {
            top: 32%;
        }

        @media all and (max-width: 750px) {
            top: 36%;
        }

        @media all and (max-width: 560px) {
            top: 34%;
        }

        @media all and (max-width: 400px) {
            top: 28%;
        }
    }

    .slick-prev {
        left: 20px;
        z-index: 2;

        &::after {
            content: '';
            display: inline-block;
            width: 4em;
            height: 4em;
            border-top: 0.2em solid #fff;
            border-right: 0.2em solid #fff;
            transform: rotate(-135deg);
        }
    }

    .slick-next {
        width: 29px;
        right: 40px;
        z-index: 2;

        &::after {
            content: '';
            display: inline-block;
            width: 4em;
            height: 4em;
            border-top: 0.2em solid #fff;
            border-right: 0.2em solid #fff;
            transform: rotate(45deg);
        }
    }
}

.arrows {
    @include arrows;
}

.prev {
    @include prev;
}

.next {
    @include next;
}

@media all and (max-width: 1500px) {
    .btn-measure {
        margin: 0 0 10em 0;
    }

    .main-banner {
        height: 700px;
        background-size: cover;

        button {
            font-size: 12px;
        }
    }

    .home-banner {
        &__image {
            height: 650px;

            &--measure {
                height: 605px;
            }
        }

        button {
            font-size: 12px;
            padding: 11px 24px;
            margin-top: 20px;
        }
    }
}

@media all and (max-width: 1260px) {
    .btn-measure {
        padding: 11px 10px !important;
        margin: 0 0 8em 0 !important;
    }

    .main-banner {
        height: 615px;
        background-position: 0 0;

        &__header {
            font-size: 12pt;
            padding: 0 0 0 8em;
        }

        &__content-box {
            padding: 0;
        }

        &__inner {
            padding: 0;
        }

        &__image {
            padding: 0 0 3% 7%;
        }

        //&__content-box {
        //    max-width: 560px;
        //    margin: 0 14.2em;
        //}

        button {
            font-size: 12px;
        }
    }

    .home-banner {
        &__image {
            height: 500px;

            &--measure {
                height: 518px;
            }
        }

        &__inner {
            margin: 2em 0 0 1em;

            &--end {
                margin: 0;
                width: 60%;
            }
        }

        &__text-box {
            margin: 0;
        }
    }
}

@media all and (max-width: 975px) {
    .btn-measure {
        margin: 0 0 4em 0 !important;
    }

    .main-banner {
        height: 500px;
        background-position: center top 0;
        background-size: cover;

        &__header {
            padding: 0 0 0 7em;
        }

        &__wrapper {
            justify-content: flex-start;
            padding: 0 2%;
            align-items: center;
        }

        &__image {
            width: 65%;
            padding: 0 0 3% 8%;
        }

        &__content-box {
            margin: 0;
        }
    }

    .home-banner {
        &__image {
            &--measure {
                height: 375px;
            }
        }
    }

    .men-guide {
        padding: 0 2% 25px 2%;

        &__header {
            padding: 20px 2% 40px 2%;

            h1 {
                font-size: 35px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .men-guide-slider {
        &__title {
            font-size: 20px;
        }

        &__more {
            font-size: 14px;
        }

        p {
            font-size: 14px;
        }
    }
}

@media all and (max-width: 750px) {
    .home-banner {
        &__image {
            &--tactile {
                background-position: -200px 1px;
            }
        }
    }

    .main-banner {
        &__content-box {
            margin: 0;
        }
    }

    .men-guide {
        &__boxes {
            display: block;

            &--half {
                display: block;
                width: 100%;

                &:first-of-type {
                    padding: 0 0 35px 0;
                }
            }
        }
    }
}

@media all and (max-width: 767px) {
    .main-banner {
        &__header {
            padding: 0 0 0 4em;
        }

        &__inner {
            max-width: 650px;
        }

        &__image {
            width: 55%;
            padding: 0 0 3% 3%;
        }
    }
}

@media all and (max-width: 560px) {
    .main-banner {
        height: 350px;

        &__header {
            display: none;

            br {
                display: none;
            }
        }

        &__image {
            width: 100%;
        }

        &__text-box {
            display: flex;
            margin: 0;
        }

        &__inner {
            margin: 0 1em;
            padding: 0;
            height: 65%;
        }

        &__content-box {
            margin: 0;
            max-width: 300px;
        }

        img {
            max-width: 100%;
            padding: 0;
        }

        &__wrapper {
            display: flex;
            align-items: center;
            padding: 0;
            justify-content: flex-start;
        }

        &__text {
            font-size: 14px;

            br {
                display: none;
            }
        }

        button {
            background-color: white;
            color: black;
            font-weight: 600;
            margin-top: 10px;
            border-radius: 0;
        }
    }

    .home-banner {
        button {
            background-color: white;
            color: black;
            font-weight: 600;
            margin-top: 10px;
            border-radius: 0;
            margin-bottom: 6px;
            padding: 11px 10px;
            font-size: 13px;
        }

        &__header {
            margin: 0;
            display: flex;

            br {
                display: none;
            }

            &--none {
                display: none;
            }

            .your-style {
                font-size: 30px;
            }

            &--end {
                font-size: 30px;
                text-align: right;
            }

            .elevate {
                font-size: 30px;
            }

            .your {
                font-size: 25px;
            }

            .style {
                font-size: 40px;
            }
        }

        &__wrapper {
            align-items: flex-end;

            &--start {
                align-items: flex-start;
            }

            &--end {
                align-items: flex-end;
                justify-content: flex-end;
                text-align: right;
            }
        }

        &__image {

            &--measure {
                height: 340px;
            }

            &--elevate {
                background-position: 100%;
                height: 350px;
            }

            &--tactile {
                background-position: -160px 0;
                height: 350px;
            }

            &--shoe {
                background-position: -200px 0;
                height: 350px;
            }
        }

        &__text-box {
            display: flex;

            &--none {
                display: none;
            }

            br {
                display: none;
            }

            p {
                font-size: 14px;
                letter-spacing: 0;
                margin: 0 0 20px 0;
                width: 85%;
            }
        }

        &__inner {
            margin: 0;
            width: 100%;
            height: 100%;
        }

        &__content-box {
            margin: 1em 1em;
            padding: 5px 10px 5px 10px;

            @media all and (max-width: 560px) {
                &--centered {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding: 5px 10%;
                }
            }
        }
    }
}

@media all and (min-width: 560px) {
    .home-banner {
        &__header {
            &--mobile {
                display: none;
            }

            &--mobile-black {
                display: none;
            }
        }
    }
}

@media all and (max-width: 480px) {
    .men-guide {
        &__header {
            h1 {
                font-size: 25px;
            }

            p {
                font-size: 13px;
            }
        }
    }
}

@media all and (max-width: 460px) {
    .home-banner {
        button {
            margin-top: 10px;
        }
    }
}

@media all and (max-width: 400px) {
    .home-banner {
        &__header {
            .elevate {
                font-size: 25px;
            }

            .your {
                font-size: 15px;
            }

            .style {
                font-size: 30px;
            }
        }
    }

    .men-guide-slider {
        &__title {
            font-size: 16px;
        }

        &__more {
            font-size: 13px;
        }

        p {
            font-size: 13px;
        }
    }
}
