.home-banner {
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &--header {
        background-image: url('../../img/assets/home-11-2017/Banner-DEC-sale.jpg');
        height: 950px;
        background-position: 0 -32px;
    }

    &--custom-wrapper {
        height: 100%;
        display: flex;
        padding: 0 23.4%;
        justify-content: flex-end;
    }

    &__right-box {
        position: absolute;
        top: 25.9%;
    }

    &__scroll-down {
        position: absolute;
        top: 91%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        bottom: 0;
        cursor: pointer;

        &:hover {
            bottom: 20px;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 3.5em;
            height: 3.5em;
            border-top: 0.2em solid #fff;
            border-right: 0.2em solid #fff;
            transform: rotate(135deg);
        }
    }

    .btn--center {
        margin: 44px auto 0 auto;
    }

    &__fixed-image {
        width: 100%;
        max-width: 530px;
        cursor: pointer;
    }

    .btn--black-hover {
        color: #000;
        border-color: #000;
    }

    button,
    button::after {
        transition: all 0.3s;
    }

    button {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        display: block;
        font-size: 14px;
        padding: 12px 39px;
        margin-top: 40px;
        position: relative;
        text-transform: uppercase;
        cursor: pointer;
        transform: translateZ(0);
    }

    button::before,
    button::after {
        background: #fff;
        content: '';
        position: absolute;
        z-index: -1;
    }

    button:hover {
        color: black;
        z-index: 1;
    }

    .btn::after {
        height: 100%;
        left: 0;
        top: 0;
        width: 0;
    }

    .btn:hover::after {
        width: 100%;
        color: black;
    }

    &__formated-image {
        width: 96%;
        height: 803px;
        margin: 8px 40px 2% 2%;

        &--gift {
            background-image: url('../../img/assets/home-11-2017/banner-2017-11-man-gift-guide-big.jpg');
            background-position: center;
        }

        &--bottom {
            background-image: url('../../img/assets/home-11-2017/banner-2017-nathan.jpg');
        }

        &--bottom-secondary {
            background-image: url('../../img/assets/home-11-2017/banner-2017-08-design.jpg');
        }

        &--beard {
            background-image: url('../../img/assets/home-11-2017/banner-2017-11-decembeard.jpg');
        }
    }

    &--wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    &--wrapper-right {
        justify-content: flex-end;
        align-items: center;
    }

    &--pos-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__box {
        margin: 5% 5%;

        &--right {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 54%;
        }
    }

    &__box-right {
        margin: 5% 20%;
    }

    &__title {
        color: white;
        font-size: 55px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.1em;
        margin: 0;

        &--gift {
            font-size: 55px;
            text-transform: uppercase;
            font-family: 'GothamBook', sans-serif;
            padding-bottom: 40px;
            font-weight: bold;
            letter-spacing: 10px;
        }
        
        &--black {
            color: #000;
        }
    }

    &--br {
        display: block;
    }

    &__description {
        color: white;
        font-weight: 300;
        line-height: 1.3em;
        font-size: 16px;
        margin: 18px 0 0 0;
        max-width: 400px;

        &--gift {
            color: white;
            font-family: 'GothamBook', sans-serif;
            font-size: 17px;
            letter-spacing: 2.5px;
            line-height: 130%;
        }

        &--black {
            color: #000;
        }
    }
}

.men-guide {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 0 2% 55px 2%;

    &__header {
        text-align: center;
        padding: 20px 2% 55px 2%;

        h1 {
            font-size: 50px;
            font-weight: 600;
            margin: 0;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            margin: 0;
            padding: 15px 0 0 0;
        }
    }

    &__boxes {
        max-width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;

        &--half {
            display: flex;
            justify-content: center;
            width: 50%;
            cursor: pointer;

            &:hover .men-guide-slider__more {
                border-bottom: 1px solid black;
            }

            &:first-of-type {
                padding-right: 20px;
            }
        }
    }
}

.men-guide-slider {
    width: 869px;
    max-width: 100%;
    position: relative;

    &__img {

        img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 700;
        padding: 30px 20px 20px 20px;
        margin: 0;
    }

    &__more {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        display: inline-block;
        text-transform: none;
        padding: 5px 0 5px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        color: black;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        padding: 0 40px;
        margin: 0;
    }

    &__button {
        margin-top: 40px;
        background-color: #363636;
        border: none;
        border-radius: 3px;
        padding: 13px 42px;
        color: white;
        transition: all 0.5s ease;
        cursor: pointer;

        &:hover {
            background-color: #666666;
        }
    }

    .slick-initialized .slick-slide {
        display: block;
    }

    .slick-arrow {
        position: absolute;
        top: 39%;
        transform: translate(0%, -50%);

        @media all and (max-width: 1200px) {
            top: 35%;
        }

        @media all and (max-width: 966px) {
            top: 32%;
        }

        @media all and (max-width: 750px) {
            top: 36%;
        }

        @media all and (max-width: 560px) {
            top: 34%;
        }

        @media all and (max-width: 400px) {
            top: 28%;
        }
    }

    .slick-prev {
        left: 20px;
        z-index: 2;

        &::after {
            content: '';
            display: inline-block;
            width: 4em;
            height: 4em;
            border-top: 0.2em solid #fff;
            border-right: 0.2em solid #fff;
            transform: rotate(-135deg);
        }
    }

    .slick-next {
        width: 29px;
        right: 40px;
        z-index: 2;

        &::after {
            content: '';
            display: inline-block;
            width: 4em;
            height: 4em;
            border-top: 0.2em solid #fff;
            border-right: 0.2em solid #fff;
            transform: rotate(45deg);
        }
    }
}

@media all and (max-width: 1500px) {
    .home-banner {
        &--header {
            height: 700px;
            background-position: center;
            margin: 0 0 40px 0;
        }

        &--custom-wrapper {
            height: 100%;
            padding: 0;
        }

        &__right-box {
            max-width: 300px;
            padding: 0 20%;
            top: 26.9%;
        }

        &__formated-image {
            height: 650px;
        }

        &__title {
            font-size: 41px;
        }

        &__title--gift {
            padding-bottom: 30px;
        }

        &__description--gift {
            font-size: 14px;
            margin: 0;
            letter-spacing: 2px;
        }

        &__description {
            font-size: 13px;
            margin: 10px 0 0 0;
        }

        button {
            font-size: 12px;
            padding: 11px 24px;
            margin-top: 40px;
        }

        .btn--center {
            margin: 20px auto 0 auto;
        }
    }
}

@media all and (max-width: 1440px) {
    .home-banner {
        &__title {
            font-size: 40px;
        }
    }
}

@media all and (max-width: 1260px) {
    .home-banner {
        &--header {
            height: 615px;
        }

        &__formated-image {
            height: 500px;
            background-size: cover;
            margin-bottom: 40px;

            &--beard {
                background-position: center right;
            }
        }

        &__right-box {
            max-width: 250px;
        }

        &__box-right {
            margin: 5% 10%;
        }

        &__title--gift {
            text-align: center;
        }

        .btn--black-hover {
            margin-left: auto;
        }

        &--space {
            font-size: 0;
            display: block;
            height: 1px;
            width: 55px;
            background: #fff;
            margin: 25px auto 25px auto;
        }
    }
}

@media all and (max-width: 975px) {
    .home-banner {
        &--header {
            height: 500px;
            background-position: center;
            margin: 0 0 20px 0;
        }

        &__formated-image {
            margin-bottom: 20px;
        }

        &__right-box {
            max-width: 200px;
            top: 25.9%;
            padding: 0 20%;
        }

        &__box {
            margin: 12% 5%;
        }

        &__title--gift {
            padding-bottom: 20px;
        }

        &__description {
            &--gift {
                display: none;
            }
        }
    }

    .men-guide {
        padding: 0 2% 25px 2%;

        &__header {
            padding: 20px 2% 40px 2%;

            h1 {
                font-size: 35px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .men-guide-slider {
        &__title {
            font-size: 20px;
        }

        &__more {
            font-size: 14px;
        }

        p {
            font-size: 14px;
        }
    }
}

@media all and (max-width: 900px) {
    .home-banner {
        &__formated-image {
            height: 400px;
            background-position: center;
        }

        &--wrapper {
            justify-content: flex-end;
        }

        &__box {
            margin: 7% 3%;
            text-align: right;

            .btn--pos-right {
                margin: 20px 0 0 auto;
            }
        }

        &--wrapper-left {
            justify-content: flex-start;
        }

        &__box-left {
            text-align: left;
        }
    }
}

@media all and (max-width: 750px) {
    .home-banner {
        &__formated-image {
            height: 375px;
            background-position: center;
        }

        &--space {
            margin: 15px auto 15px auto;
        }

        &__title--gift {
            font-size: 35px;
        }
    }

    .men-guide {
        &__boxes {
            display: block;

            &--half {
                display: block;
                width: 100%;

                &:first-of-type {
                    padding: 0 0 35px 0;
                }
            }
        }
    }
}

@media all and (max-width: 560px) {
    .home-banner {
        &--header {
            height: 400px;
            margin: 0 0 10px 0;
        }

        &--pos-right {
            display: flex;
            justify-content: center;
        }

        &__right-box {
            top: 15%;
            max-width: 260px;
        }

        &__formated-image {
            height: 340px;
            max-height: 340px;
            margin-bottom: 10px;

            &--gift {
                background-image: url('../../img/assets/home-11-2017/banner-2017-11-man-gift-guide-mob2.jpg');
            }

            &--bottom {
                background-position: right -100px center;
            }

            &--bottom-secondary {
                background-image: url('../../img/assets/home-11-2017/banner-2017-08-design-mb.jpg');
            }
        }

        &--custom-wrapper {
            justify-content: center;
        }

        &__box {
            margin: 10% 8%;

            &--right {
                background: rgba(0, 0, 0, 0.5);
                padding: 20px;
            }
        }

        &__title {
            font-size: 26px;
        }

        &_description {
            display: none;
        }

        button {
            background-color: white;
            color: black;
            font-weight: 600;
            margin-top: 10px;
        }

        .btn--black {
            border-color: #363636;
            background: #363636;
            color: #fff;
        }

        &__scroll-down {
            top: 93%;

            &::after {
                width: 1.5em;
                height: 1.5em;
            }
        }
    }
}

@media all and (max-width: 480px) {
    .men-guide {
        &__header {
            h1 {
                font-size: 25px;
            }

            p {
                font-size: 13px;
            }
        }
    }
}

@media all and (max-width: 460px) {
    .home-banner {
        &--header {
            background-position: right -290px top;
        }

        &__formated-image {
            &--bottom-secondary {
                background-position: left -77px center;
            }
        }

        button {
            margin-top: 10px;
        }
    }
}

@media all and (max-width: 400px) {
    .home-banner {
        &__formated-image {
            background-position: right -90px center;

            &--bottom {
                background-position: right -120px center;
            }
        }

        &__centered {
            img {
                max-width: 40%;
            }
        }
    }

    .men-guide-slider {
        &__title {
            font-size: 16px;
        }

        &__more {
            font-size: 13px;
        }

        p {
            font-size: 13px;
        }
    }
}
