.main-banner {
    background-image: url('../../img/assets/home-11-2017/Banner-DEC-sale.jpg');
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -12px -36px;
    position: relative;
    height: 99vh;

    &__wrapper {
        padding: 23em 0;
    }

    &__inner {
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
    }

    &__content-box {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 4em;
    }

    &__logo {
        width: 100%;
        max-width: 400px;
        cursor: pointer;
    }

    &__text {
        font-weight: 400;
        font-size: 33px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        margin: 25px 0 25px 0;
        letter-spacing: 1px;
        text-align: center;
        color: white;
    }

    button,
    button::after {
        transition: all 0.3s;
    }

    button {
        font-family: Roboto, sans-serif;
        font-weight: normal;
        color: white;
        font-size: 15px;
        padding: 11px 36px;
        border: 1px solid white;
        text-decoration: none;
        background: none;
        position: relative;
        z-index: 2;
        line-height: 100%;
        text-transform: uppercase;
        cursor: pointer;
        transform: translateZ(0);
    }

    button::before,
    button::after {
        background: #fff;
        content: '';
        position: absolute;
        z-index: -1;
    }

    button:hover {
        color: black;
        z-index: 1;
    }

    .btn::after {
        height: 100%;
        left: 0;
        top: 0;
        width: 0;
    }

    .btn:hover::after {
        width: 100%;
        color: black;
    }

    &__scroll-down {
        position: absolute;
        top: 91.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        bottom: 0;
        cursor: pointer;

        &:hover {
            bottom: 20px;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 3em;
            height: 3em;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(135deg);
        }
    }
}

.home-banner {
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &__image {
        background-position: center;
        width: 96%;
        height: 803px;
        margin: 8px 40px 2% 2%;

        &--gift {
            background-image: url('../../img/assets/home-11-2017/banner-2017-11-man-gift-guide-big.jpg');
        }

        &--measure {
            background-image: url('../../img/assets/home-11-2017/banner-2017-08-design.jpg');
        }

        &--beard {
            background-image: url('../../img/assets/home-11-2017/banner-2017-11-decembeard.jpg');
        }
    }

    &__wrapper {
        display: flex;
        height: 100%;

        &--right {
            justify-content: flex-end;
            align-items: center;
        }

        &--left {
            align-items: flex-end;
        }
    }

    &__box {
        margin: 10% 5%;

        &--gift {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 54%;
        }

        &--beard {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 45%;
            height: 100%;
        }
    }

    &__title {
        color: #fff;
        font-size: 55px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.1em;
        margin: 0;
        font-family: futurabold, sans-serif;

        &--gift {
            font-family: GothamBook, sans-serif;
            padding-bottom: 40px;
            font-weight: 700;
            letter-spacing: 10px;
        }

        &--beard {
            color: #000;
            font-size: 55px;
            text-transform: uppercase;
            font-family: futurabold, sans-serif;
            font-weight: 900;
            margin: 0;
        }
    }

    &__description {
        color: #fff;
        font-weight: 300;
        line-height: 1.3em;
        font-size: 16px;
        margin: 18px 0 0;
        max-width: 400px;

        &--gift {
            color: #fff;
            font-family: GothamBook, sans-serif;
            font-size: 17px;
            letter-spacing: 2.5px;
            line-height: 130%;
        }

        &--beard {
            color: #000;
            font-family: 'Roboto', sans-serif;
            font-size: 17px;
            line-height: 130%;
            max-width: none;
            margin: 18px 0 0 0;
            font-weight: 300;
        }
    }

    &__logos {
        display: flex;
        align-items: center;
        padding: 100px 0 0 0;

        img {
            margin: 0 30px 20px 0;
            max-width: 100%;
        }
    }

    button,
    button::after {
        transition: all 0.3s;
    }

    button {
        font-family: Roboto, sans-serif;
        font-weight: normal;
        color: white;
        font-size: 15px;
        padding: 11px 36px;
        border: 1px solid white;
        text-decoration: none;
        background: none;
        position: relative;
        z-index: 2;
        line-height: 100%;
        text-transform: uppercase;
        cursor: pointer;
        transform: translateZ(0);
    }

    button::before,
    button::after {
        background: #fff;
        content: '';
        position: absolute;
        z-index: -1;
    }

    button:hover {
        color: black;
        z-index: 1;
    }

    .btn-margin-top {
        margin-top: 40px;
    }

    .btn-black {
        border: 1px solid black;
        color: black;
        margin: 40px 0 0 0;
        background-color: transparent;
    }

    .btn::after {
        height: 100%;
        left: 0;
        top: 0;
        width: 0;
    }

    .btn:hover::after {
        width: 100%;
        color: black;
    }
}

@media all and (max-width: 1500px) {
    .main-banner {
        height: 700px;
        background-position: center -32px;
        background-size: cover;

        &__wrapper {
            padding: 14.64em 0;
        }

        &__content-box {
            max-width: 300px;
            margin: 0 10.2em;
        }

        &__logo {
            max-width: 300px;
        }

        &__text {
            font-size: 28px;
            margin: 20px 0;
        }

        &__scroll-down {
            top: 90%;
        }

        button {
            font-size: 12px;
        }
    }

    .home-banner {
        &__image {
            height: 650px;

            &--measure {
                height: 605px;
            }

            &--beard {
                background-position: center right;
            }
        }

        &__box {
            &--beard {
                width: 55%;
            }
        }

        &__title {
            &--beard {
                font-size: 41px;
            }
        }
    }
}

@media all and (max-width: 1260px) {
    .main-banner {
        height: 615px;

        &__wrapper {
            padding: 13.64em 0;
        }

        &__content-box {
            max-width: 250px;
            margin: 0 14.2em;
        }

        &__logo {
            max-width: 250px;
        }

        &__text {
            font-size: 25px;
            margin: 15px 0;
        }

        &__scroll-down {
            top: 88%;
        }

        button {
            font-size: 12px;
        }
    }

    .home-banner {
        &__image {
            height: 500px;

            &--gift {
                background-position: center center;
                background-size: cover;
            }

            &--measure {
                background-position: 0 0;
                height: 518px;
            }

            &--beard {
                height: 550px;
                background-position: center right;
                background-size: cover;
            }
        }

        &__slash {
            font-size: 0;
            display: block;
            height: 1px;
            background: #fff;
            margin: 25px auto 25px auto;
        }

        &__title {
            &--gift {
                font-size: 40px;
                padding-bottom: 30px;
            }
        }

        &__logos {
            padding: 50px 0 0 0;
        }
    }
}

@media all and (max-width: 975px) {
    .main-banner {
        height: 500px;
        background-position: center top 0;
        background-size: cover;

        &__wrapper {
            padding: 11.64em 0;
        }

        &__content-box {
            max-width: 200px;
            margin: 0 16.2em;
        }

        &__logo {
            max-width: 200px;
        }

        &__text {
            font-size: 21px;
            margin: 15px 0;
        }

        &__scroll-down {
            top: 89%;
        }
    }

    .home-banner {
        &__image {
            &--gift {
                margin-top: 20px;
                height: 450px;
            }

            &--measure {
                height: 375px;
            }

            &--beard {
                height: 450px;
            }
        }

        &__slash {
            width: 100%;
        }
    }
}

@media all and (max-width: 750px) {
    .main-banner {
        &__content-box {
            margin: 0 8.2em;
        }
    }

    .home-banner {
        &__image {
            &--gift {
                height: 375px;
            }

            &--beard {
                background-image: url('../../img/assets/home-11-2017/banner-2017-11-decembeard-mob2.jpg');
                background-position: left;
            }
        }

        &__slash {
            width: 50%;
            margin: 15px auto 15px auto;
        }

        &__title {
            &--beard {
                font-size: 30px;
            }
        }

        &__description {
            &--beard {
                display: none;
            }
        }
    }
}

@media all and (max-width: 650px) {
    .home-banner {
        &__image {
            &--beard {
                height: 400px;
            }
        }
    }
}

@media all and (max-width: 560px) {
    .main-banner {
        height: auto;
        background-image: url('../../img/assets/home-11-2017/banner-2017-12-sale-mob.jpg');
        background-position-x: left;

        &__wrapper {
            padding: 8.4em 0;
        }

        &__content-box {
            max-width: 300px;
            margin: 0 auto;
        }

        &__logo {
            max-width: 300px;
        }

        &__text {
            font-size: 16px;
            margin: 15px 0;
        }

        button {
            border-color: #363636;
            background: #363636;
            font-weight: 600;

            &:hover {
                color: white;
            }

            &::before,
            &::after {
                background: none;
            }
        }

        &__scroll-down {
            top: 94%;

            &::after {
                width: 1.3em;
                height: 1.3em;
            }
        }
    }

    .home-banner {
        &__image {
            &--gift {
                background-image: url('../../img/assets/home-11-2017/banner-2017-11-man-gift-guide-mob2.jpg');
                background-size: cover;
                margin-top: 10px;
                height: 325px;
            }

            &--measure {
                background-image: url('../../img/assets/home-11-2017/banner-2017-08-design-mb.jpg');
                background-position: right 0 center;
                height: 340px;
            }
        }

        &__description {
            display: none;
        }

        &__wrapper {
            &--center {
                justify-content: center;
            }
        }

        &__box {
            &--gift {
                padding: 20px;
                background: rgba(0, 0, 0, 0.5);
            }
        }

        .btn-margin-top {
            margin-top: 10px;
        }

        &__logos {
            img {
                display: none;
            }
        }
    }
}

@media all and (max-width: 480px) {
    .men-guide {
        &__header {
            h1 {
                font-size: 25px;
            }

            p {
                font-size: 13px;
            }
        }
    }
}

@media all and (max-width: 460px) {
    .home-banner {
        &__image {
            &--beard {
                height: 300px;
            }
        }

        button {
            margin-top: 10px;
        }
    }
}

@media all and (max-width: 400px) {
    .home-banner {
        &__image {
            &--beard {
                background-image: url('../../img/assets/home-11-2017/banner-2017-11-decembeard-mob.jpg');
                background-position: left;
            }
        }
    }

    .men-guide-slider {
        &__title {
            font-size: 16px;
        }

        &__more {
            font-size: 13px;
        }

        p {
            font-size: 13px;
        }
    }
}

.men-guide {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 0 2% 55px 2%;

    &__header {
        text-align: center;
        padding: 20px 2% 55px 2%;

        h1 {
            font-size: 50px;
            font-weight: 600;
            margin: 0;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            margin: 0;
            padding: 15px 0 0 0;
        }
    }

    &__boxes {
        max-width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;

        &--half {
            display: flex;
            justify-content: center;
            width: 50%;
            cursor: pointer;

            &:hover .men-guide-slider__more {
                border-bottom: 1px solid black;
            }

            &:first-of-type {
                padding-right: 20px;
            }
        }
    }
}

.men-guide-slider {
    width: 869px;
    max-width: 100%;
    position: relative;

    &__img {

        img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 700;
        padding: 30px 20px 20px 20px;
        margin: 0;
    }

    &__more {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        display: inline-block;
        text-transform: none;
        padding: 5px 0 5px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        color: black;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        padding: 0 40px;
        margin: 0;
    }

    &__button {
        margin-top: 40px;
        background-color: #363636;
        border: none;
        border-radius: 3px;
        padding: 13px 42px;
        color: white;
        transition: all 0.5s ease;
        cursor: pointer;

        &:hover {
            background-color: #666666;
        }
    }

    .slick-initialized .slick-slide {
        display: block;
    }

    .slick-arrow {
        position: absolute;
        top: 39%;
        transform: translate(0%, -50%);

        @media all and (max-width: 1200px) {
            top: 35%;
        }

        @media all and (max-width: 966px) {
            top: 32%;
        }

        @media all and (max-width: 750px) {
            top: 36%;
        }

        @media all and (max-width: 560px) {
            top: 34%;
        }

        @media all and (max-width: 400px) {
            top: 28%;
        }
    }

    .slick-prev {
        left: 20px;
        z-index: 2;

        &::after {
            content: '';
            display: inline-block;
            width: 4em;
            height: 4em;
            border-top: 0.2em solid #fff;
            border-right: 0.2em solid #fff;
            transform: rotate(-135deg);
        }
    }

    .slick-next {
        width: 29px;
        right: 40px;
        z-index: 2;

        &::after {
            content: '';
            display: inline-block;
            width: 4em;
            height: 4em;
            border-top: 0.2em solid #fff;
            border-right: 0.2em solid #fff;
            transform: rotate(45deg);
        }
    }
}

@media all and (max-width: 1500px) {
    .home-banner {
        &__right-box {
            max-width: 300px;
            padding: 0 20%;
            top: 26.9%;
        }

        &__title {
            font-size: 41px;
        }

        &__title--gift {
            padding-bottom: 30px;
        }

        &__description--gift {
            font-size: 14px;
            margin: 0;
            letter-spacing: 2px;
        }

        &__description {
            font-size: 13px;
            margin: 10px 0 0 0;
        }

        button {
            font-size: 12px;
            padding: 11px 24px;
            margin-top: 40px;
        }

        .btn--center {
            margin: 20px auto 0 auto;
        }
    }
}

@media all and (max-width: 1440px) {
    .home-banner {
        &__title {
            font-size: 40px;
        }
    }
}

@media all and (max-width: 1260px) {
    .home-banner {

        &__right-box {
            max-width: 250px;
        }

        &__box-right {
            margin: 5% 10%;
        }

        &__title--gift {
            text-align: center;
        }

        .btn--black-hover {
            margin-left: auto;
        }

        &--space {
            font-size: 0;
            display: block;
            height: 1px;
            width: 55px;
            background: #fff;
            margin: 25px auto 25px auto;
        }
    }
}

@media all and (max-width: 975px) {
    .home-banner {
        &__right-box {
            max-width: 200px;
            top: 25.9%;
            padding: 0 20%;
        }

        &__box {
            margin: 12% 5%;
        }

        &__title--gift {
            padding-bottom: 20px;
        }

        &__description {
            &--gift {
                display: none;
            }
        }
    }

    .men-guide {
        padding: 0 2% 25px 2%;

        &__header {
            padding: 20px 2% 40px 2%;

            h1 {
                font-size: 35px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .men-guide-slider {
        &__title {
            font-size: 20px;
        }

        &__more {
            font-size: 14px;
        }

        p {
            font-size: 14px;
        }
    }
}

@media all and (max-width: 900px) {
    .home-banner {
        &__box {
            margin: 7% 3%;
        }
    }
}

@media all and (max-width: 750px) {
    .home-banner {

        &__title--gift {
            font-size: 35px;
        }
    }

    .men-guide {
        &__boxes {
            display: block;

            &--half {
                display: block;
                width: 100%;

                &:first-of-type {
                    padding: 0 0 35px 0;
                }
            }
        }
    }
}

@media all and (max-width: 560px) {
    .home-banner {

        &__box {
            margin: 10% 8%;

            &--right {
                background: rgba(0, 0, 0, 0.5);
                padding: 20px;
            }
        }

        &__title {
            font-size: 26px;
        }

        &_description {
            display: none;
        }

        button {
            background-color: white;
            color: black;
            font-weight: 600;
            margin-top: 10px;
        }

        .btn--black {
            border-color: #363636;
            background: #363636;
            color: #fff;
        }

        &__scroll-down {
            top: 93%;

            &::after {
                width: 1.5em;
                height: 1.5em;
            }
        }
    }
}




