.cms-terms,
.cms-contact-us,
.contact-index-index,
.careers-index-index,
.cms-size-chart {
    .page-main {

        @media all and (max-width: $bp-header) {
            padding: 20px;
        }

        &__title {
            height: 134px;
            background: #f7f7f7;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            @media all and (max-width: $bp-header) {
                height: 69px;
            }

            h1 {
                margin: 0;
            }

            span {
                font-size: 40px;
                font-weight: 500;

                @media all and (max-width: $bp-header) {
                    font-size: 23px;
                }
            }
        }
    }
}
