.look-book {
    position: relative;
    margin-top: 20px;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__progress {
        width: 100%;
        height: 5px;
        background: $white;
        margin-bottom: 50px;

        &--inside {
            width: 0;
            height: 5px;
            background: $grey;
        }
    }

    &__arrow {
        @include bg('arrw-right-dark.png');
        position: absolute;
        height: 102px;
        width: 30px;
        z-index: 100;
        top: 50%;
        border: 0;
        cursor: pointer;
        padding: 20px;


        &--prev {
            transform: scaleX(-1) translate(0, -50%);
            left: -6%;
        }

        &--next {
            transform: translate(0, -50%);
            right: -6%;
        }

        &:hover {
            background-color: #d9d9d9;
        }
    }
}

