.cms-shipping-returns .std, .overlay__popup .std{
    color: #242424;

    h1 {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: normal;
    }

    h3 {
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }

    p {
        font-family: Roboto, "Times New Roman", arial, sans-serif;
        font-size: 13px;
        font-weight: normal;
    }

    a {
        text-transform: uppercase;
        color: black;
        text-decoration: underline;
        word-break: break-all;
    }
}


