.cms-size-chart {

    .size-chart {
        overflow: auto;

        &__close {
            display: none;
        }

        &__tabs {
            text-align: center;
        }

        @media all and (max-width: 560px) {
            padding: 20px 0;
        }
    }
}
