.cms-terms {

    .page-main__title {
        text-align: center;
        text-transform: uppercase;
        font-family: league_gothic;
        font-weight: normal;

        h1 {
            margin: 20px 0;
        }

        span {
            font-size: 60px;
        }
    }

    .std {

        h3 {
            margin-top: 40px;
            font-size: 16px;
            font-weight: 500;
        }

        p {
            font-size: 13px;
        }
    }
}
