.cms-terms {

    .std {

        h3 {
            margin-top: 40px;
            font-size: 28px;
            font-weight: 500;
        }

        p {
            font-size: 17px;
            font-weight: 300;
            letter-spacing: 0;
            text-align: justify;
            line-height: 1.4;
        }
    }
}
