<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pandagroup_anz_extender>
            <anz_additional_settings>
                <send_email_after_canceled_order_enable>1</send_email_after_canceled_order_enable>
            </anz_additional_settings>
        </pandagroup_anz_extender>
    </default>
</config>
