<?xml version="1.0"?>
<!--
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_PopupLogin
 * @copyright   Copyright (c) 2015 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Plumrocket_Popuplogin::popuplogin" title="Popup Login" module="Plumrocket_Popuplogin" parent="Plumrocket_Base::elements" sortOrder="9539503" resource="Plumrocket_Popuplogin::config_popuplogin"/>

        <add id="Plumrocket_Popuplogin::popuplogin_configuration" title="Configuration" module="Plumrocket_Popuplogin" parent="Plumrocket_Popuplogin::popuplogin" sortOrder="10" action="adminhtml/system_config/edit/section/prpopuplogin" resource="Plumrocket_Popuplogin::config_popuplogin"/>
    </menu>
</config>
