<?xml version="1.0"?>
<!--
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_PopupLogin
 * @copyright   Copyright (c) 2015 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="prpopuplogin" translate="label" type="text" sortOrder="11259138" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Popup Login</label>
            <tab>plumrocket</tab>
            <resource>Plumrocket_Popuplogin::config_popuplogin</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <attribute type="expanded">1</attribute>
                <field id="version" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Plumrocket\Popuplogin\Block\Adminhtml\System\Config\Form\Version</frontend_model>
                </field>
                <field id="enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="serial" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Plumrocket\Base\Block\Adminhtml\System\Config\Form\Serial</frontend_model>
                    <label>Serial Key</label>
                    <hint>Popuplogin</hint>
                </field>
                <field id="mode" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Popup</label>
                    <source_model>Plumrocket\Popuplogin\Model\Config\Source\Modes</source_model>
                    <comment>Please refer to online documentation for more info about popup display methods.</comment>
                </field>
                <field id="close" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow to Close Popup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_on" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Popup On</label>
                    <source_model>Plumrocket\Popuplogin\Model\Config\Source\ShowOn</source_model>
                </field>
                <field id="enable_on" translate="label comment" type="textarea" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Popup On</label>
                    <comment>You can enable popup on specific pages. Enter each url in new line.</comment>
                    <depends>
                        <field id="show_on">1</field>
                    </depends>
                </field>
                <field id="disable_on" translate="label comment" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable Popup On</label>
                    <comment>You can disable popup on specific pages. Enter each url in new line.</comment>
                    <depends>
                        <field id="show_on">2</field>
                    </depends>
                </field>
                <field id="default_form" translate="label comment" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Form to Display</label>
                    <source_model>Plumrocket\Popuplogin\Model\Config\Source\Forms</source_model>
                    <comment>Selected form will be displayed by default to visitors.</comment>
                </field>
            </group>

            <group id="registration" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Registration Form</label>
                <field id="show" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Registration Form</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="success_page" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Registration Success Page</label>
                    <source_model>Plumrocket\Popuplogin\Model\Config\Source\Pages</source_model>
                    <comment>User will be redirected to this page after each successful registration.</comment>
                    <depends>
                        <field id="show">1</field>
                    </depends>
                </field>
                <field id="custom_page" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Registration Custom Success Page URL</label>
                    <comment>Please enter the full URL of the page, including the domain name, to which you will be redirecting.</comment>
                    <depends>
                        <field id="show">1</field>
                        <field id="success_page">__custom__</field>
                    </depends>
                </field>
                <field id="form_fields" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Form Fields</label>
                    <frontend_model>Plumrocket\Popuplogin\Block\Adminhtml\System\Config\Form\FormFields</frontend_model>
                    <backend_model>Plumrocket\Popuplogin\Model\Config\Backend\FormFields</backend_model>
                    <comment>Selected fields will be displayed on registration form. "Email" is require field. Please note: if password field is not enabled above, then passwords will be generated automatically and sent by email to each user.</comment>
                    <depends>
                        <field id="show">1</field>
                    </depends>
                </field>
                <field id="subscribe" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Newsletter Subscription</label>
                    <source_model>Plumrocket\Popuplogin\Model\Config\Source\Subscriptions</source_model>
                    <comment>Set default newsletter subscription settings.</comment>
                    <depends>
                        <field id="show">1</field>
                    </depends>
                </field>
<!--                 <field id="welcome" translate="label comment" type="editor" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Registration Welcome Message</label>
                    <frontend_model>Plumrocket\Base\Block\Adminhtml\System\Config\Form\Editor</frontend_model>
                    <depends>
                        <field id="show">1</field>
                    </depends>
                </field> -->
            </group>

            <group id="login" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Login Form</label>
                <field id="show" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Login Form</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="success_page" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Login Success Page</label>
                    <source_model>Plumrocket\Popuplogin\Model\Config\Source\Pages</source_model>
                    <comment>User will be redirected to this page after each successful login.</comment>
                    <depends>
                        <field id="show">1</field>
                    </depends>
                </field>
                <field id="custom_page" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Login Custom Success Page URL</label>
                    <comment>Please enter the full URL of the page, including the domain name, to which you will be redirecting.</comment>
                    <depends>
                        <field id="show">1</field>
                        <field id="success_page">__custom__</field>
                    </depends>
                </field>
            </group>

            <group id="forgotpassword" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Forgot Password Form</label>
                <field id="show" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Forgot Password Form</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="design" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Popup Design and Effects</label>
                <field id="theme" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Theme</label>
                    <source_model>Plumrocket\Popuplogin\Model\Config\Source\Themes</source_model>
                    <comment>Popup Login comes with three skins. See our online documentation if you want to edit templates manually.</comment>
                </field>
                <field id="animation" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Animation</label>
                    <source_model>Plumrocket\Popuplogin\Model\Config\Source\Animations</source_model>
                    <comment>Popup display effects.</comment>
                </field>
                <field id="logo" translate="label comment" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">prpopuplogin</upload_dir>
                    <base_url type="media" scope_info="1">prpopuplogin</base_url>
                    <comment>Allowed file types: jpeg, gif, png.</comment>
                </field>
            </group>

            <group id="tracking" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Event Tracking</label>
                <field id="google" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popup Event Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Add auto-generated Google Analytics Event Tracking code on popup form buttons.</comment>
                </field>
                <field id="registration" translate="label comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Affiliate Tracking Code</label>
                    <comment>This code will be executed after each successfull registration.</comment>
                </field>
            </group>

        </section>
    </system>
</config>