<?xml version="1.0"?>
<!--
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Popuplogin
 * @copyright   Copyright (c) 2015 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Model\ResourceModel\AddressRepository" type="Plumrocket\Popuplogin\Model\ResourceModel\AddressRepository" />
    <preference for="Magento\Customer\Model\ResourceModel\CustomerRepository" type="Plumrocket\Popuplogin\Model\ResourceModel\CustomerRepository" />
    <preference for="Magento\Customer\Model\ResourceModel\Address" type="Plumrocket\Popuplogin\Model\ResourceModel\Address" />
    <preference for="Magento\Customer\Model\ResourceModel\Customer" type="Plumrocket\Popuplogin\Model\ResourceModel\Customer" />
</config>