<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Header"}} @-->
<!--@styles
@media only screen and (max-width: 620px){
        #templateColumns{
            width:100% !important;
        }

        .templateColumnContainer{
            display:block !important;
            width:100% !important;
        }

        .columnImage{
            height:auto !important;
            max-width:350px !important;
            width:100% !important;
        }

        .leftColumnContent{
            text-align: center !important;
        }

        .rightColumnContent{
            text-align: center !important;
            padding: 0 !important;
        }
    }

@-->
<!--@vars {
"var logo_height":"Email Logo Image Height",
"var logo_width":"Email Logo Image Width",
"var template_styles|raw":"Template CSS"
} @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        {{var template_styles|raw}}

        {{css file="css/email.css"}}
    </style>
</head>
<body>
{{inlinecss file="css/email-inline.css"}}

<!-- Begin wrapper table -->
<table class="wrapper" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:0; ">
            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateColumns" style="border-bottom: 1px solid #000000; margin: 0;">
                <tr>
                    <td width="50%" class="templateColumnContainer" style="padding: 0 0 8px 0;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="leftColumnContent">
                                    <a class="columnImage" href="{{store url=""}}" target="_blank">
                                    <img
                                            {{if logo_width}}
                                            width="{{var logo_width}}"
                                            {{else}}
                                            width="300"
                                            {{/if}}

                                    {{if logo_height}}
                                    height="{{var logo_height}}"
                                    {{else}}
                                    height="100"
                                    {{/if}}

                                    src="{{var logo_url}}"
                                    alt="{{var logo_alt}}"
                                    border="0"
                                    />
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="right" width="50%" class="templateColumnContainer" style="padding: 0 0 10px 0; text-align: right; vertical-align: bottom;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="rightColumnContent">
                                    <p style="color:#FFF; font-family: sans-serif;">
                                        <a href="{{store url=""}}suits.html" target="_blank"
                                        style="text-align: center; font-size:13px; padding: 0 5px 0 0; text-decoration: none; color: #000000;">SUITS</a>
                                        <a href="{{store url=""}}clothing.html" target="_blank"
                                        style="text-align: center; font-size:13px; padding: 0 5px 0 0; text-decoration: none; color: #000000;">CLOTHING</a>
                                        <a href="{{store url=""}}accessories.html" target="_blank"
                                        style="text-align: center; font-size:13px; padding: 0 5px 0 0; text-decoration: none; color: #000000;">ACCESSORIES</a>
                                        <a href="{{store url=""}}mens-shoes.html" target="_blank"
                                        style="text-align: center; font-size:13px; padding: 0 0 0 0; text-decoration: none; color: #000000;">SHOES</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper-inner" align="center">
            <table class="main" align="center">
                <tr>
                    <td class="header">
                        <a class="logo" href="{{store url=""}}">

                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="main-content">
                    <!-- Begin Content -->
