<div class="shipping-option-content" data-role="content">
    <form class="form form-comment order-comment-form">
        <div class="shipping-option-inner">
            <div class="field">
                <label class="label">
                    <span data-bind="i18n: 'Enter comment'"></span>
                </label>
                <div class="control">
                    <textarea class="input-text order_comment" name="order_comment" rows="4" data-bind="value: getValue(), attr:{placeholder: $t('Enter your comment...')} " ></textarea>
                </div>
            </div>
        </div>
    </form>
</div>