<?xml version="1.0"?>
<!--
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_SocialLoginFree
 * @copyright   Copyright (c) 2015 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Plumrocket_SocialLoginFree::base" title="Twitter &amp; Facebook Login" module="Plumrocket_SocialLoginFree" parent="Plumrocket_Base::elements" sortOrder="12168231" resource="Plumrocket_SocialLoginFree::base" action="psloginfree/base" />

        <!-- <add id="Plumrocket_SocialLoginFree::config" title="Configuration" module="Plumrocket_SocialLoginFree" parent="Plumrocket_SocialLoginFree::base" sortOrder="20" action="pslogin/system/config" resource="Plumrocket_SocialLoginFree::config" /> -->
        <add id="Plumrocket_SocialLoginFree::config" title="Configuration" module="Plumrocket_SocialLoginFree" parent="Plumrocket_SocialLoginFree::base" sortOrder="20" action="adminhtml/system_config/edit/section/psloginfree" resource="Plumrocket_SocialLoginFree::config" />
    </menu>
</config>