<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pandagroup_store_locator>
            <store_locator_settings>
                <time_format_select>24</time_format_select>
            </store_locator_settings>
        </pandagroup_store_locator>
    </default>
</config>
