.DirectionsTab {
    &__radio-label {
        display: inline-block;
        background-color: $grey;
        color: white;
        padding: 7px 15px;
        margin: 0 7px 7px 0;

        input {
            display: none;
        }

        &--active {
            background-color: $black;
        }

        &--driving {

        }

        &--transit {

        }

        &--walking {

        }

    }

    &__directions-flexbox {
        display: flex;
        align-items: center;
    }

    &__directions-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            height: 38px;
            margin: 5px 0;
        }
    }


    &__input-label {
        background-color: $black;
        color: white;
        width: 38px;
        line-height: 38px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &__input-field {
        flex: 1;
        color: #676767;
        background-color: #efefef;
        border: none;
        padding: 0 10px;
        text-transform: uppercase;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &__input-button {
        display: block;
        color: white;
        background-color: $grey;
        border: none;
        height: 38px;
        border-radius: 4px;
        transition: all 0.3s ease-in-out 0s;

        &:hover {
            background-color: $black;
        }

        &--submit {
            padding: 0 50px;
            margin: 10px 0;
        }

        &--swap {
            margin-left: 10px;
        }

    }
}
