.store-view {
    .hours-wrapper {
        &__day {
            display: block;
        }

        &__day-name {
            font-weight: bold;
            display: inline-block;
            width: 35px;
            margin: 0 5px 8px 0;
            text-align: right;
        }

    }
}