.stores-li {
    display: flex;
    flex-wrap: wrap;
    max-width: 1120px;

    margin: 0 auto;

    &__store {
        flex: 0 1 25%;
        box-sizing: border-box;
        padding: 10px 10px 40px 10px;
        min-width: 250px;
        border-bottom: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__name {
        font-size: 40px;
        text-transform: uppercase;
        font-family: league_gothic;
        font-weight: normal;
        padding: 14px 0 8px 0;
        cursor: pointer;
        margin: 0;
    }

    &__credentials {
        font-size: 13px;

        li {
            margin-bottom: 10px;
            display: flex;
        }


    }

    &__icon {
        flex: 0 0 30px;
        padding: 2px 0;

        &--address {
            @include sprite(storelocator-pin);
        }

        &--mobile {
            @include sprite(storelocator-phone);
        }

        &--envelope {
            @include sprite(storelocator-email)
        }


    }

    &__hours-wrapper {
        position: relative;
    }

    &__hours {
        @include form-element();
        font-family: monospace;
    }

    &__hours-arrow {
        @include form-select-arrow();
    }
}

@media screen and (max-width: $lg-breakpoint) {
    .stores-li {
        max-width: 750px;

        &__store {
            flex: 0 1 33%;
        }
    }
}

@media screen and (max-width: $sm-breakpoint) {
    .stores-li {

        &__store {
            flex: 1 1;
        }
    }
}
