.store-view {
    .tabs {
        &__tab-bar {

            display: flex;
            background-color: $grey;
            color: white;
            text-transform: uppercase;
            font-weight: bold;

            > div {
                flex: 0 0 50%;
                text-align: center;
                padding: 10px 0;
            }
        }

        &__tab {

            &--active {
                background-color: $black;
            }

            &:not(:first-child) {
                border-left: 1px solid #e4e0e0;
            }
        }

        &__tab-body {
            padding: 10px;
            border: 1px solid #e4e0e0;
        }

        &__h2 {
            font-family: league_gothic;
            font-size: 20px;
            font-weight: normal;
            text-transform: uppercase;
            color: $black;
            text-align: left;
            margin: 10px 0 15px 0;
        }


    }
}