.catalog-view {
    display: flex;
    align-items: center;

    &__wrapper {
        display: flex;
        flex-direction: row-reverse;
    }

    &__label {
        margin-right: 5px;
    }

    &__row {
        display: flex;
        margin-right: 10px;
    }

    &__column {
        width: 10px;
        height: 14px;
        display: block;
        margin-right: 2px;
        border: 1px solid black;

        &--active {
            background: black;
        }

        &--inactive {
            background: white;
        }
    }
}
