.catalog-item {

    &--list {
        width: 48%;
        margin: 0 1% 20px 1%;
    }

    &--grid {
        width: 31%;
        margin: 0 1% 20px 1%;
    }

    &__img {
        position: relative;
        overflow: hidden;
        display: inline-block;

        $root: &;

        &--first {
            position: relative;
        }

        &--second {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: 0.75s all ease;
        }

        &:hover {

            #{$root}--second {
                opacity: 1;

            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
    }

    &__star {
        @include sprite(wishlist-icon);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    &__content {
        width: 100%;

        a  {
            width: 100%;
            display: block;
            text-align: center;
            margin: 10px 0;
        }

        .old-price {
            margin-right: 6px;
        }

        .price {
            font-size: 17px;
            font-family: Roboto;
            font-weight: 300;
        }

        .price-box {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
        }

        .special-price {
            border-left: 1px solid black;
            padding-left: 6px;
        }
    }

    &__title {
        color: $black-light;
        font-size: 17px;
        font-weight: 500;
        height: 30px;

        &:hover {
            color: $grey-dark;
        }
    }

    &__promo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid #ddd;
        margin: 25px 0 0 0;
        padding: 15px 0;
        font-size: 13px;
        font-weight: 400;
    }
}
