.catalog-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media all and (max-width: 550px) {
            width: 100%;
        }
    }

    #amasty-shopby-product-list {
        z-index: 0;
    }
}

