.catalog-grid {
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content {

        > * {
            width: 100%;
            display: block;
            text-align: center;
            margin: 10px 0;
        }
    }
}
