.catalog-category-view,
.catalogsearch-result-index {

    .breadcrumbs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sidebar {
        min-width: 180px;
        order: -1;

        @media all and (max-width: 860px) {
            display: none;
        }
    }

    .page-main {

        &__columns {
            display: flex;
        }
    }

    .amquickview {

        &-hover {
            height: 40px;
            padding: 0;
        }

        &-link {
            height: 100%;
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
    }

    .ias-spinner {
        width: 100%;
    }

    .ias-noneleft {
        display: none !important;
    }
}

.catalog-main {
    padding: 0 60px;
    margin: 0 0 50px 0;

    &__description {
        padding: 40px 20px;
        text-align: center;
        background: #f1f0f0;
    }
}

