.catalog-view {
    display: flex;
    align-items: center;

    &__wrapper {
        display: flex;
        flex-direction: row-reverse;
    }

    &__label {
        color: #333333;
        font-size: 15px;
    }

    &__row {
        display: flex;
        margin-left: 15px;
    }

    &__column {
        width: 10px;
        height: 14px;
        display: block;
        margin-right: 2px;
        border: 0.25px solid black;

        &--active {
            background: black;
        }

        &--inactive {
            background: white;
            border-color: #b9b9b9;
        }
    }
}
