.catalog-view {
    display: flex;
    align-items: center;

    @media all and (max-width: 550px) {
        padding-left: 20px;
    }

    &__wrapper {
        display: flex;
        flex-direction: row-reverse;

        @media all and (max-width: 550px) {
            flex-direction: row;
        }
    }

    &__label {
        color: #333333;
        font-size: 15px;
    }

    &__row {
        display: flex;
        margin-left: 15px;
    }

    &__column {
        width: 10px;
        height: 14px;
        display: block;
        margin-right: 2px;
        border: 0.25px solid black;

        &--active {
            background: black;
        }

        @media all and (max-width: 550px) {
            &--active:nth-of-type(1) {
                display: none;
            }
        }

        &--inactive {
            background: white;
            border: 1px solid #b9b9b9;
        }

        @media all and (max-width: 550px) {
            &--inactive:nth-of-type(1) {
                display: none;
            }
        }
    }
}
