.catalog-category-view,
.catalogsearch-result-index {
    .breadcrumbs {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media all and (max-width: 550px) {
            display: none;
        }
    }

    .sidebar {
        min-width: 211px;
        order: -1;

        @media all and (max-width: 860px) {
            display: none;
        }
    }

    .page-main {

        &__columns {
            display: flex;
            justify-content: center;
        }

        .column.main {
            width: 100%;
        }
    }

    .amquickview {

        &-hover {
            height: 40px;
            padding: 0;
            z-index: 1;
        }

        &-link {
            height: 100%;
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
    }

    .ias-spinner {
        width: 100%;
    }

    .ias-noneleft {
        display: none !important;
    }
}

body[class~='catalogsearch-result-index'] {
    @media all and (min-width: 550px + 1px) {
        .catalog-main__description {
            padding-bottom: 50px;
        }
    }

}


.catalog-main {

    &__description {
        padding: 10px 20px 20px 20px;
        text-align: center;
        background: #f7f7f7;
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        h1 {
            color: #232323;
            font-size: 30px;
            font-weight: 500;
            margin: 30px 14px 0 0;

            @media all and (max-width: 550px) {
                margin: 0.67em 0;
            }
        }

        h2 {
            font-weight: normal;
            color: #333;

            @media all and (max-width: 550px) {
                display: none;
            }
        }

        > div {
            color: #333;
        }

        p {
            margin: 15px 0 0 0;
        }

        span {
            font-size: 11px !important;
            color: black;
        }

        &--left-column {
            @media all and (max-width: 550px) {
                display: flex;
                box-sizing: border-box;
                align-items: center;

                a {
                    content: '';
                    display: inline-block;
                    width: 2em;
                    height: 2em;
                    border-top: 0.2em solid black;
                    border-right: 0.2em solid black;
                    transform: rotate(-135deg);
                }
            }
        }

        &--right-column {
            @media all and (max-width: 550px) {
                display: flex;
                justify-content: center;
                flex: 1;
                box-sizing: border-box;

                > div {
                    @media all and (max-width: 550px) {
                        display: none;
                    }
                }
            }

        }
    }

    &__bottom-info {
        margin: 35px 0 35px 0;

        h3 {
            font-size: 24px;
            font-weight: 400;
            padding-bottom: 10px;
            margin: 0;
        }

        p {
            color: #222;
            font-size: 14px;
            font-weight: 300;
            line-height: 150%;
            padding: 8px 0 8px 0;
            margin: 0;
        }
    }
}

