body[class~='looknbuy-index-view'] {

    .page-main {
        max-width: 100%;
    }

    .page-main__columns {
        max-width: $container-width;
        margin: 0 auto;
    }

    .page-main__message {
        margin-bottom: 30px;
    }

    @media (max-width: $sm-breakpoint) {

        .looknbuy__nav-next,
        .looknbuy__nav-prev {
            display: none;
        }

        .product-info-main__price-and-wishlist {
            .price-box {
                font-size: 22px;
            }
        }

        .look-option-wrapper {
            display: none;
        }
        .looknbuy__product-info {
            opacity: 0.5;
        }

        .slick-current {

            .look-option-wrapper {
                display: block;
            }

            .looknbuy__product-info {
                opacity: 1;
            }
        }

        .page-main {
            padding: 0;
        }
    }
}
