<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pandagroup_categorysidebar" showInDefault="1">
            <tab>panda_group</tab>
            <label>Category Sidebar</label>
            <resource>Magento_Config::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Category Sidebar Settings</label>
                <field id="category" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Select Sidebar Category</label>
                    <source_model>PandaGroup\CategorySidebar\Model\Config\Source\Categories</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
