<div class="payment-method checkout__shipping-option" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="button"
               name="payment[method]"
               class="checkout__shipping-button"
               data-bind="attr: {'id': getCode()},
                                 value: 'pay',
                                 checked: isChecked,
                                 click: function() {selectPaymentMethod(); continueToMigs()},
                                 visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
        <label for="migs_hosted" class="checkout__cc-img" aria-label="Pay with Credit Cart"></label>
    </div>

</div>