.account-login {
    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;

        h1 {
            font-size: 30px;
            font-family: HlvtcNeueBdCndnsd;
            font-weight: normal;
            margin: 40px 0 10px;
        }
    }

    &__noaccount {
        font-size: 13px;
        color: $black-light;
        font-family: HlvtcNeueBdCndnsd;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__or {
        text-align: center;
        font-family: HlvtcNeueBdCndnsd;
        font-size: 20px;
    }

    &__login, &__register {
        width: 100%;
        max-width: 300px;
        margin: auto;
    }

    &__fieldset {
        padding: 0;
        margin: 0;
        border: 0;
    }

    &__input {
        margin: 7.5px 0;
    }

    &__button {
        @include button-custom($pd: 20px 50px, $bg: white, $mg: 35px 0 10px 0, $color: #666, $bghov: #666, $border: 2px solid #666);
    }

    &__link {
        color: $black-light;
        text-transform: uppercase;
        font-family: HelveticaNeueLTStd45Light;
        margin: 5px;
    }
}
