.product-main {

    &__wrapper {
        display: flex;
        padding: 30px 0 88px 0;
        @include container();

        @media all and (max-width: $bp-header) {
            flex-direction: column;
        }

        .size-chart {
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: fixed;
            height: 550px;
            overflow-y: auto;
        }
    }

    &__left {
        width: 55%;
        min-width: 55%;

        button.m360-icon.m360-icon-fullscreen-open {
            top: 65px !important;
            right: 65px !important;
        }

        @media all and (max-width: $bp-header) {
            width: 100%;

            .fotorama {
                display: flex;
                justify-content: center;

                &__stage[style] {
                    height: 572px !important;
                }
            }
        }

        @media all and (max-width: $cms-sm-brkpt) {
            .fotorama {
                &__stage[style] {
                    height: 274px !important;
                }
            }
        }
    }

    &__right {
        max-width: 100%;
        box-sizing: border-box;
        padding: 0;
        margin-left: 20px;

        @media all and (max-width: $bp-header) {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

