.product-info-detailed {

    &__description {
        font-size: 13px;
        line-height: 20px;
        color: #333;
        max-height: 178px;
        overflow-y: auto;
        max-width: 415px;
    }

}
