.product-info-detailed {
    max-width: 100%;

    &__description {
        font-size: 13px;
        line-height: 20px;
        color: #333;
        max-height: 180px;
        overflow-y: auto;

        @media all and (max-width: $bp-header) {
            max-width: 505px;
        }
    }

}
