.product-main {

    &__wrapper {
        display: flex;
        @include container();

        @media all and (max-width: $bp-header) {
            flex-direction: column;
        }

        .size-chart {
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: fixed;
            height: 550px;
            overflow-y: auto;
        }
    }

    &__left {
        width: 55%;
        min-width: 55%;

        button.m360-icon.m360-icon-fullscreen-open {
            top: 65px !important;
            right: 65px !important;
        }

        @media all and (max-width: $bp-header) {
            width: 100%;
        }
    }

    &__right {
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
    }
}

