.product-content {

    &__title {
        font-family: league_gothic;
        text-transform: uppercase;
        padding: 0 0 10px 0;

        h1 {
            font-size: 42px;
            font-weight: normal;
            margin: 0;
        }
    }

    .attribute.sku {
        display: flex;
        margin: 0 0 20px 0;

        strong {
            font-weight: normal;
            margin-right: 2px;
        }
    }

    &__price {
        display: flex;
        font-size: 35px;
        font-weight: 300;

        .towishlist {
            color: $gold;
            font-size: 12px;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            &:before {
                @include sprite(brownstar);
                content: '';
                margin-right: 5px;
            }
        }
    }

    &__qty {
        display: flex;
        align-items: center;
    }

    &__size-chart {
        display: flex;
        align-items: center;
        color: #928383;
        font-weight: 500;
        margin-left: 10px;

        &:before {
            @include sprite(brownline);
            content: '';
            display: block;
            margin: 0 10px;
        }
    }

    &__button {
        @include blue-button();
    }

    &__tabs {
        display: flex;

        @media all and (max-width: $bp-header) {
            flex-direction: column;
        }

        a {
            font-size: 20px;
            font-weight: 600;
            color: #242424;
            margin-right: 20px;
            display: block;

            @media all and (max-width: $bp-header) {
                padding: 24px 35px 24px 0;
            }

            &:hover {
                color: #666;
            }
        }

        .active {

            a {
                border-bottom: 3px solid $grey;

                @media all and (max-width: $bp-header) {
                   border-bottom: 0;
                }
            }
        }
    }
}
