.product-info-main {
    max-width: 100%;

    &__title {
        font-family: Roboto, sans-serif;
        padding: 0 0 4px 0;

        h1 {
            font-size: 30px;
            line-height: 1.15em;
            font-weight: normal;
            margin: 100px 0 0 0;
            width: 100%;

            @media all and (max-width: $sm-breakpoint) {
                margin: 46px 0 0 0;
            }

            @media all and (max-height: 850px) {
                margin: 20px 0 0 0;
            }

        }
    }

    &__sku {
        font-size: 12px;
        color: #181818;
        margin: 12px 0 20px 0;
        letter-spacing: 0.05em;

        * {
            display: inline-block;
        }

        strong {
            font-weight: normal;
            margin-right: 2px;
        }
    }

    &__price-and-wishlist {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;

        .price-box {
            font-size: 27px;
        }
    }

    &__wishlist-star {
        @include sprite(wishlist-icon);
        padding: 0 1px 1px 0;
        cursor: pointer;

        &.active {
            @include sprite(wishlist-icon-dark);
        }
    }

    &__size-chart {
        font-size: 17px;
        cursor: pointer;

        @media all and (max-width: $sm-breakpoint) {
            margin-left: 0;
            text-decoration: underline;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__options-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 10px;
        align-items: center;

        @media all and (max-width: $sm-breakpoint) {
            margin-left: 0;
            flex-wrap: nowrap;
            margin-bottom: 15px;
        }
    }

    &__fieldset {
        @media all and (max-width: $sm-breakpoint) {
            flex: 1;
        }
    }

    &__qty-select {
        @media all and (max-width: $sm-breakpoint) {
            display: none;
        }
    }

    &__add-to-cart {
        @include button-black($height: 55px, $margin-top: 10px, $font-size: 18px);

        &--out-of-stock {
            cursor: default;

            &:hover {
                background-color: #363636;
            }
        }
    }

    &__free-delivery {
        margin: 34px 0 0 0;
        letter-spacing: 0.05em;

        strong {
            text-transform: uppercase;
            display: block;
            margin-bottom: 6px;
        }
    }

    &__free-delivery-trigger {
        text-decoration: underline;
        cursor: pointer;
    }

    &__giftcart-image {
        cursor: pointer;
    }

    &__field {
        margin-bottom: 10px;
        width: 100%;

        &.mage-error {
            margin-bottom: 10px;
        }
    }

    &__label {
        display: block;
        margin-bottom: 4px;
    }

    &__input {
        @include pdp-form-elements($height: 39px);
        box-sizing: border-box;
    }

    &__textarea {
        @include pdp-form-elements($height: 5em);
        box-sizing: border-box;
        resize: none;
    }
}

.page-product-amgiftcard {
    div.mage-error {
        color: red;
        margin-top: 3px;
        position: inherit;
    }

    .select__wide-arrow {
        top: 23px;
        transform: none;
    }
}
