.products-related {
    &__slider {
        margin-top: 53px;
        max-height: 400px;

        .slick-arrow {
            background: url('../../mage/gallery/gallery.png') no-repeat;
            position: absolute;
            top: 23%;
            height: 80px;
            width: 30px;
            z-index: 1;
            transform: scale(0.7);
        }

        .slick-prev {
            background-position: -108px -80px;
        }

        .slick-next {
            background-position: -185px -80px;
            right: 0;
        }

        .slick-track {
            margin: 0;
        }

        .product-image-photo {
            margin: 0 auto;
        }
    }

    &__details {
        max-width: 100%;
        width: 218px;
        text-align: center;
        margin: 0 auto;
    }

    &__item {
        margin: 0 5px 20px 5px;
        position: relative;
    }

    &__wrapper {
        text-align: center;
    }

    &__name {
        color: $black;
        font-weight: normal;
        font-size: 17px;
        margin: 21px 0 4px 0;
        display: block;

        &:hover {
            color: $grey-dark;
        }
    }

    &__price {
        display: flex;
        justify-content: center;

        .price {
            font-size: 15px;
            font-weight: 300;
        }
    }
}

