.products-related {

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @media all and (max-width: $sm-breakpoint) {
            max-width: 672px;
            width: 100%;
        }

        li {
            margin: 0 5px 20px 5px;
        }
    }

    &__details {
        max-width: 100%;
        width: 218px;
        text-align: center;
    }

    &__item {
        margin: 0 2% 20px 2%;
    }

    &__wrapper {
        text-align: center;
    }

    &__name {
        color: $black;
        text-transform: uppercase;
        font-size: 17px;
        margin: 10px 0;
        display: block;

        &:hover {
            color: $grey;
        }
    }

    &__price {
        display: flex;
        justify-content: center;

        .price {
            font-size: 17px;
            font-weight: 300;
        }
    }
}

