.product-content {

    &__title {
        font-family: league_gothic;
        text-transform: uppercase;
        padding: 0 0 10px 0;

        h1 {
            margin: 0;
        }
    }

    .attribute.sku {
        display: flex;

        strong {
            font-weight: normal;
            margin-right: 2px;
        }
    }

    &__price {
        display: flex;
        font-size: 35px;
        font-weight: 300;

        .price-box {
            margin-right: 20px;
        }

        .towishlist {
            color: $gold;
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    &__button {
        @include blue-button();
    }

    &__tabs {
        display: flex;

        a {
            font-size: 20px;
            font-weight: 600;
            color: #242424;
            margin-right: 20px;
        }
    }
}
