<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <!-- TODO-->
            <argument name="layoutProcessors" xsi:type="array">
                <item name="pandagroup-checkout-fields-comment-field" xsi:type="object">PandaGroup\CommentBox\Processor\Magento\Checkout\Block\Onepage\CommentField</item>
            </argument>
        </arguments>
    </type>
</config>
