.c-sidebar {
    width: 100% !important;

    .expand,
    .expanded {
        cursor: pointer;
        float: right;
    }
    
    .o-list {
        display: none;
        margin-bottom: 0;
        padding-left: 0;

        li.level0.active {
            ul:first-of-type {

                padding-top: 0;
            }
        }

        li.level1.active {
            &:first-child ul {
                //padding-top: 18px;
            }
        }

        li.level1.active {
            :first-child a {
                padding-top: 18px;
            }
        }

        li {
            list-style: none;
            padding-bottom: 18px;

            a {
                display: inline-block;

                &.active {
                    padding-bottom: 18px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            > ul {
                padding-top: 18px;
                margin-top: 0;
            }

            a.is-active {
                font-weight: 600;
            }

            .active a.is-active {
                 //padding-bottom: 18px;
            }
        }

        .level0 {
            list-style: none;
            margin: 10px 0;
            //border-top: 1px solid #BBB9B9;
            //cursor: pointer;
            color: $grey;

            a {
                font-size: 17px;
                font-weight: 400;
            }
        }

        .level2.active a:first-of-type {
            padding-bottom: 10px;
        }

        .level1.active li:last-of-type {
            padding-bottom: 0;
        }

        .level1 a {
            font-size: 14px;
            font-weight: 300;
            color: #333;
        }

        .level2 a {
            padding-left: 15px;
            font-size: 14px;
            font-weight: 300;
        }

        //.level3 a {
        //    padding-left: 30px;
        //    font-size: 14px;
        //    font-weight: 300;
        //}

    }
    > .o-list {
        display: block;
        //padding-right: 45px;
        //margin-bottom: 30px;
    }
}
