$grey: #d7d7d7;
$grey-dark: #999;
$gold: #a28759;
$white: #fff;
$black: #000;
$black-light: #222;
$red: #e20000;

$container-width: 1080px;

$bp-header: 910px;
$bp-measure: 675px;
$bp-small: 425px;

$lg-breakpoint: 1130px;
$md-breakpoint: 900px;
$sm-breakpoint: 768px;
$cms-lg-brkpt: 1120px;
$cms-md-brkpt: 875px;
$cms-sm-brkpt: 655px;