.measure-top {
    @include bg('made-to-measure-1.jpg');
    color: $white;
    min-height: 940px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__img {
        align-self: center;
    }

    &__bg {
        background: rgba(17, 17, 17, 0.6);
        padding: 40px 0 0 0;
    }

    &__wrapper {
        max-width: 700px;
        margin: 0 auto;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    &__title {
        font-size: 36px;
        letter-spacing: 5px;
        font-family: 'GothamBook';
        text-transform: uppercase;
        text-align: center;

        i {
            font-weight: 600;
        }
    }

    &__paragraph {
        margin-top: 20px;
        font-size: 18px;
        text-align: center;
        line-height: 150%;
        letter-spacing: 0.7px;
    }

    &__button {
        @include button-custom($pd: 17px 30px 10px 30px, $mg: 30px auto 1px auto, $fontsize: 16px, $bg: #b68554, $color: white, $border: 0);
        text-transform: uppercase;
        margin: 30px auto 1px auto;
    }

    &__arrow {
        @include bg('arrw-right.png');
        transform: rotate(90deg);
        width: 30px;
        height: 90px;
        margin: auto;
        cursor: pointer;
    }
}

