.measure-slider {
    overflow: hidden;

    &__slide {

        margin: 0 0.5%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0 10px;
        min-height: 550px;

        @for $i from 1 through 5 {
            &--#{$i} {
                @include bg('measure/slide-#{$i}.jpg');
                background-size: cover;
            }
        }

        @media all and (max-width: $bp-measure) {
            background: #ebebeb;
            color: $black;
            margin: 0;
        }

        @media all and (min-width: $bp-measure + 1px) {
            min-height: 750px;
        }



    }

    &__wrapper {
        max-width: 750px;
        margin: auto;

        @media all and (max-width: $bp-measure) {
            padding: 0 20px;
        }
    }

    &__number {
        display: none;
        background: #363636;
        width: 115px;
        height: 115px;
        border-radius: 50%;
        margin: 60px auto 45px auto;
        color: #fff;
        font-size: 80px;
        text-align: center;
        line-height: 123px;
        font-family: 'GothamBook', sans-serif;
        font-weight: bold;

        @media all and (max-width: $bp-measure) {
            display: block;
        }
    }

    &__title {
        font-family: 'GothamBoldRegular', sans-serif;
        font-size: 39px;
        margin-bottom: 45px;
        letter-spacing: 0.1em;

        @media all and (max-width: $bp-measure) {
            font-size: 26px;
        }
    }

    &__paragraph {
        font-family: 'GothamBoldRegular', sans-serif;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 150%;

        &--rwd {
            display: none;
            font-family: 'GothamBoldRegular', sans-serif;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 140%;
        }

        @media all and (max-width: $bp-measure) {
            display: none;

            &--rwd {
                display: block;
            }
        }
    }

    .slick-arrow {
        position: absolute;
        height: 102px;
        width: 30px;
        z-index: 100;
        top: 50%;
        border: 0;
        text-indent: -9999px;
        cursor: pointer;
        margin-top: -90px;
        outline: none;
    }

    .slick-prev {
        @include bg('arrw-right.png');
        transform: rotate(180deg);
        left: 2%;
    }

    .slick-next {
        @include bg('arrw-right.png');
        right: 2%;
    }

    .slick-dots {
        @include slick-buttons();
        margin: 40px 0 60px 0;
    }
}

