<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugins to change default redirect address in depends of source page (cart/checkout) -->
    <type name="Magento\Checkout\Controller\Cart\CouponPost">
        <plugin disabled="false"
                name="PandaGroup_CouponExtender_Magento_Checkout_Controller_Cart_CouponPost"
                sortOrder="10"
                type="PandaGroup\CouponExtender\Plugin\Magento\Checkout\Controller\Cart\CouponPost" />
    </type>
</config>