<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- Rewrite method 'savePhoto' -->
	<preference for="Magenest\InstagramShop\Controller\Adminhtml\Instagram\GetPhoto"
				type="PandaGroup\InstagramShopExtender\Controller\Adminhtml\Instagram\GetPhoto" />
</config>
