.after-items {
    display: flex;
    flex-wrap: wrap;

    &__top {
        flex: 1 0 100%;

        @media all and (max-width: $cms-sm-brkpt) {
            order: 2;
        }
    }

    &__left {
        flex: 1 0 50%;
    }

    &__right {
        flex: 1 0 50%;
        display: flex;
        justify-content: flex-end;

        @media all and (max-width: $cms-sm-brkpt) {
            flex: 1 0 100%;
            justify-content: center;
            order: 3;
        }

        .after-items__checkout-button > button {
            @media all and (max-width: $cms-sm-brkpt) {
                width: 100%;
            }
        }
    }

    &__bottom {
        flex: 1;
        margin: 20px 0 50px;
        padding: 20px 0 20px 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        @media all and (max-width: $md-breakpoint) {
            order: 4;
        }

        &--wrapper {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            align-items: center;

            @media all and (max-width: $md-breakpoint) {
                display: flex;
                flex-direction: column;
                align-items: center;
                order: 4;
            }
        }

        .credit-card-brands {
            @media all and (max-width: $md-breakpoint) {
                margin: 30px 0;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }

    &__discount {

        &-label {
            display: block;
            letter-spacing: 1px;
            margin: 17px 0 12px;
            text-align: left;
            font-size: 20px;
        }

        &-fieldset {
            display: flex;

            @media all and (max-width: $cms-sm-brkpt) {
                flex-direction: column;
            }

            .primary {
                display: flex;

                > button {
                    flex-basis: 100%;
                    justify-content: center;
                }
            }
        }

        &-input {
            @include form-element();
            text-align: center;
        }

        &-button {
            @include button-grey(0 30px, 0 0 0 5px, 16px);
            border: 1px solid #b4b2b2;
            color: #666666;
            height: 40px;

            &:hover {
                background-color: white;
                color: #181818;
            }

            @media all and (max-width: $cms-sm-brkpt) {
                margin: 10px 0 0 0;
            }
        }
    }

    &__continue-link {
        padding: 20px 0;
        display: flex;
        font: 13px arial;
        color: black;
        letter-spacing: 2px;
        text-decoration: underline;
        text-transform: uppercase;
        max-width: 184px;

        &-icon {
            @include sprite(buttonarrowleft);
            width: 9px;
            height: 15px;
            background-position: -309px -103px;
        }
    }

    &__total-price {
        @extend .items-table__price;
        display: flex;
        flex-direction: row-reverse;

        .grand.totals {
            display: flex;
            align-items: center;
            margin: 30px 0 30px 0;

            th.mark {
                margin-right: 10px;
            }
        }
    }

    &__checkout-button {
        text-align: right;

        @media all and (max-width: $cms-sm-brkpt) {
            flex-basis: 100%;
        }

        > button {
            @include button-blue(0, 10px 0, 15px, normal);
            height: 42px;
            width: 250px;
            max-width: 100%;
        }
    }

    &__paypal-button {
        @include button(0, 0);
        background-color: white;
        border: 1px solid #b4b2b2;
        height: 42px;
        width: 250px;

        &:hover {
            background-color: white;
        }

    }

    &__paypal-logo {
        @include sprite(paypalbutt);
        display: block;
        margin: auto;
    }
}
