.after-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    &__top {
        flex: 1 0 100%
    }

    &__left {
        flex: 1 0 50%;
    }

    &__right {
        flex: 1 0 50%;
    }

    &__discount {

        &-label {
            display: block;
            letter-spacing: 1px;
            margin: 17px 0 12px;
            text-align: left;
            font-size: 20px;
        }

        &-fieldset {
            display: flex;
        }

        &-input {
            @include form-element();
            text-align: center;
        }

        &-button {
            @include button-grey(0 30px, 0 0 0 5px, 16px);
            border: 1px solid #b4b2b2;
            color: #666666;
            margin: 0 0 0 5px;
            height: 40px;

            &:hover {
                background-color: white;
                color: #181818;
            }
        }
    }

    &__continue-link {
        padding: 20px 0;
        display: flex;
        font: 13px arial;
        color: black;
        letter-spacing: 2px;
        text-decoration: underline;
        text-transform: uppercase;

        &-icon {
            @include sprite(buttonarrowleft);
        }
    }

}