.items-table {
    font-family: Roboto, arial, sans-serif;
    width: 100%;

    &__item {
        display: flex;
        padding: 20px 0;

        &:not(:last-of-type) {
            border-bottom: 1px solid #DDD;
        }
    }

    &__product-info {
        flex: 1;
        margin: 7px 0 0 31px;
    }

    &__product-name {
        font-size: 19px;

        a {
            color: #181818;
        }
    }

    &__product-code {
        font-size: 11px;
        margin: 7px 0 15px 0;

        dt, dd {
            display: inline-block;
        }
    }

    &__product-delivery {
        display: block;
        margin-top: 26px;
        font-size: 12px;
        font-style: italic;
        color: #666;
    }


    &__price {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 31px;

        &--strikethrough {
            text-decoration: line-through;
        }

        &--special {
            color: red;
        }
    }

    &__message {
        font-size: 12px;
        margin: 5px 0 10px;
        padding: 5px;
        border-radius: 1px;
        display: inline-block;

        &.success {
            border: 1px solid #399131;
        }

        &.error {
            border: 1px solid #d32b21;
        }

        &.notice {
            border: 1px solid #d32b21;
        }
    }

    &__options-and-actions {
        display: flex;
    }

    &__cart-select {
        font-size: 14px;
        margin-right: 12px;
    }

    &__label {
        display: block;
        margin-bottom: 10px;
    }

    &__actions {
        font-size: 15px;
        margin: auto 0 0 10px;
        display: flex;
        flex-direction: column;

        * {
            color: #181818;

            &:hover {
                color: #767676;
            }
        }
    }

    .product-image-wrapper {
        padding-bottom: 0 !important;
    }

    @media all and (min-width: $sm-breakpoint + 1px) {
        &__price {
            margin-bottom: 21px;
        }

        &__cart-select {
            margin-top: 10px;
        }
    }

    @media all and (max-width: $cart-lg-breakpoint) {
        &__product-info {
            margin: 7px 0 0 15px;
        }

        &__options-and-actions {
            flex-wrap: wrap;
        }

        &__actions {
            margin: 10px 0;
            flex: 1 1 100%;
            flex-direction: row;
            flex-wrap: wrap;

            > a {
                margin: 0 10px 10px 0;
            }
        }

        &__product-delivery {
            margin-top: 0;
        }
    }

    // Shopping bag
    @media all and (max-width: $sm-breakpoint) {
        &__product-info {
            margin: 0 0 0 31px;
        }

        &__product-code {
            display: none;
        }

        &__price {
            margin: 12px 0 0 0;
        }

        &__product-delivery {
            display: none;
        }
    }

    // tablet
    @media all and (max-width: $sm-breakpoint) and (min-width: $xs-breakpoint + 1px) {
        &__product-name {
            display: block;
            margin-top: 7px;
        }

        &__price {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 24px;
        }

        &__label {
            font-size: 12px;
        }

        &__actions {
            margin-top: 33px;
            font-size: 14px;
        }
    }

    // iPhone 320px
    @media all and (max-width: $xs-breakpoint) {

        &__product-info {
            margin: 0 0 0 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        &__product-name a {
            font-size: 16px;
        }

        &__price {
            font-size: 15px;
        }

        &__label {
            font-size: 12px;
            margin-bottom: 2px;
        }

        &__actions {
            order: 1;
            font-size: 12px;

            a {
                flex: 1 1 100%;
                margin: 0 15px 5px 0;
            }
        }

        &__options-and-actions {
            max-width: 200px;
        }

        &__cart-select {
            order: 2;
            margin: 0;
            flex: 0 1 65%;
            box-sizing: border-box;

            &:first-of-type {
                flex: 0 1 35%;
                padding-right: 5px;
            }
        }

        .select__wrapper--cart {
            width: 100%;
            margin: 0 0 2px 0;
        }

        .select__cart-select {
            width: 100%;
        }
    }
}
