.items-table {
    font-family: Roboto, arial, sans-serif;
    width: 100%;

    &__item {
        display: flex;
        padding: 20px 0;

        &:not(:last-of-type) {
            border-bottom: 1px solid #DDD;
        }
    }

    &__product-info {
        flex: 1;
        margin: 7px 0 0 31px;
    }

    &__remove {

    }

    &__product-details {
        padding-left: 5px;
        max-width: 100%;
        width: 271px;

        @media all and (max-width: $cms-sm-brkpt) {
            padding-left: 0;
        }

        .message.error {
            color: red;
        }
    }

    &__product-name {
        font-size: 19px;

        a {
            color: #181818;

            @media all and (max-width: $cms-sm-brkpt) {
                font-size: 20px;
            }
        }
    }

    &__product-code {
        font-size: 11px;
        margin: 7px 0 15px 0;

        dt, dd {
            display: inline-block;
        }
    }

    &__product-delivery {
        display: block;
        margin-top: 26px;
        font-size: 12px;
        font-style: italic;
        color: #666;
    }


    &__price {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 31px;

        &--strikethrough {
            text-decoration: line-through;
        }

        &--special {
            color: red;
        }
    }

    &__options-and-actions {
        display: flex;
    }

    &__cart-select {
        font-size: 14px;
        margin-right: 12px;
    }

    &__label {
        display: block;
        margin-bottom: 10px;
    }

    &__actions {
        font-size: 15px;
        margin: auto 0 0 10px;
        display: flex;
        flex-direction: column;

        * {
            color: #181818;
            &:hover {
                color: #767676;
            }
        }
    }

    @media all and (max-width: $cart-lg-breakpoint) {
        &__product-info {
            margin: 7px 0 0 15px;
        }

        &__options-and-actions {
            flex-wrap: wrap;
        }

        &__actions {
            margin: 10px 0;
            flex: 1 1 100%;
            flex-direction: row;
            flex-wrap: wrap;

            > a {
                margin: 0 10px 10px 0;
            }
        }
    }

    @media all and (max-width: $sm-breakpoint) {
        &__product-info {
            margin: 7px 0 0 31px;
        }
    }

    @media all and (max-width: $xs-breakpoint) {
        &__price {
            margin-bottom: 15px;
        }

        &__product-info {
            margin: 7px 0 0 5px;
        }

        &__cart-select {
            margin: 10px 12px 0 0;
        }

        &__actions {
            margin: 10px 0;
            flex: 1 1 100%;
        }

        &__product-delivery {
            margin-top: 0;
        }

    }
}
