.items-table {
    width: 100%;
    letter-spacing: 1px;

    &__row {
        display: flex;
        border-bottom: 1px solid #DDD;

        &--header {
            font-size: 20px;

            > div {
                padding: 10px 5px;
            }
        }

        &--item {

            > div {
                padding: 20px 5px;
            }
        }
    }

    &__column {

        &--remove {
            width: 5%;
        }

        &--item {
            width: 55%;
            display: flex;
        }

        &--qty {
            width: 15%;
        }

        &--size {
            width: 15%;
        }

        &--price {
            width: 10%;
        }

        &--centred {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--centred-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }
    }

    &__remove {
        @include sprite(remove-ico);
    }

    &__product {

        &-details {
            padding-left: 5px;
        }

        &-name {
            font-family: league_gothic, sans-serif;
            font-size: 30px;
            text-transform: uppercase;

            a {
                color: #000;
            }
        }

        &-params {
            font-size: 14px;

            dt, dd {
                display: inline-block;
                margin: 10px 5px 0 0;
            }

            &-Size {
                font-size: 16px;
                font-weight: 300;
            }

            &-delivery {
                font-size: 12px;
                font-style: italic;
            }

        }
    }

    &__price {
        font-size: 16px;
        letter-spacing: 1px;

        &--strikethrough {
            text-decoration: line-through;
        }

        &--special {
            color: red;
        }
    }
}
