.header-right__minicart {
    > .ui-widget {
        position: absolute;
        top: 42px;
        right: 10px;
        z-index: 999;
    }

    .ui-effects-wrapper {
        position: absolute !important;
        top: 55px;
        right: 10px;
        z-index: 999;
    }
}

.minicart {
    position: inherit;
    background-color: $white;
    padding: 0;
    width: 368px;
    color: #515151;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    font-family: sofia-pro, sans-serif;
    font-weight: 300;

    a {
        color: $light-dark;
        font-size: 13px;
        text-decoration: none;
    }

    dl, dt, dd {
        display: inline;
    }

    &__summary {
        background-color: $lightgrey;
        padding: 10px 0;
        margin-top: 5px;
        display: flex;
        flex-direction: column-reverse;
    }

    &__subtotal {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px 25px;
        color: $light-dark;
    }

    &__subtotal-amount {
        display: flex;
        flex-direction: row;

        span {
            margin-right: 6px;
        }
    }

    &__paypal {
        display: flex;
        align-items: center;

        span {
            font-size: 11px;
            font-weight: 600;
            color: $light-dark;
            text-transform: uppercase;
        }

        &-img {
            width: 170px;
            height: 16px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../../img/assets/product-page/paypalbutt.png');
        }
    }

    &__view-cart {
        text-align: right;
        padding: 30px 20px 0;

        a {
            text-decoration: underline;
            font-weight: 300;
        }
    }

    &__items-wrapper {
        overflow: auto;
        max-height: 320px;
        padding: 20px 10px 0;

        ol {
            overflow: hidden;
            margin-top: 10px;
        }
    }

    &__item {
        display: flex;
        margin-bottom: 25px;
        margin-top: 15px;
    }

    &__item-details {
        margin-left: 10px;
    }

    &__item-options {
        text-transform: uppercase;
    }

    &__item-name {
        margin-bottom: 0;
        text-transform: uppercase;
        padding-bottom: 6px;
    }

    &__image {
        max-width: 90px;
        max-height: 120px;
    }

    &__qty-and-price {
        margin-top: 18px;
    }

    &__buttons {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        * {
            box-sizing: border-box;
        }

        .minicart__button {

            &--view-cart {
                @include button-black($bg: white, $color: #333, $border: 1px solid $grey-dark, $font-size: 14px, $height: inherit, $margin-top: 0);
                flex: 0 0 49%;
                text-align: center;
            }

            &--checkout {
                @include button-black($font-size: 14px, $height: inherit, $margin-top: 0);
                flex: 0 0 39%;
                margin-left: 5px;
                text-transform: uppercase;
                font-size: 13px;
            }
        }
    }

    &__remove {
        text-decoration: underline;
        text-transform: uppercase;
        padding-top: 36px;
    }

    &__overlay {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        background-color: rgba(1, 1, 1, 0.6);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.3s all;

        &--shown {
            visibility: visible;
            opacity: 1;
        }
    }

    &__close {
        background-color: #363636;
        height: 20px;
        position: relative;
        cursor: pointer;

        &::after {
            pointer-events: none;
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 6px 6px;
            border-color: transparent transparent #fff transparent;
        }
    }

    &__no-items {
        text-align: center;
        font-family: sofia-pro, sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        padding-top: 30px;

        span {
            display: block;
            background-color: #f9f9f9;
            line-height: 20px;

            &:first-of-type {
                padding-top: 20px;
                margin-top: 30px;
            }

            &:last-of-type {
                padding-bottom: 20px;
            }
        }
    }

    &__no-items-img {
        width: 115px;
        height: 115px;
        background-image: url('../../img/assets/PJ-sword-logo.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;

    }

    &__no-items-btn {
        text-transform: uppercase;
        text-align: center;
        padding: 10px 2px !important;
        font-size: 13px;
        font-weight: 500;
        transition: background 0.3s, color 0.3s ease-in-out;
        cursor: pointer;
        background: #353535 !important;
        color: white;
        border: none;
        font-family: sofia-pro, sans-serif;
        width: 155px;
        border-radius: 0 !important;
        margin: 20px 0 !important;

        &:hover {
            color: #fafafa !important;
            background-color: #666 !important;
        }
    }
}


