.sidebar-prices {
    margin-top: $checkout-sidebar-pdd;
    border-collapse: collapse;
    width: 100%;

    table {
        width: 100%;
        border-collapse: collapse;

    }

    .table-caption {
        display: none;
    }

    tr {
        vertical-align: middle;
    }

    th {
        text-align: left;
        font-weight: normal;
        font-size: 14px;
        padding: 7px $checkout-sidebar-pdd;
        width: 65%;
    }

    td {
        text-align: right;
        font-size: 15px;
        font-weight: 500;
        padding-right: $checkout-sidebar-pdd;
        width: 100%;
    }

    .totals.sub {
        th, td {
            padding-bottom: 7px;
        }
    }

    .totals.shipping {
        th, td {
            padding-bottom: 21px;
        }
    }

    .grand.totals {
        th {
            font-size: 15px;
        }

        td {
            font-size: 16px;
        }

        th, td {
            border-top: $checkout-sidebar-border;
            padding-top: $checkout-sidebar-pdd;
        }
    }
}
