.stores-li {
    display: flex;
    flex-wrap: wrap;
    max-width: 1120px;

    margin: 0 auto;

    &__store {
        flex: 0 1 25%;
        box-sizing: border-box;
        padding: 50px 10px 40px 30px;
        min-width: 250px;
        border-bottom: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__name {
        font-size: 24px;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        padding: 14px 0 20px 0;
        cursor: pointer;
        margin: 0;
    }

    &__credentials {
        font-size: 15px;
        font-weight: 500;
        width: 250px;

        li {
            margin: 4px 0 0 0;
            display: flex;
            align-items: center;
            line-height: 26px;
        }


    }

    &__hours-wrapper {
        position: relative;
    }

    &__hours {
        @include form-element();
        font-family: Roboto, sans-serif;
        color: #464646;
        font-weight: 400;
        border: 1px solid #959494;
        width: 93%;
        padding: 0 6px;
        font-size: 121%;
    }

    &__hours-arrow {
        @include form-select-arrow();
        width: 29px;
    }
}

@media screen and (max-width: $lg-breakpoint) {
    .stores-li {
        max-width: 750px;

        &__store {
            flex: 0 1 33%;
        }
    }
}

@media screen and (max-width: $sm-breakpoint) {
    .stores-li {

        &__store {
            flex: 1 1;
        }
    }
}
