.storelocator-header {

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 60px;
        font-family: league_gothic;
        font-weight: normal;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin: 40px auto;
        max-width: 960px;
    }

    &__filters {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }

    &__filter {
        font-weight: bold;
        font-size: 19px;
        margin-right: 10px;
        cursor: pointer;

        &--active {
            text-decoration: underline;
        }
    }

    &__reset {
        color: $grey-dark;
        text-decoration: underline;
        cursor: pointer;
        margin: 0 10px;
        font-size: 15px;
    }

    &__input {
        background: #efefef;
        border: 0;
        border-radius: 5px;
        color: $grey-dark;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 0;
    }

    &__back, &__search {
        background: $grey-dark;
        border: 0;
        border-radius: 5px;
        margin: 0 10px;
        padding: 15px 30px;
        color: $white;
        font-weight: bold;
        cursor: pointer;
    }

    &__error {
        text-align: center;
        color: $red;
    }
}
