.store-view {
    max-width: 960px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;

    div {
        box-sizing: border-box;
    }

    &__store-card, &__tabs {
        flex: 1 1 50%;
        padding: 10px;
    }

    &__name {
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        margin: 0 0 20px 0;
    }

    &__credentials {
        li {
            display: flex;
            margin-bottom: 8px;
        }
    }

    &__label {
        flex: 0 0 75px;
        display: block;
        font-weight: bold;
    }

    @media screen and (max-width: $sm-breakpoint) {
        &__store-card, &__tabs {
            flex: 1 1 100%;
        }

        &__name {
            margin-bottom: 35px;
        }
    }
}


