<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block items-in-cart checkout-table">
    <div class="content minicart-items" data-role="content">
            <ol class="minicart-items checkout-table__items">
                <li class="product-item checkout-table__item product-item checkout-table__item--header">
                        <div class="checkout-table__name-and-attrs">
                            <span><!-- ko i18n: 'Product' --><!-- /ko --></span>
                        </div>
                        <div class="checkout-table__qty">
                            <span><!-- ko i18n: 'Qty' --><!-- /ko --></span>
                        </div>
                        <div class="checkout-table__price">
                            <span><!-- ko i18n: 'Price' --><!-- /ko --></span>
                        </div>
                </li>
                <!-- ko foreach: getItems() -->
                <li class="product-item checkout-table__item">
                        <!-- ko foreach: $parent.elems() -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                </li>
                <!-- /ko -->
            </ol>
    </div>
</div>
