<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block items-in-cart checkout-cart">
    <div class="content minicart-items" data-role="content">
            <ol class="minicart-items checkout-cart__items">
                <!-- ko foreach: getItems() -->
                <li class="product-item checkout-cart__item">
                        <!-- ko foreach: $parent.elems() -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                </li>
                <!-- /ko -->
            </ol>
    </div>
</div>
