<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isDisplayed() -->
<li class="checkout-table__item checkout-table__item--bold">
    <div class="checkout-table__name" data-bind="text: title"></div>
    <div class="col grandtotal checkout-table__price">
        <span data-bind ="text: getValue(), attr:{'data-label': title}"></span>
        <!-- ko foreach: elems() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
</li>
<!-- /ko -->
