.arrow-scroller {
    @include bg('arr-up.png');
    position: fixed;
    bottom: 45px;
    right: 40px;
    display: none;
    cursor: pointer;
    padding: 25px 0 0 0;
    background-position: top center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    z-index: 99;

    em {
        font-style: normal;
    }

    @media all and (max-width: $sm-breakpoint) {
        display: none !important;
        opacity: 0 !important;
    }
}

