$breadcrumbs-color: #928383;
.cms-page-view .breadcrumbs {
    max-width: 990px;
}
.breadcrumbs {
    @include container();
    box-sizing: border-box;
    padding: 50px 20px 20px 20px;

    @media all and (max-width: $bp-header) {
        padding: 20px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        text-transform: uppercase;

        a {
            color: #222;

            &:hover {
                color: $breadcrumbs-color;
            }
        }

        &--bold * {
            font-weight: bold;
        }

        &--right {
            margin-left: auto;
        }

        &--last {
            color: $breadcrumbs-color;
            text-transform: none;
            font-weight: normal;
        }
    }

    &__separator {
        margin: 0 5px;
        color: $breadcrumbs-color;
    }

    &__right {
        display: flex;
        align-items: center;
    }
}
