.layered-nav {
    height: 100%;
    padding-right: 30px;

    @media all and (max-width: 850px) {
        display: none;
    }

    input {
        display: none;
    }

    &__filter-header {
        font-size: 17px;
        margin: 10px 0;
    }

    &__row, &__active-filter {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__clear {
        text-decoration: underline;
        font-weight: bold;
        color: $black-light;
    }

    &__title {
        padding: 10px 0;
        margin: 10px 0;
        border-bottom: 1px solid $grey-dark;
        cursor: pointer;
        font-size: 18px;
        color: #333;
        display: flex;
        justify-content: space-between;
    }

    &__content {
        margin-left: 7px;

        a {
            font-size: 15px;
            color: #333;
        }
    }

    &__line {
        background: #333;
        display: block;

        &--vertical {
            width: 15px;
            height: 1px;
        }

        &--horizontal {
            display: none;
            position: absolute;
            height: 15px;
            width: 1px;
        }
    }

    &__minus {
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &--plus {

            .layered-nav__line--horizontal {
                display: block;
            }
        }
    }
}

