.layered-nav {
    min-width: 180px;
    height: 100%;
    padding-right: 15px;

    &__button {
        @include sprite(filter-button);
        background-color: $white;
        display: block;
        position: fixed;
        margin-left: -75px;
        cursor: pointer;
    }
}

