.mailchimp {
    display: flex;

    &__input-wrap {

    }

    &__input {
        position: relative;
        bottom: 0;
        text-transform: none;
        border: none;
        border-bottom: 2px solid #afafaf;
        font-size: 12px;
        height: 39px;
        line-height: 39px;
        background: #FFF;
        width: 100%;
        padding: 0;
        transition: all .2s ease;

        &:focus {
            outline: none;
            border-bottom-width: 4px;
            bottom: -2px
        }
    }

    &__submit {
        background: none;
        display: inline-block;
        border-radius: 4px;
        height: 39px;
        line-height: 32px;
        font-weight: bold;
        font-size: 11px;
        color: #242424;
        padding: 0 50px 0 50px;
        width: 100%;
        max-width: 240px;
        cursor: pointer;
        text-transform: uppercase;
        border: none;
        transition: all 0.3s ease-in-out;
    }
}

