$padding: 2%;
$border: 4px;
$input-height: 49px;

.page-footer__signup {
    .mailchimp {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        div {
            box-sizing: border-box;
        }

        &__input {
            border: none;
            border-bottom: 2px solid #afafaf;
            font-size: 12px;
            height: $input-height;
            padding: 0;
            transition: all 0.2s ease;
            width: 100%;
            margin-bottom: 2px;

            &:focus {
                outline: none;
                border-bottom-width: $border;
                margin-bottom: 2px - $border / 2;
            }

            &::clear {
                display: none;
            }
        }

        &__messages {
            flex: 1 0 100%;
            text-align: center;
        }

        &__submit {
            height: $input-height;
            border: none;
            font-weight: bold;
            font-size: 14px;
            color: #666;
            background: none;
            padding: 0;
            max-width: 240px;
            cursor: pointer;
            text-transform: uppercase;
        }

        @media all and (min-width: $sm-breakpoint) {

            &__input-wrap {
                flex: 1;
                padding: 0 $padding;
            }

            &__messages {
                margin: 20px 0;
            }

            &__button-wrap {
                position: absolute;
                right: $padding;
            }
        }

        @media all and (max-width: $sm-breakpoint) {


            &__input-wrap {
                flex: 1 0 90%;
                padding: 0 5%;
            }

            &__messages {
                margin: 10px 0;
            }

            &__button-wrap {
                flex: 1 0 100% - 2 * $padding;
                position: relative;
                padding: 0 $padding;
                text-align: center;
            }

            &__input {
                font-size: 14px;
            }

            &__submit {
                margin-top: 10px;
            }

        }
    }
}

.blog-sidebar__subscribe {
    .mailchimp {

        &__input-wrap {
            @include form-element-wrapper();
        }

        &__input {
            @include form-element();
        }

        &__submit {
            @include button-blue(15px 20px, 20px 0 0, 11px, bold);
            width: 100%;
        }

        &__messages {
            margin: 10px 0;
            text-align: center;
        }

    }
}
