.minicart {
    position: absolute;
    width: 268px;
    background: #FFF;
    border: 1px solid #d7d7d7;
    z-index: 9999;
    color: #515151;
    top: 52px;
    right: 0;
    display: block;

    dl, dt, dd {
        display: inline;
    }

    &__items-wrapper {
        overflow: auto;
        height: 240px;
        ol {
            overflow: hidden;
        }

    }
}

