.minicart {
    position: absolute;
    top: 50px;
    right: -20px;
    background: #fff;
    width: 268px;
    border: 1px solid #d7d7d7;
    z-index: 999;
    color: #515151;

    dl, dt, dd {
        display: inline;
    }

    &__items-wrapper {
        overflow: auto;
        height: 240px;

        ol {
            overflow: hidden;
        }

    }

    &::before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 12px 17px;
        border-color: #afafaf transparent;
        display: block;
        width: 0;
        top: -18px;
        right: 25px;
    }

    &::after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 12px 17px;
        border-color: $white transparent;
        display: block;
        width: 0;
        top: -17px;
        right: 25px;
    }
}

