body._has-modal {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body._has-modal-custom .modal-custom-overlay {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 899;
}

.modal-slide .modal-inner-wrap {
    height: 100%;
    overflow-y: auto;
    position: static;
    transform: translateX(100%);
    transition-duration: 0.3s;
    transition-property: transform, visibility;
    transition-timing-function: ease-in-out;
//    width: auto;
}

.modal-slide,
.modal-popup,
.modals-overlay {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    justify-content: center;
    display: flex;

    &._show {
        visibility: visible;
    }
}

.modal-slide,
.modal-popup {
    min-width: 0;
    visibility: hidden;
    z-index: 900;
}

.modal-slide._show .modal-inner-wrap,
.modal-popup._show .modal-inner-wrap {
    transform: translate(0, 0);

}
.modal-inner-wrap {
    min-width: 350px;
    width: 35vw;

    .modal-header {
        position: relative;

        h1 {
            color: $grey;
        }

        button.action-close {
            @include button-grey-no-bd(10px 20px, 0);
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    label {
        color: white;
    }


    .modal-footer {
        .action-save-address {
            @include button-blue(10px 20px, 10px 0);
        }
        .action-hide-popup {
            @include button-grey-no-bd(10px 20px, 10px);
        }
    }

}
.modals-overlay {
    z-index: 899;
    background-color: rgba(51, 51, 51, 0.8);
}


