body._has-modal {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body._has-modal-custom .modal-custom-overlay {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 899;
}

.modal-slide .modal-inner-wrap {
    overflow-y: auto;
    position: static;
    transform: translateX(100%);
    transition-duration: 0.3s;
    transition-property: transform, visibility;
    transition-timing-function: ease-in-out;
}

.modal-slide,
.modal-popup,
.modals-overlay {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    justify-content: center;
    display: flex;
    align-items: center;

    &._show {
        visibility: visible;
        z-index: 999!important;
    }
}

.modal-slide,
.modal-popup {
    min-width: 0;
    visibility: hidden;
    z-index: 900;
}

.modal-slide._show .modal-inner-wrap,
.modal-popup._show .modal-inner-wrap {
    transform: translate(0, 0);

}

.modal-inner-wrap {
    min-width: 350px;
    width: 20vw;
    background-color: white;
    padding: 20px;
    border: 1px solid #353535;
    z-index: 999999;

    .modal-header, .block-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            color: $black;
            margin: 0;
        }

        button.action-close {
            @include button-black($font-size: 13px, $padding: 10px, $height: inherit, $margin-top: 0);
            flex: 0 0 100px;
            z-index: 999;
        }
    }

    label {
        color: $black;
        margin: 2px;
        display: block;
    }


    .modal-footer, .block-content {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        .action-save-address, .action-login {
            @include button-black($font-size: 13px, $padding: 10px, $height: inherit, $margin-top: 0);
            flex: 0 0 49%;
        }

        .action-hide-popup {
            @include button-black($bg: white, $color: #333, $border: 1px solid $grey-dark, $font-size: 13px,$padding: 10px, $height: inherit, $margin-top: 0);
            flex: 0 0 49%;
        }

        .actions-toolbar {
            a {
                color: $black;

                &:hover {
                    color: $grey;
                }
            }
        }
    }
}

.modals-overlay {
    //z-index: 899;
    //background-color: rgba(0, 0, 0, 0.7);
}

.modal-popup.confirm {
    text-align: center;
    //z-index: 1000 !important;

    .modal-header {
        justify-content: flex-end;
        visibility: hidden;

        button {
            background: transparent;
            position: relative;

            &::before {
                position: absolute;
                top: 0;
                right: 0;
                content: 'X';
                color: #363636;
            }
            &:hover {
                background-color: transparent;
            }

            span {
                display: none;
            }
        }
    }

    .modal-content {
        font-size: 13px;
        font-family: sofia-pro, sans-serif;
    }

    .modal-footer button {
        @include button-black($bg: white, $color: #333, $border: 1px solid $grey-dark, $font-size: 14px, $height: inherit, $margin-top: 0);
        display: flex;
        justify-content: space-between;
        width: 150px;
        text-align: center;
        display: block;
    }
}
