.paypal {

    &__button {
        @include bg('paypalbutt.gif');
        background-position: center;
        background-color: white;
        width: 100%;
        height: 51px;
        border: 1px solid $grey;
        border-radius: 4px;
    }
}
