.paypal {

    &__button {
        @include button-black($bg: white, $bghov: white, $border: 1px solid #d0d0d0, $height: 55px, $margin-top: 11px);

        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            border: 1px solid black;
        }

        @media (max-width: $xs-breakpoint) {
            height: 25px;
            box-sizing: unset;
            width: calc( 100% - 40px );
        }
    }

    &__image {
        width: 219px;
        margin: 0 auto;
    }
}
