.modal-header {

    img {
        width: 100%;
    }
}

#prpl-modal-popup #prpl-modal-inner-wrap .actions-toolbar button.action {
    @include button-custom($bg: #c22020);

    span {
        line-height: normal;
        display: block;
    }
}

#prpl-modal-inner-wrap .action-close {
    background: white;
    border: 0;
    cursor: pointer;

    span {

    }
}