.modal-header {

    img {
        width: 100%;
    }
}

#prpl-modal-popup #prpl-modal-inner-wrap .actions-toolbar button.action {
    @include button-custom($bg: #c22020, $mg: 0);

    span {
        line-height: normal;
        display: block;
    }
}


#prpl-modal-popup {

    #prpl-modal-inner-wrap {
        width: 100%;
        max-height: 475px;

        .action-close {
            background: white;
            border: 0;
            cursor: pointer;
        }
    }
}
