.price-box {
    display: flex;
    flex-wrap: wrap;

    .special-price {
        color: $red;
    }

    .old-price {
        order: -1;
        text-decoration: line-through;
        margin-right: 15px;
    }
}
