.select {

    &__select {
        background: $white;
        height: 38px;
        padding-left: 5px;
        border: 1px solid #959494;
        border-radius: 3px;
        width: 100%;
        text-transform: uppercase;
    }

    &__arrow {
        @include sprite(select-arrw);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
        z-index: 10;
    }

    &__wrapper {
        min-width: 50px;
        position: relative;

        &--product-page {
            position: relative;
            width: 12%;
        }

        &--Size {
            width: 40%;
        }

        &--cart-qty {
            width: 50px;
        }

        &--cart-size {
            width: 100px;
        }
    }
}
