.select {
    &__pdp-select {
        background: $white;
        height: 49px;
        border: 1px solid #d0d0d0;
        border-radius: 1px;
        font-size: 16px;
        color: #252525;
        padding-left: 17px;
        letter-spacing: 1px;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        font-family: Roboto, sans-serif;
    }

    &__select {
        background: $white;
        height: 26px;
        border: 1px solid #b9b9b9;
        width: 158px;
        font-size: 13px;
        color: #464646;
        padding-left: 8px;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-family: Roboto, sans-serif;
    }

    &__arrow {
        @include form-select-arrow();
        //display: block;
        //position: absolute;
        //top: 0;
        //right: 0;
        //pointer-events: none;
        //z-index: 10;
    }

    &__wide-arrow {
        @include form-select-wide-arrow();
    }

    &__wrapper {
        position: relative;
        z-index: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &--Size {
            width: 153px;
            margin-right: 13px;
        }

        &--qty {
            width: 63px;
            margin-right: 18px;
        }

        &--cart {
            .select__select {
                font-size: 11px;
                padding-left: 4px;
            }
        }

        &--cart-qty {
            width: 61px;
        }

        &--cart-size {
            width: 91px;
        }

        > div.mage-error {
            position: absolute;
            top:100%;
            padding-top: 3px;
            color: red;
        }

    }
}
