body[class~='cms-size-chart'] {
    .page-main {
        max-width: 889px !important;
        margin: auto auto 70px auto;
    }

    .breadcrumbs {
        max-width: 889px;
        padding: 36px 20px 25px 20px;

        @media all and (max-width: 830px) {
            display: none;
        }
    }
}

.size-chart-overlay {
    display: block;
    z-index: 1000;
    background-color: rgba(1, 1, 1, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.size-chart {
    width: 100%;
    z-index: 11;
    box-sizing: border-box;
    background: white;
    border: 1px solid #dadada;
    padding: 0 35px 0;

    @media all and (max-width: 830px) {
        border: none;
    }

    &--open {
        display: flex !important;
        flex-direction: column;
        background: white;
        top: 50%;
        left: 50%;
        max-width: 1024px;
        width: 90%;
        transform: translate(-50%, -50%);
        position: fixed;
        max-height: 90%;
        overflow-y: auto;
        padding: 20px 40px;
        box-sizing: border-box;
        border: 0;
    }

    &__overlay {
        max-width: 846px;
        margin: 0 auto;

        @media all and (max-width: 830px) {
            margin: 0;
        }
    }

    &__close {
        font-size: 13px;
        margin-right: 15px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        position: fixed;
        left: 1px;
        right: 1px;
        padding: 14px 14px 14px 1px;
        top: 1px;
        background: white;
        z-index: 9999;

        &:hover {
            color: #999;
        }

        span {
            margin-right: 22px;
        }
    }

    &__close-icon {
        @include sprite(remove-ico);
        display: inline-block;
        vertical-align: center;
        transform: scale(1.3);
    }

    &__tabs {
        margin: 67px auto 0 auto;
        max-width: 699px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        border-left: 1px solid #dadada;
        border-right: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        border-radius: 2px;
        background-color: white;
        box-sizing: border-box;
        color: black;

        @media all and (max-width: 830px) {
            margin: 50px auto 30px auto;
        }
    }

    &__tab {
        padding: 15px 24px;
        font-size: 18px;
        font-weight: 500;
        color: $black;
        display: flex;
        flex-direction: column;
        transition: color 300ms ease-in;

        &--active {
            display: block;
        }

        &:first-of-type {
            border-top: 1px solid #dadada;
        }

        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }

        &:last-child {
            border-right: 0;
        }

        &--flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            pointer-events: none;
        }
    }

    &__section {
        display: none;

        &--active {
            display: block;

            @media all and (max-width: 829px) {
                display: none;
            }
        }

        .label-chart {
            background: transparent;
            padding: 0 35px 20px;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 42px;
        margin: 40px 0 0 0;

        span {
            font-size: 16px;
            font-weight: 400;
            color: #515151;
            padding: 0 10px;
        }
    }

    &__wrap {
        width: 60%;

        @media all and (max-width: $bp-header) {
            width: 100%;
        }

        &--accessories {
            width: 100%;
        }
    }

    &__res-name {
        display: none;
    }

    &__heading {
        font-weight: bold;
    }

    &__table {
        display: flex;
        flex-flow: column nowrap;
        font-size: 15px;
        line-height: 1.5;
        flex: 1 1 auto;
        width: 100%;
        max-width: 699px;
        margin: 0 auto;
        text-transform: uppercase;

        &--size {
            background-color: #EAEAEA;
        }
    }

    &__information {
        font-size: 13px;
        text-transform: none;
        padding: 0 0 60px 0;

        &--box {
            display: flex;
            flex-flow: row nowrap;
            flex-grow: 1;
            flex-basis: 0;
            word-break: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0;
            white-space: nowrap;
        }

        &--padding {
            padding: 5px 126px 5px 12px;
        }

        &--bold {
            font-weight: 600;
        }

        &--font-size {
            font-size: 12px;
            display: flex;
            align-items: center;
        }
    }

    &__header {
        width: 699px;
        max-width: 100%;
        margin: 60px auto 0 auto;
        font-weight: 500;

        @media all and (max-width: 830px) {
            margin: 22px auto 0 auto;
        }
    }

    &__row {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;

        &--blank {
            height: 32px;
        }
    }

    &__box {
        display: flex;
        display: -webkit-inline-box;
        flex-flow: row nowrap;
        flex-grow: 1;
        flex-basis: 6px;
        padding: 5px 10px;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        white-space: nowrap;

        .space {
            padding: 0 0 0 30px;
            font-weight: 300;
        }

        .size {
            font-weight: 300;
            width: 1px;
            margin: 0 0 0 3px;
        }

        .double-space {
            padding: 0 0 0 61px;
            font-weight: 300;
        }

        &--bold {
            font-weight: 600;
            padding: 5px 76px 5px 12px;
        }

        &--bold-center {
            padding: 15px 76px 0 12px;
        }

        &--space {
            padding: 5px 76px 5px 12px;
        }

        &--center {
            justify-content: center;
        }

        &--start {
            justify-content: flex-start;
            padding: 5px 11px 0 25px;
        }

        &--padding {
            padding: 15px 12px;
        }

        &--padding-center {
            padding: 5px 12px;
        }
    }

    &__size-note {

        td {
            width: 350px;
            border: 0;

            &.bold {
                width: auto;
                font-weight: bold;
                padding-right: 20px;
            }
        }
    }
}

hr {
    max-width: 698px;
    margin: 22px auto 41px auto;
}

@media all and (min-width: 830px + 1px) {
    .size-chart-mobile {
        display: none;
    }
}

@media all and (max-width: 830px) {
    .size-chart-mobile {
        font-size: 15px;
        display: none;

        &.size-chart__section--active {
            display: block;
        }

        &__section {
            display: none;

            &--active {
                display: block;
            }
        }

        &__header {
            display: flex;
            justify-content: space-between;
            background: #F7F7F7;
            padding: 10px 26px;
            font-weight: 500;
            margin: 22px 0 0 0;

            &--shoes {
                font-size: 13px;
                font-weight: 600;
                margin: 22px auto 12px auto;
            }

            span {
                font-weight: 300;
            }
        }

        &__row {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px 0 55px;

            &--shirts {
                padding: 10px 47px 0 55px;
            }

            &--accessories {
                padding: 10px 23px 0 40px;
            }

            &--shoes {
                padding: 10px 52px 0 52px;
            }
        }
    }
}

