.size-chart {
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 922px;
    height: 550px;
    overflow-y: auto;
    z-index: 11;
    padding: 20px;


    &__tabs {
        display: flex;
        justify-content: flex-end;
        margin: 20px 0;

        a {
            padding: 0 20px;
            font-size: 20px;
            border-right: 1px solid black;

            &:last-child {
                border-right: 0;
            }
        }
    }

    &__section {
        background: #f3f3f3;
        border: 1px solid #dadada;
        padding: 0 35px 20px;
    }

    &__title {
        font-family: league_gothic;
        text-transform: uppercase;
        font-size: 42px;
    }

    &__wrap {
        width: 60%;
    }

    &__res-name {
        display: none;
    }

    &__img {

    }

    .line1 {
        width: 150px;
        padding: 0 10px 0 0;
        text-transform: uppercase;
    }

    table {
        border-collapse: collapse;
        margin-top: 20px;

        td {
            padding: 10px 0;
            width: 65px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            box-sizing: border-box;
        }
    }

    .size-note {

        td {
            width: 350px;
            border: 0;

            &.bold {
                width: auto;
                font-weight: bold;
                padding-right: 20px;
            }
        }
    }
}
