<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

<!-- LOGGER -->

    <type name="PandaGroup\StoreLocator\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="PandaGroup\StoreLocator\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">PandaGroup/StoreLocator</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">PandaGroup\StoreLocator\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="PandaGroupStoreLocatorListingGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider"/>
    <virtualType name="PandaGroupStoreLocatorFormDataProvider" type="Magento\Cms\Model\Block\DataProvider"/>

<!-- STORES GRID -->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="storelocator_index_index_listing_data_source" xsi:type="string">PandaGroup\StoreLocator\Model\ResourceModel\StoreLocator\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="PandaGroup\StoreLocator\Model\ResourceModel\StoreLocator\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">storelocator</argument>
            <argument name="eventPrefix" xsi:type="string">pandagroup_storelocator_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">pandagroup_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">PandaGroup\StoreLocator\Model\ResourceModel\StoreLocator</argument>
        </arguments>
    </type>

<!-- REGIONS GRID -->

    <virtualType name="PandaGroupStoreLocatorRegionsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider"/>
    <virtualType name="PandaGroup\StoreLocator\Model\ResourceModel\States\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">storelocator_states</argument>
            <argument name="resourceModel" xsi:type="string">PandaGroup\StoreLocator\Model\ResourceModel\States</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="storelocator_regions_index_listing_data_source" xsi:type="string">PandaGroup\StoreLocator\Model\ResourceModel\States\Grid\Collection</item>

            </argument>
        </arguments>
    </type>

</config>