
/* NOTE: contaner with main image and selector's container */
div.MagicToolboxContainer {
    text-align: center;
}
div.MagicToolboxContainer.minWidth {
    min-width: 250px;
}

/* NOTE: main image styles */
div.MagicToolboxContainer > a {
    margin: 0 auto;
}

/* NOTE: contaner with message under Magic 360 */
div.MagicToolboxMessage {
    text-align: center;
}

/* NOTE: magicscroll makes the image smaller if there is a margin */
/*
.MagicScrollItem a {
    margin: 0 !important;
}
*/


div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer:after,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer:after {
    content: "";
    padding-top: 100%;
    position: relative;
    display: inline-block;
}

div.MagicToolboxContainer.placeholder {
    height: 100%;
    width: 100%;
}
div.MagicToolboxContainer.placeholder span.align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
div.MagicToolboxContainer.placeholder img {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.fotorama__stage__shaft:focus .fotorama__stage__frame.fotorama__active.magic360-stage-frame:after {
    display: none;
}
.m360-icon.m360-icon-fullscreen-open {
    z-index: 100000;
}

.products-list .product-items .MagicToolboxContainer {
    padding: 0 30px 30px 0;
    display: table-cell;
}
