<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- Override to remove exception while loading orders with items which not exist -->
	<preference for="Magento\Catalog\Model\ProductRepository" type="PandaGroup\CatalogExtender\Model\ProductRepository" />
</config>
