.about-us-wrapper {
    margin: 0 auto;
    line-height: 1.4em;
    font-size: 16px;
    padding: 0 15px;
    color: #242424;
    position: relative;
    overflow: hidden;
    font-family: Roboto, arial, sans-serif;

    &--645 {
        max-width: 645px;
    }

    &--990 {
        max-width: 990px;
    }

    &--1300 {
        max-width: 1300px;
    }

    &--1920 {
        max-width: 1920px;
    }

    &--1550 {
        max-width: 1550px;
    }

    &--no-padding {
        padding: 0;
    }

    &--lg-margin-top {
        margin-top: 80px;
    }

    &--where-it-all-began {
        margin: 98px auto 60px;
    }

    &--grey {
        background-color: #f8f6f7;
        background-clip: content-box;
    }

    &__separator {
        border-bottom: 1px solid #e4e0e0;

    }

    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 32px;

        &--left {
            text-align: left;
        }

        &--opening {
            margin-top: 105px;
        }
    }

    &__text-box {
        display: flex;
        flex-wrap: wrap;

        &--justify {
            text-align: justify;
        }

        &--centered {
            text-align: center;
            max-width: 768px;
            margin: 0 auto;
            line-height: 1.5em;
        }

        &--centered-small {
            text-align: center;
            max-width: 640px;
            margin: 0 auto;
            line-height: 1.5em;
        }

        p {
            margin: 0 0 15px 0;
        }
    }

    &__box {
        box-sizing: border-box;
        flex: 0 0 50%;
        padding-bottom: 15px;
        overflow: hidden;

        img {
            max-width: 100%;
        }


        &--left {
            padding-right: 12px;
        }

        &--right {
            padding-left: 12px;
        }

        &--sustainability {
            padding: 0 70px 15px 30px;

        }

        &--wiab-left {
            flex: 0 1 52.3%;

            img {
                width: 100%;
            }
        }

        &--wiab-right {
            flex: 1;
            padding: 95px 61px 80px 80px;
        }

        p {
            line-height: 1.5em;
        }

    }

    &__fullwidth-image {
        width: 100%;
        margin: 50px 0 10px 0;
    }

    &__youtube {
        position: relative;
        padding-bottom: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__centered-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__mills-menu {
        text-align: center;

        li {
            display: inline-block;
            margin: 42px 0;
            font-weight: bold;
            font-size: 19px;
            color: #636363;
            padding: 0 30px 0 30px;
            cursor: pointer;

            &:hover {
                color: black;
            }

            &:not(:last-child) {
                border-right: 1px solid #000;
            }

            &.about-us-wrapper__mills-menu--active {
                text-decoration: underline;
                color: black;
            }
        }
    }

    &__mills-items {
        background: linear-gradient(#f3f3f3 0, #f3f3f3 50%, #fff 50%);
        background-size: 100% 760px;
        margin-bottom: 50px;
    }

    &__mills-flexbox {
        display: none;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1172px;

        li {
            flex: 0 0 33%;
            box-sizing: border-box;
            width: 390px;
            height: 320px;
            padding: 20px 40px 0 40px;
            line-height: 130%;
            margin: 30px 0 30px 0;
            text-align: center;
            border-right: 1px solid #D9D5D5;
        }

        &--active {
            display: flex;
        }
    }

    &__checker-flexbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: justify;

        > div {
            flex: 1 1 50%;
            box-sizing: border-box;
        }

        &-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-slideshow {
            overflow: hidden;
        }

        &-text {
            padding: 30px;
        }

    }

    &__checker-title {
        font-style: italic;
        font-family: Merriweather;
        font-weight: bold;
        font-size: 25px;
        margin: 0 0 21px 0;
    }

    &__checker-title-gothic {
        margin: 45px 0;
        font-family: league_gothic;
        font-weight: normal;
        font-size: 48px;
        text-transform: uppercase;

        &--centered {
            text-align: center;
        }

    }

    &__text-on-image {
        position: relative;
        margin: 10px 0;

        > img {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-wrapper {
            max-width: 1300px;
            margin: 0 auto;
        }

        &-text {
            max-width: 495px;
            text-align: justify;
            color: white;
            padding: 60px 40px;

            &--right {
                margin: 0 0 0 auto;
            }
        }
    }
}
@media screen and (min-width: $cms-lg-brkpt) {
    .about-us-wrapper {
        &__mills-flexbox li:nth-child(3n) {
            border-right: none;
        }
    }
}

@media screen and (max-width: $cms-lg-brkpt) {
    .about-us-wrapper {

        &__styling-box {
            margin: 50px 0;
        }

        &__mills-flexbox {

            li {
                flex: 0 0 50%;

                &:nth-child(2n) {
                    border-right: none;
                }
            }

        }
    }
}

@media screen and (max-width: $cms-md-brkpt) {
    .about-us-wrapper {
        &__suits {
            flex-wrap: wrap;

            &-item {
                margin: 38px 0;
                flex: 0 1 100%;
                text-align: center;

                img {
                    max-width: 100%;
                }

                &:first-child {
                    padding: 0;
                    text-align: center;
                }

                &:last-child {
                    border-left: none;
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: $cms-sm-brkpt) {
    .about-us-wrapper {

        &__text-box {
            div {
                flex: 1 1 100%;
            }
        }

        &__box {
            padding: 0 0 15px 0;
        }

        &__special-box {
            width: 100%;

            .about-us-wrapper__special-box-boldandborder {
                width: 80%;
                padding: 15px 0;
            }

            &--left {
                div[class*='special-box-r2'] {
                    display: inline-block;
                }
            }

            div {
                margin: 0;
                padding: 0;
                width: 100%;
                max-width: none;
                max-height: none;

                img {
                    max-width: none;
                    max-height: none;
                    margin: 15px 0;
                }
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .about-us-wrapper__checker-flexbox {
        > div {
            flex: 1 1 100%;
        }

        &-text {
            max-width: 500px;
            padding: 30px 0;
        }

        &--cotton {order: 1;}
        &--cotton-vid {order: 2;}
        &--silk-slide {order: 4}
        &--silk {order: 3}
        &--linen {order: 5}
        &--linen-slide {order: 6}

    }
}


@media screen and (min-width: 1400px) {
    .about-us-wrapper__checker-flexbox {

        &-slideshow {
            max-height: 484px;

            div {
                height: 100%;
            }
        }

        &-vid {
            max-height: 620px;

            div {
                height: 100%;
            }
        }

        &-text {
            padding: 30px 5%;
        }
    }
}

@media screen and (max-width: 785px) {
    .about-us-wrapper {

        &__mills-items {
            background: #f3f3f3;
        }

        &__mills-flexbox {

            li {
                flex: 0 0 100%;
                border-right: none;
                border-bottom: 1px solid #D9D5D5;
            }
        }
    }
}
