.header-left {
    @include header-side-elems();

    &__menu {
        display: none;
        position: relative;
        padding: 20px;
        margin: -9px 0 0 -5px;
        cursor: pointer;

        @media all and (max-width: $bp-header) {
            display: inline-block;
        }

        @media all and (max-width: $xs-breakpoint) {
            transform: scale(0.7, 0.7);
        }
    }

    &__menu-bar {
        $root: &;
        position: absolute;
        width: 25px;
        height: 3px;
        background: #8d8b8b;
        top: 14px;
        left: 5px;
        transition: all 500ms ease;


        @media all and (min-width: $bp-header + 1px) {
            display: none;
        }

        &--top {

            &#{$root}--open {
                top: 20px;
                transform: rotate(-45deg);
            }
        }

        &--bottom {
            top: 24px;

            &#{$root}--open {
                top: 20px;
                transform: rotate(45deg);
            }
        }
    }

    i {
        transform: scale(0.85);
    }

    &__book {
        margin: 0 10px 0 0;
        position: relative;

        @media all and (max-width: $bp-header) {
            display: none;
        }

        i {
            @include sprite(header-book);
            display: block;
        }

        &:hover {

            .header-left__catalog {
                // hide popup box
                //display: block;
            }
        }
    }

    &__catalog {
        @include info-popup(43px, -21px);
        display: none;
    }

    &__account {
        margin: 0;
        position: relative;
        display: flex;
        align-items: center;

        @media all and (max-width: $bp-header) {
            display: none;
        }

        i {
            @include sprite(header-account);
            display: block;
            cursor: pointer;
        }
    }

    &__account-greeting {
        font-size: 16px;
        font-weight: 400;
        color: #8d8b8b;
        margin-left: 5px;
        cursor: default;
    }

    &__account-popup {
        @include info-popup($left: -25px);

        a {
            display: block;
            color: $black-text;
            padding: 8px 15px;
            text-align: center;
            text-decoration: none;
            font-size: 15px;
        }
    }
}
