.header-right {
    @include header-side-elems();
    margin: 0 5px 20px;
    align-items: center;
    justify-content: space-around;

    @media all and (max-width: $bp-header) {
        justify-content: flex-end;
    }

    > div {
        padding: 5px;

        @media all and (max-width: $xs-breakpoint) {
            padding: 0 0 3px 0;
        }
    }

    &__url-block {
        display: flex;
        align-items: center;
        color: #8d8b8b;
    }

    &__search {
        order: -1;

        @media all and (max-width: $bp-header) {
            display: none;
        }
    }

    &__show-search-overlay {
        //@include sprite(header-zoom);
        background-image: url('../../img/sprite/search-new.png');
        width: 28px;
        height: 28px;
        display: block;
        margin-bottom: 3px;
    }

    &__counter {
        font-size: 18px;
        display: block;
        padding: 5px;

        @media all and (max-width: $xs-breakpoint) {
            font-size: 14px;
            padding: 2px;
        }
    }

    &__wishlist {
        position: relative;
        order: 2;
    }

    &__wishlist-icon {
        //@include sprite(header-star);
        background-image: url('../../img/sprite/wishlist-black.png');
        width: 23px;
        height: 21px;

        @media all and (max-width: $bp-header) {
            transform: none;
        }

        @media all and (max-width: $xs-breakpoint) {
            margin-right: 10px;
        }
    }

    &__minicart {
        position: relative;
        display: none;
        order: 3;

        &--mobile {
            @media all and (max-width: $sm-breakpoint) {
                display: block;
            }
        }

        &--desktop {
            @media all and (min-width: $sm-breakpoint + 1) {
                display: block;
            }
        }
    }

    &__minicart-icon {
        //@include sprite(header-case);
        background-image: url('../../img/sprite/shopping-bag.png');
        width: 18px;
        height: 26px;


        @media all and (max-width: $bp-header) {
            transform: none;
        }
    }
}
