.header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

    @media all and (max-width: $xs-breakpoint) {
        padding: 5px;
    }

    &-message {
        background: #464646;
        padding: 10px;
        text-align: center;

        a {
            color: $white;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}

// Product View
body[class~='catalog-product-view'] {
    .header {
        border-bottom: 1px solid $grey;
    }
}
