.header-storelocator {
    @include header-side-elems();
    margin: 0 5px 20px;
    align-items: center;
    justify-content: space-around;

    a {
        color: $light-dark;
        font-size: 14px;
    }

    @media all and (max-width: $bp-header) {
        display: none;
    }

}

body[class~='cms-home'] {
    @media all and (min-width: $bp-header + 1px) {
        .header-storelocator {
            a {
                color: $white;
            }
        }

        .headers:hover {
            .header-storelocator {
                a {
                    color: $light-dark;
                }
            }
        }
    }
}

body[class~='cms-home'] .headers--fixed {
    .header-storelocator {
        a {
            color: $light-dark;
        }
    }
}
