.header-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 100%;

    &__logo {
        @include logo();
        display: flex;
        align-items: center;

        img {
            max-height: 25px;
            max-width: 331px;
        }

        @media all and (max-width: $xs-breakpoint) {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    &__desktop-logo {
        @media all and (max-width: $bp-header) {
            display: none;
        }
    }

    &__mobile-logo {
        @media all and (min-width: $bp-header + 1px) {
            display: none;
        }
    }

    &__navigation {
        z-index: 100;

        @media all and (max-width: $bp-header) {
            display: none;
        }

        > ul {
            display: flex;
            justify-content: center;
        }

        li.level0 {
            padding: 0 11px 15px 11px;

            > a {
                color: $black;
                font-size: 13.5px;
                font-weight: 300;
                text-transform: uppercase;
                padding: 6px 0;
                transition: font-weight, border 300ms ease-in;
                border-bottom: 3px solid transparent;

                &:hover {
                    color: #383a4b;
                    font-weight: 400;
                    border-bottom: 2px solid #999999;
                }
            }

            &.submenu {
                text-align: left;
            }

            &.active > a, &.has-active > a {
                padding: 0 0 6px 0;
                border-bottom: 2px solid;
                font-weight: 400;
            }

            &.active .first span, &.has-active .active span {
                font-weight: bold;
                text-decoration: underline;
            }
        }

        ul.level0 {
            position: absolute !important;
            left: 0 !important;
            background: $white;
            width: 100%;
            border-bottom: 1px solid $grey;
            display: none;
            z-index: 2;

            > section {
                max-width: 1000px;
                height: 197px;
                margin: auto;
                padding: 20px 0;
            }
        }
    }

    &__row {
        display: flex;
    }

    &__columns {
        columns: 200px 5;
        column-gap: 0;
        column-fill: auto;
        flex: 1 0;

        a {
            color: $black;
            transition: color 300ms ease-in;

            &:hover {
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    &__column-item {
        margin: 5px 0;
        padding: 5px 23px;
        font-size: 13.5px;
    }

    &__block {
        width: 100%;
        padding: 6px 15px;
        break-inside: avoid-column;
        border-left: 1px solid $grey;
        display: flex;
        justify-content: space-between;

        &--3-column {

            > figure {
                width: 31%;
            }
        }

        &--2-column {

            > figure {
                width: 48%;
            }
        }

        img {

            &:hover {
                opacity: 0.65;
            }
        }

    }
}

