.header-responsive {
    border-bottom: 1px solid $grey;
    position: absolute;
    width: 100%;
    background: white;
    display: none;
    z-index: 999;

    &__navigation ul {
        max-height: 69vh;
        overflow-y: auto;
    }

    @media all and (min-width: $bp-header) {
        display: none !important;
    }

    li.level0 {

        li {
            &:hover {
                text-decoration: underline;
            }
        }

        > ul {
            padding: 10px 30px 10px 40px;
        }

        > div {
            display: flex;
            justify-content: space-between;
            padding: 10px 30px 10px 40px;
            position: relative;

            > a {
                font-size: 22px;
                font-weight: 300;
                color: $grey-dark;

                @media all and (max-width: $pdp-desc-bp) {
                    font-size: 18px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    li.level1.active div > a {
        text-decoration: underline;

    }

    li.level0.active,
    .has-active {
        .level-top a {
            text-decoration: underline;
        }

        .level0.submenu > li.first:first-of-type a {
            text-decoration: underline;
        }
    }

    li.level0.has-active {
        .level0.submenu > li.first a {
            text-decoration: none;
        }
    }

    ul.level0 {
        display: none;
    }

    li.level1 {

        > div {
            padding: 10px;

            > a {
                color: #8d8b8b;
                font-size: 17px;
                font-weight: 300;
            }
        }
    }

    &__toggler {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 20px;
        top: 3px;

        &::after {
            content: '+';
            font-size: 30px;
            font-weight: 300;
            display: block;
            color: $grey-dark;
        }

        &--open {

            &::after {
                content: '';
                position: absolute;
                top: 15px;
                width: 50%;
                height: 2px;
                left: 1px;
                background: #8d8b8b;
            }
        }
    }

    &__search {
        width: 100%;
        box-sizing: border-box;
        background: #f9f9f9;
        font-weight: 300;
        font-size: 26px;
        padding: 10px 10px 10px 40px;
        border: 0;

        @media all and (max-width: $pdp-desc-bp) {
            font-size: 18px;
        }
    }
}
