.header-right {
    display: flex;

    > div {
        padding: 5px;
    }

    &__url-block {
        display: flex;
        align-items: center;
        color: #8d8b8b;
    }

    &__show-search-overlay {
        @include sprite(header-zoom);
        display: block;
    }

    &__counter {
        font-size: 18px;
        display: block;
        padding: 5px;
    }

    &__wishlist {

        &-icon {
            @include sprite(header-star);
        }
    }

    &__minicart {
        position: relative;

        &-icon {
            @include sprite(header-case);
        }
    }

}
