.headers {
    width: 100%;
    z-index: 999;

    &--fixed {
        position: fixed;
        top: 0;
        background-color: white;
    }

}

@media all and (min-width: $bp-header) {
    .cms-index-defaultindex, .cms-home, .cms-the-new-wave {
        .headers {
            position: fixed;

            .header {
                border-bottom: none;

                &-middle__logo > img {
                    filter: brightness(100);
                }

                .ui-menu-item {
                    span, a, i {
                        color: white;
                    }
                }

                i, .header-right__counter {
                    filter: brightness(100);
                }
            }

            &--fixed, &:hover {
                background-color: white;

                .header {
                    border-bottom: 1px solid #d7d7d7;

                    &-middle__logo img {
                        filter: none;
                    }

                    .ui-menu-item {
                        span, a, i {
                            color: inherit;
                        }
                    }

                    i, .header-right__counter {
                        filter: none;
                    }
                }
            }
        }
    }
}
