.header-left {
    align-items: center;
    padding: 5px;

    @media all and (max-width: $bp-header) {
        display: none;
    }

    &__menu {
        display: none;
        position: relative;
        padding: 20px;
        cursor: pointer;

        @media all and (max-width: $bp-header) {
            display: inline-block;
        }
    }

    &__mobile {
        @include header-side-elems();
        display: none;

        @media all and (max-width: $bp-header) {
            display: flex;

            .header-left {
                display: flex;
            }
        }
    }

    &__menu-bar {
        $root: &;
        position: absolute;
        width: 25px;
        height: 3px;
        background: #8d8b8b;
        top: 14px;
        left: 5px;
        transition: all 500ms ease;


        @media all and (min-width: $bp-header + 1px) {
            display: none;
        }

        &--top {

            &#{$root}--open {
                top: 20px;
                transform: rotate(-45deg);
            }
        }

        &--bottom {
            top: 24px;

            &#{$root}--open {
                top: 20px;
                transform: rotate(45deg);
            }
        }
    }

    &__book {
        display: none;
        margin: 0 10px 0 0;
        position: relative;

        @media all and (max-width: $bp-header) {
            display: none;
        }

        i {
            @include sprite(header-book);
            display: block;
            transform: scale(0.85);
        }

        &:hover {

            .header-left__catalog {
                display: block;
            }
        }
    }

    &__catalog {
        @include info-popup(43px, -21px);
        display: none;
    }

    &__show-search-overlay {
        //@include sprite(header-zoom);
        background-image: url('../../img/sprite/search-new.png');
        width: 28px;
        height: 28px;
        display: block;
        margin-bottom: 3px;
        opacity: 0.5;

        @media all and (min-width: $bp-header + 1px) {
            display: none;
        }
    }

    &__account {
        margin: 0;
        position: relative;
        display: flex;
        align-items: center;

        @media all and (max-width: $bp-header) {
            display: none;
        }

        i {
            //@include sprite(header-account);
            background-image: url('../../img/sprite/not-logged-in.png');
            width: 25px;
            height: 25px;
            display: block;
            cursor: pointer;

            &.logged-in {
                background-image: url('../../img/sprite/logged-in.png');
            }
        }
    }

    &__account-greeting {
        font-size: 16px;
        font-weight: 400;
        color: #8d8b8b;
        margin-left: 5px;
        cursor: default;
        display: none;
    }

    &__account-popup {
        @include info-popup($left: -25px);

        a {
            display: block;
            color: $black-text;
            padding: 8px 15px;
            text-align: center;
            text-decoration: none;
            font-size: 15px;
        }
    }
}
