.header-middle {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        display: block;
        margin: 20px 0;

        figure {
            @include sprite(logo-black);
        }
    }

    &__navigation {

        > ul {
            display: flex;
        }

        li.level0 {
            padding: 0 11px 15px 11px;

            > a {
                color: $black;
                font-size: 14px;
                text-transform: uppercase;
            }
        }

        ul.level0 {
            position: absolute !important;
            left: 0 !important;
            background: $white;
            width: 100%;
            border-bottom: 1px solid $grey;

            > section {
                max-width: 1000px;
                height: 180px;
                margin: auto;
                padding: 20px 0;
            }
        }
    }

    &__row {
        display: flex;
    }

    &__columns {
        columns: 200px 5;
        column-gap: 0;
        column-fill: auto;

        a {
            color: $black;
        }
    }

    &__column-item {
        margin: 10px 0;
        padding: 5px 23px;
        font-size: 15px;

        &--header {
            font-weight: bold;
            text-decoration: underline;
        }
    }

    &__block {
        width: 100%;
        padding: 6px 23px;
        break-inside: avoid-column;
        border-left: 1px solid $grey;
        display: flex;
        justify-content: space-between;

        &--3-column {

            > figure {
                width: 31%;
            }
        }

        &--2-column {

            > figure {
                width: 48%;
            }
        }
    }
}
