.header-responsive {
    border-bottom: 1px solid $grey-dark;
    position: absolute;
    width: 100%;
    background: white;
    display: none;

    @media all and (min-width: $bp-header) {
        display: none !important;
    }

    li.level0 {

        > ul {
            padding: 10px 30px 10px 40px;
        }

        > div {
            display: flex;
            justify-content: space-between;
            padding: 10px 30px 10px 40px;

            > a {
                font-size: 22px;
                font-weight: 300;
                color: $grey-dark;
            }
        }
    }

    ul.level0 {
        display: none;
    }

    li.level1 {

        > div {
            padding: 10px;

            > a {
                color: #8d8b8b;
                font-size: 17px;
                font-weight: 300;
            }
        }
    }

    &__toggler {
        position: relative;
        width: 30px;
        height: 30px;

        &::after {
            content: '+';
            font-size: 30px;
            font-weight: 300;
            display: block;
            color: $grey-dark;
        }

        &--open {

            &::after {
                content: '';
                position: absolute;
                top: 15px;
                width: 50%;
                height: 2px;
                left: 1px;
                background: #8d8b8b;
            }
        }
    }

    &__search {
        width: 100%;
        box-sizing: border-box;
        background: #f9f9f9;
        font-weight: 300;
        font-size: 26px;
        padding: 10px 10px 10px 40px;
        border: 0;
    }
}

