.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $grey;
    padding: 0 30px;

    &-message {
        background: #464646;
        padding: 10px;
        text-align: center;

        a {
            color: $white;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}
