.header-shippingbar {
    background-color: #464646;
    padding: 10px;
    text-align: center;
    cursor: pointer;

    a {
        color: white;
        font-size: 12px;
        font-weight: 500;
    }
}
