.header-right {
    @include header-side-elems();
    align-items: center;

    > div {
        padding: 5px;

        @media all and (max-width: $bp-header) {
            padding: 5px 5px 10px 5px;
        }

        @media all and (max-width: $xs-breakpoint) {
            padding-right: 0;
        }

    }

    &__url-block {
        display: flex;
        align-items: center;
        color: #8d8b8b;
    }

    &__search {
        margin-left: auto;

        @media all and (max-width: $bp-header) {
            display: none;
        }
    }

    &__show-search-overlay {
        @include sprite(header-zoom);
        display: block;
        transform: scale(0.85);
    }

    &__counter {
        font-size: 18px;
        display: block;
        padding: 5px;
    }

    &__wishlist {
        position: relative;

        &-icon {
            @include sprite(header-star);
            transform: scale(0.85);
        }

        @media all and (max-width: $bp-header) {
            display: none;
        }
    }

    &__minicart {
        position: relative;
        display: none;

        &--mobile {
            @media all and (max-width: $sm-breakpoint) {
                display: block;
            }
        }

        &--desktop {
            @media all and (min-width: $sm-breakpoint + 1) {
                display: block;
            }
        }

        &-icon {
            @include sprite(header-case);
            transform: scale(0.85);
        }

        @media all and (max-width: $bp-header) {
            margin-left: auto;
        }

    }
}
