.items-table {
    width: 100%;
    letter-spacing: 1px;

    &__row {
        display: flex;
        border-bottom: 1px solid #DDD;

        &--header {
            font-size: 20px;
        }
    }

    &__column {
        padding: 20px 5px 20px 5px;

        &--remove {
            width: 5%;
            text-align: center;
        }

        &--item {
            width: 55%;
            text-align: left;
            display: flex;

            a {
                font-family: league_gothic, sans-serif;
                font-size: 30px;
                text-transform: uppercase;
                color: #000;
            }
        }

        &--qty {
            width: 15%;
            text-align: center;
        }

        &--size {
            width: 15%;
            text-align: center;
        }

        &--price {
            width: 10%;
            text-align: right;
        }
    }

    &__price {
        font-size: 16px;
        letter-spacing: 1px;

        &--strikethrough {
            text-decoration: line-through;
        }

        &--special {
            color: red;
            display: block;
        }
    }
}
