.items-table {
    width: 100%;


    th, td, table {
        border: 1px solid black;
        box-sizing: border-box;
    }

    th {
        font-size: 20px;
        font-weight: normal;
    }

    &__column {

        &--remove {
            width: 5%;
            text-align: center;
        }

        &--item {
            width: 55%;
            text-align: left;
        }

        &--qty {
            width: 15%;
            text-align: center;
        }

        &--size {
            width: 15%;
            text-align: center;
        }

        &--price {
            width: 10%;
            text-align: right;
        }
    }

    &__price {
        font-size: 16px;
        letter-spacing: 1px;

        &--strikethrough {
            text-decoration: line-through;
        }

        &--special {
            color: red;
            display: block;
        }
    }
}
