.page-footer {
    display: flex;
    flex-direction: column;
    color: #242424;
    background-color: #f1f0f0;
    padding-top: 5px;

    a {
        font-size: 13px;
        color: #242424;
        cursor: pointer;
    }

    a:hover {
        font-weight: bold;
    }

    a::after {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 1px;
        color: transparent;
        overflow: hidden;
        visibility: hidden;
    }

    h3 {
        font-size: 15px;
        font-weight: bold;
        color: $black-text;
        letter-spacing: 0.6px;
    }

    &__lower {
        background: rgba(255, 255, 255, 0.05);
    }

    &__upper-lower, &__lower-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__signup-wrapper, &__upper-lower, &__lower-wrapper {
        max-width: 962px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    &__upper-upper {
        background-color: white;
        padding: 44px 0 10px 0;
    }

    &__upper-lower {
        margin-top: 15px;
    }

    &__signup {

        h3 {
            margin: 0 0 27px 0;
            text-align: center;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: bold;
            color: #666;
        }
    }

    &__linkbox {
        min-width: 145px;
        max-width: 400px;
        box-sizing: border-box;
        padding: 15px 10px;

        li {
            margin-bottom: 15px;
        }
    }


    &__lower-wrapper {
        padding: 40px 2% 30px 2%;
        min-height: 140px;
    }

    &__lower-linkbox {
        display: flex;
        align-items: center;
        justify-content: center;

        &--copyright {
            text-transform: uppercase;
            font-size: 11px;
        }
    }

    &__cards {
        display: block;
        margin: 0 0 0 15px;

        &--visa {
            @include sprite(footer-visa);
        }

        &--mastercard {
            @include sprite(footer-mastercard);
        }
    }

    &__comodo {
        justify-content: flex-start;
    }

    &__copyright {
        flex: 1;
        justify-content: center;
        font-size: 11px;
        text-transform: uppercase;
    }

    &__social-icons {
        justify-content: flex-end;
    }

    &__social-icons-ul {
        display: flex;
    }

    &__icon {
        display: block;
        margin: 0 7px;

        &:hover {
            opacity: 0.7;
        }

        &--fb {
            @include sprite(footer-facebook);
        }

        &--instagram {
            @include sprite(footer-instagram);
        }

        &--twitter {
            @include sprite(footer-twitter);
        }

        &--yt {
            @include sprite(footer-youtube);
        }

        &--pintrest {
            @include sprite(footer-pintrest);
        }

    }

}

@media screen and (max-width: $sm-breakpoint) {
    .page-footer {

        &__upper-lower {
            padding: 30px 5% 0 5%;
        }

        &__linkbox {
            width: 100%;
            padding: 12px 0;
            border-bottom: 2px solid #dcd9d9;

            &#{&} {
                max-width: none;
            }

            > ul {
                display: none;

                li {
                    margin: 30px 0;
                }
            }

            h3 {
                margin: 0;
                position: relative;
                font-weight: normal;
                font-size: 18px;
                line-height: 32px;
                cursor: pointer;
                color: #666;

                &::before,
                &::after {
                    content: '+';
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 36px;
                    font-weight: 300;
                }

                &::before {
                    content: '—';
                    opacity: 0;
                    font-size: 28px;
                }

                &.active {

                    &::before {
                        animation: changeSign2 0.2s linear 0.2s forwards alternate;
                    }

                    &::after {
                        animation: changeSign 0.4s linear forwards alternate;
                    }
                }

                &.inactive {

                    &::before {
                        animation: changeSign 0.2s linear 0.2s forwards alternate;
                    }

                    &::after {
                        animation: changeSign2 0.4s linear forwards alternate;
                    }
                }

                @at-root {
                    @keyframes changeSign {

                        0% {
                            opacity: 1;
                            transform: rotate(0deg);
                        }

                        100% {
                            opacity: 0;
                            transform: rotate(-360deg);
                        }
                    }

                    @keyframes changeSign2 {

                        0% {
                            opacity: 0;
                            transform: rotate(0deg);
                        }

                        100% {
                            opacity: 1;
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
        }

        &__social-icons {
            display: none;
        }

        &__lower-wrapper {
            justify-content: center;
        }

        &__lower-linkbox {
            padding: 10px 0;

            &--copyright {
                flex-basis: 100%;
            }
        }
    }
}


