.page-footer {
    display: flex;
    flex-direction: column;
    color: #afafaf;
    background: no-repeat url('../../img/sprite/footer-bg.png') right top #242424;

    a {
        color: #afafaf;
        cursor: pointer;
        text-transform: uppercase;
    }

    a:hover {
        color: white;
        font-weight: bold;
    }

    h3 {
        font-size: 16px;
        font-family: 'Merriweather', serif;
        font-weight: normal;
        color: white;
        letter-spacing: 0.6px;
    }

    &__lower {
        background: rgba(255, 255, 255, 0.05);
    }

    &__upper-wrapper, &__lower-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 962px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    &__upper-wrapper {

        .page-footer__linkbox {
            min-width: 200px;

            li {
                margin-bottom: 15px;
            }
        }
    }

    &__lower-wrapper {
        padding-top: 40px;
        min-height: 140px;

        > div {
            display: flex;
            align-items: center;
        }
    }

    &__linkbox {
        box-sizing: border-box;
        padding: 15px;
    }

    &__comodo {
        justify-content: flex-start;
    }

    &__copyright {
        flex: 1;
        justify-content: center;
        font-size: 11px;
        text-transform: uppercase;
    }

    &__social-icons {
        justify-content: flex-end;
    }

    &__social-icons-ul {
        display: flex;
    }

    &__icon {
        display: block;
        margin: 0 7px;

        &:hover {
            opacity: 0.7;
        }

        &--fb {
            @include sprite(footer-facebook);
        }

        &--instagram {
            @include sprite(footer-instagram);
        }

        &--twitter {
            @include sprite(footer-twitter);
        }

        &--yt {
            @include sprite(footer-youtube);
        }

        &--pintrest {
            @include sprite(footer-pintrest);
        }

    }

}
@media screen and (max-width: $sm-breakpoint) {
    .page-footer {

        h3 {
            font-size: 20px;
            line-height: 25px;
        }

        a {
            font-size: 17px;
            line-height: 25px;
        }

        &__upper {

            > div > div {
                flex: 1 0 50%;
            }
        }

        &__lower {

            > div > div {
                flex: 1 0 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
}

