.zopim {
    @media all and (max-width: $xs-breakpoint) {
        display: none !important;
    }
}

body[class~='catalog-category-view'] {
    .page-main {
        max-width: 1250px;
    }

    .breadcrumbs {
        max-width: 1250px;
        padding: 52px 20px 25px 23px;
    }

    .layered-nav {
        padding-right: 0px;

        &__filter-header {
            font-size: 20px;
            margin: 10px 39px 10px 0;
        }
    }
}

.page-main {
    max-width: 1080px;
    margin: auto auto 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

    &--unconstrained {
        max-width: none;
        padding: 0 0;
    }

    &__message {
        text-align: center;

        .message {
            font-size: 14px;
            margin: 10px 0;
            padding: 5px 20px;
            border-radius: 1px;
            display: inline-block;
        }

        .success {
            border: 1px solid #399131;
        }

        .error {
            border: 1px solid #d32b21;
        }

        .notice {
            border: 1px solid #d32b21;
        }
    }
}

.loading-mask {
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}

// Category view
body[class~='catalog-category-view'] {
    .page-main__message {
        display: none;
    }
}


// Product View
body[class~='catalog-product-view'] {
    .page-main__message .success {
        display: none;
    }

    @media all and (max-width: $sm-breakpoint) {
        .page-main {
            padding: 0;
        }

        .zopim {
            display: none !important;
        }
    }
}


//Cart & Checkout
body[class~='checkout-cart-index'] {
    @media all and (max-width: $sm-breakpoint) {
        .page-main {
            padding: 0 10px;
        }

        .page-main__title {
            display: none;
        }

        .zopim {
            display: none !important;
        }
    }
}

body[class~='checkout-index-index'] {

    .page-main {
        max-width: 1260px;
    }

    @media all and (max-width: $sm-breakpoint) {
        .zopim {
            display: none !important;
        }

        .page-main {
            padding: 0;
        }

        .page-footer {
            display: none;
        }
    }
}


//CMS Views
body[class~='cms-page-view'] {
    .page-main {
        max-width: 990px;

        &--unconstrained {
            max-width: none;
            padding: 0 0;
        }
    }
}

//Homepage
body[class~='cms-index-index'] {
    .page-main {
        max-width: 100%;
        padding: 0;
    }
}

//Sartorial Ninja Page
body[class~='cms-sartorial-ninja'] {
    .page-main {
        max-width: 1260px;
        padding: 0;
    }
}

//The New Wave Page
body[class~='cms-the-new-wave'] {
    .page-main {
        max-width: 100%;
        padding: 0;
    }
}

//Wishlist
body[class~='guest-wishlist-index-index'] {
    .page-main {
        max-width: 100%;
        padding: 0;
    }
}

//Success Page
body[class~='checkout-onepage-success'] {
    .page-main {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .page-main__title.page-main__description {
        display: none;
    }

    .page-footer {
        margin: 0;
    }
}

body[class~='checkout-onepage-error'] {
    .page-main {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .page-main__title.page-main__description {
        display: none;
    }

    .page-footer {
        margin: 0;
    }
}

body[class~='contact-index-index'] {
    .page-main {
        max-width: 100%;
        padding: 0;
    }

    .page-main__columns {
        max-width: 1080px;
        margin: 50px auto 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
}

body[class~='page-product-amgiftcard'] {
    .fotorama--fullscreen {
        //display: none;
    }
}

