.page-main {
    max-width: 1080px;
    margin: auto auto 0px auto;
    padding: 0 20px;
    box-sizing: border-box;

    &--unconstrained {
        max-width: none;
        padding: 0 0;
    }

    &__messages {
        font-size: 14px;

        .success, .error {
            margin: 10px 0;
            padding: 5px 20px;
            border-radius: 6px;
            border: 1px solid black;
            display: inline-block;
        }

        .success {
            background-color: rgba(0, 255, 0, 0.19);
        }

        .error {
            background-color: rgba(255, 0, 0, 0.61);
        }
    }

    &__columns {
        .column.main {
            img {
                width: 100%;
            }
        }
    }
}

.cms-page-view .page-main {
    max-width: 990px;

    &--unconstrained {
        max-width: none;
        padding: 0 0;
    }
}

body[class~='checkout-index-index'] {
    .page-main {
        max-width: 1260px;
    }
}

