.page-main {
    max-width: 1080px;
    margin: auto auto 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

    &--unconstrained {
        max-width: none;
        padding: 0 0;
    }

    &__message {
        text-align: center;

        .message {
            font-size: 14px;
            margin: 10px 0;
            padding: 5px 20px;
            border-radius: 1px;
            display: inline-block;
        }

        .success {
            border: 1px solid #399131;
        }

        .error {
            border: 1px solid #d32b21;
        }

        .notice {
            border: 1px solid #d32b21;
        }
    }

    &__description {
        &--right-column {
            font-weight: 500;
        }
    }
}

.loading-mask {
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

// Category view, Search view
body[class~='catalog-category-view'], body[class~='catalogsearch-result-index'] {

    .page-main__message {
        display: none;
    }

    .page-main {
        max-width: 1250px;
    }

    .breadcrumbs {
        max-width: 1250px;
        padding: 52px 20px 25px 23px;
    }

    .layered-nav {
        padding-right: 0;
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        &__filter-header {
            font-size: 20px;
            margin: 10px 39px 10px 0;
        }
    }

    dl.filter-options {
        margin-top: 0;
    }
}


// Product View
body[class~='catalog-product-view'] {
    .page-main__message .success {
        display: none;
    }

    @media all and (max-width: $sm-breakpoint) {
        .page-main {
            padding: 0;
        }
    }

    .looknbuy__slider {
        display: none;
    }
}


//Cart & Checkout
body[class~='checkout-cart-index'] {
    .headers__bottom {
        display: none;
    }

    @media all and (max-width: $sm-breakpoint) {
        .page-main {
            padding: 0 10px;
        }

        .page-main__title {
            display: none;
        }
    }
}

body[class~='checkout-index-index'] {

    .page-main {
        max-width: 1260px;
    }

    .total-rules {
        display: none;
    }

    .headers__bottom {
        display: none;
    }

    @media all and (max-width: $sm-breakpoint) {

        .page-main {
            padding: 0;
        }

        .page-footer {
            display: none;
        }
    }
}


//CMS Views
body[class~='cms-page-view'] {
    .page-main {
        max-width: 990px;

        &--unconstrained {
            max-width: none;
            padding: 0 0;
        }
    }
}

//Homepage
body[class~='cms-index-index'],
body[class~='looknbuy-index-looks'] {
    .flexslider {
        @media all and (max-width: $medium_view) {
            margin: 0 0 20px;
        }
    }

    .flex-control-nav li {
        margin: 0 20px;
    }

    .widget-likes-comments {
        display: flex;
        justify-content: space-around;
    }

    .likes-number, .comments-number {
        margin-top: -1px;
        min-width: 22px;
        margin-right: 15px;
        line-height: 22px;
        font-size: 18px;
        color: black;
        margin-left: 25px;
    }

    .likes {
        //background: url('http://i66.tinypic.com/35070wl.jpg') no-repeat center;
        background: url('../../img/assets/instagram/like.jpg') no-repeat center;
        background-size: contain;
        height: 17px;
        width: 17px;
        margin-right: 3px;
    }

    .comments {
        //background: url('http://i63.tinypic.com/2rr8ow3.jpg') no-repeat center;
        background: url('../../img/assets/instagram/comments.jpg') no-repeat center;
        background-size: contain;
        height: 17px;
        width: 17px;
        margin-right: 3px;
    }

    .widget-detail-title {
        text-align: center;
    }

    .flex-control-paging li a {
        background: #b1b1b1;
    }

    .flex-control-paging li a.flex-active {
        background: #7E7E7E;
    }

    .flex-direction-nav .flex-prev {
        //background-image: url('http://i68.tinypic.com/30w6s2d.png');
        background-image: url('../../img/assets/instagram/prev.png');
        background-position: center center;
        background-repeat: no-repeat;
        border: 0;
        left: 0;
        font-size: 0;
        opacity: 0;

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            transition: background-color 0.1s ease-in-out;
        }

        &::before {
            content: none;
        }

        @media all and (max-width: 450px) {
            background-color: rgba(0, 0, 0, 0.5) !important;
            opacity: 1 !important;
            background-size: 10px;
        }
    }

    .widget-detail-nav-button:hover .widget-arrow {
        @media all and (max-width: 450px) {
            stroke: #222;
            stroke-linejoin: round;
            stroke-linecap: round;
        }
    }

    .flex-direction-nav .flex-next {
        //background-image: url('http://i66.tinypic.com/28v66j6.png');
        background-image: url('../../img/assets/instagram/next.png');
        background-position: center center;
        background-repeat: no-repeat;
        border: 0;
        right: 0;
        font-size: 0;
        opacity: 0;

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            transition: background-color 0.1s ease-in-out;
        }

        &::before {
            content: none;
        }

        @media all and (max-width: 450px) {
            background-color: rgba(0, 0, 0, 0.5) !important;
            opacity: 1 !important;
            background-size: 10px;
        }
    }

    .flexslider:hover .flex-direction-nav .flex-prev {
        left: 0;
    }

    .flexslider:hover .flex-direction-nav .flex-next {
        right: 0;
    }

    .flex-direction-nav a {
        width: 92px;
        height: 92px;
        margin: -40px 0 0;

        @media all and (max-width: 420px) {
            width: 50px;
            height: 50px;
            top: 60%;
        }
    }



    .widget-detail-content {
        @media all and (max-width: $medium_view) {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;
        }
    }

    .widget-desktop .widget-detail-right {
        @media all and (max-width: $medium_view) {
            max-width: 640px;
            width: 100%;
        }
    }

    #widget-detail-branding {
        @media all and (max-width: $medium_view) {
            bottom: 5px;
            right: 0;
        }

        @media only screen and (max-width: 767px) {
            bottom: 3px !important;
            right: 0 !important;
            transform: translate(0%, 0%) !important;
        }
    }

    .widget-detail-title,
    .widget-post-info {
        text-align: center;
    }

    #widget-prev-post {
        @media all and (max-width: $medium_view) {
            margin-left: 0;
        }
    }

    .flex-control-nav {
        @media all and (max-width: $medium_view) {
            display: none;
        }
    }

    .page-main {
        max-width: 100%;
        padding: 0;
    }

    .page-main__message {
        display: none;
    }

    @media all and (max-width: 560px) {
        .column.main {
            display: flex;
            flex-direction: column;
        }

        .main-banner {
            order: 1;
        }

        .widget__slider {
            order: 2;
        }

        .home-banner__image--support {
            order: 4;
        }

        .home-banner__image--elevate {
            order: 3;
        }

        .home-banner__image--shoe {
            order: 5;
        }

        .home-banner__image--measure {
            order: 6;
        }

        .men-guide {
            order: 7;
        }
    }
}

//Sartorial Ninja Page
body[class~='cms-sartorial-ninja'] {
    .page-main {
        max-width: 1260px;
        padding: 0;
    }
}

//The New Wave Page
body[class~='cms-the-new-wave'] {
    .page-main {
        max-width: 100%;
        padding: 0;
    }
}

//Wishlist
body[class~='guest-wishlist-index-index'] {
    .page-main {
        max-width: 100%;
        padding: 0;
    }
}

//Success Page
body[class~='checkout-onepage-success'] {
    .page-main {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .page-main__title.page-main__description {
        display: none;
    }

    .page-footer {
        margin: 0;
    }

    .headers__bottom {
        display: none;
    }
}

body[class~='checkout-onepage-error'] {
    .headers__bottom {
        display: none;
    }

    .page-main {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .page-main__title.page-main__description {
        display: none;
    }

    .page-footer {
        margin: 0;
    }
}

body[class~='contact-index-index'] {
    .page-main {
        max-width: 100%;
        padding: 0;
    }

    .page-main__columns {
        max-width: 1080px;
        margin: 50px auto 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
}

body[class~='cms-discover-more-page'] {
    .page-main {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    .header-shippingbar {
        display: none;
    }
}

body[class~='corporate-index-index'] {
    .page-main__message {
        display: none;
    }
}

// Looknbuy looks page

body[class~='looknbuy-index-looks'] {
    .page-main {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
}
