.page-footer {
    display: flex;
    flex-direction: column;
    color: #242424;
    background: $lightgrey;
    margin-top: 25px;
    font-family: "sofia-pro", sans-serif;

    a {
        font-size: 14px;
        color: #4c4b4d;
        cursor: pointer;
    }

    a:hover {
        font-weight: bold;
    }

    a::after {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 1px;
        color: transparent;
        overflow: hidden;
        visibility: hidden;
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        color: #4c4b4d;
        letter-spacing: 0.6px;
        font-family: "sofia-pro", sans-serif;
    }

    &__lower {
        background: rgba(255, 255, 255, 0.05);
        transform: translateZ(0);

        &--social-icons {
            display: none;

            @media all and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 2em 0;
            }
        }
    }

    &__upper-lower, &__lower-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__signup-wrapper, &__upper-lower, &__lower-wrapper {
        max-width: 962px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    &__upper-upper {
        background: $lightgrey;
        padding: 44px 0 10px 0;
    }

    &__upper-lower {
        margin-top: 15px;
    }

    &__signup {

        h3 {
            margin: 0 0 27px 0;
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 500;
            color: #4c4b4d;
        }
    }

    &__linkbox {
        min-width: 145px;
        max-width: 400px;
        box-sizing: border-box;
        padding: 15px 10px;

        li {
            margin-bottom: 15px;
        }
    }


    &__lower-wrapper {
        padding: 40px 2% 30px 2%;
        min-height: 140px;
    }

    &__lower-linkbox {
        display: flex;
        align-items: center;
        justify-content: center;

        &--copyright {
            text-transform: uppercase;
            font-size: 10px;
            color: #4c4b4d;
            font-weight: 700;
        }
    }

    &__cards {
        display: block;
        margin: 0 0 0 15px;

        &--visa {
            @include sprite(footer-visa);
        }

        &--mastercard {
            @include sprite(footer-mastercard);
        }
    }

    &__comodo {
        justify-content: flex-start;
    }

    &__copyright {
        flex: 1;
        justify-content: center;
        font-size: 11px;
        text-transform: uppercase;
    }

    &__social-icons {
        justify-content: flex-end;
    }

    &__social-icons-ul {
        display: flex;
        justify-content: flex-end;
        padding-top: 15px;

        li:first-child a {
            margin-left: 0;
        }
    }

    &__icon {
        display: block;
        margin: 0 7px;

        &:hover {
            opacity: 0.7;
        }

        &--fb {
            @include sprite(footer-facebook);
        }

        &--instagram {
            @include sprite(footer-instagram);
        }

        &--twitter {
            @include sprite(footer-twitter);
        }

        &--pintrest {
            @include sprite(footer-pintrest);
        }
    }

}

@media screen and (max-width: $sm-breakpoint) {
    .page-footer {

        &__upper-lower {
            padding: 30px 5% 0 5%;
        }

        &__linkbox {
            width: 100%;
            padding: 12px 0;
            border-bottom: 2px solid #dcd9d9;

            &#{&} {
                max-width: none;
            }

            > ul {
                display: none;

                li {
                    margin: 30px 0;
                }
            }

            h3 {
                @include expandable-nav();
            }

        }

        &__social-icons {
            display: none;
        }

        &__lower-wrapper {
            justify-content: center;
        }

        &__lower-linkbox {
            padding: 10px 0;
            flex-basis: 100%;

            &--copyright {
                flex-basis: 100%;
            }
        }
    }
}

// Product View
body[class~='catalog-product-view'] {
    .page-footer {
        margin-top: 0;
        padding-top: 25px;
    }
}


