.chckt-auth-wrap {
    cursor: pointer;
    margin: 20px 0;
    max-width: 296px;

    &__underline {
        text-decoration: underline;
    }

    @media all and (max-width: $sm-breakpoint) {
        padding: 0 20px;
    }

}
