.checkout-success {
    background-image: url('../../img/assets/checkout-order-success/textile_bg.png');
    background-size: cover;
    height: 100vh;

    &__inner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media all and (max-width: 768px) {
            padding: 30px;
        }
    }

    &__img {
        background-image: url('../../img/assets/checkout-order-success/textile_square.png');
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        color: #626161;
        line-height: 1.3em;
        height: 452px;
        background: #FFF;
        width: 512px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        color: #242424;
        font-size: 40px;
        font-family: Roboto, sans-serif;
        text-align: center;
        margin: 0 0 40px 0;
        font-weight: 500;
        line-height: 1.1em;

        @media all and (max-width: 690px) {
            font-size: 27px;
        }

        @media all and (max-width: 520px) {
            font-size: 22px;
        }
    }

    &__box {
        background: #f4f3f3;
        padding: 20px 20px;
    }

    &__number {
        font-size: 19px;
        margin: 10px 0;
        text-align: center;

        a {
            color: black;
        }
    }

    &__number-box {
        background-color: #f3f1f1;
        padding: 15px 40px;
        margin-bottom: 40px;
        font-weight: 500;
    }

    &__para {
        font-size: 15px;
        color: black;
        text-align: center;

        &--bold {
            font-weight: 500;
        }
    }

    &__continue {
        @include button-black();
        display: block;
        margin-top: 30px;
        height: auto;
        width: auto;
        padding: 12px 60px;
    }
}

.checkout-onepage-success {
    .page-main__message .success {
        display: none;
    }
}
