.checkout-table {
    font-size: 14px;

    &__item {
        margin: 10px 0;
        display: flex;

        &--header {
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
            text-transform: uppercase;
        }

        &--bold {
            font-weight: bold;
        }
    }

    &__item:last-child {
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    &__name-and-attrs {
        flex-basis: 55%;
    }

    &__name {
        text-transform: uppercase;
        flex: 1;
    }

    &__attrs {
        font-size: 12px;

        dl, dt, dd {
            display: inline-block;
        }

        dl {
            margin: 5px 0;
        }

    }

    &__qty {
        flex-basis: 10%;
        display: flex;
        justify-content: center;
    }

    &__price {
        flex-basis: 35%;
        display: flex;
        justify-content: flex-end;
    }
}

