.checkout-cart {
    font-size: 14px;

    &__header-row {
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        text-transform: uppercase;
    }

    &__item {
        margin: 10px 0;
    }

    &__details-wrapper {
        display: flex;
    }

    &__name-and-attrs {
        flex-grow: 1;
    }

    &__name {
        text-transform: uppercase;
    }

    &__attrs {
        font-size: 12px;

        dl {
            display: flex;
            margin: 5px 0;
        }

        dd {
            margin: 0 5px;
        }
    }

    &__qty {
        flex-basis: 10%;
    }

    &__price {
        flex-basis: 35%;

    }



}
