.checkout {
    letter-spacing: 1px;
    color: #515151;

    a {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        color: #222;
        text-decoration: none;
        text-transform: uppercase;
    }

    a:hover {
        color: #999;
    }

    &__step-wrapper {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 27px 0;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;

    }

    &__step-number {
        background-color: #000;
        color: #fff;
        border-radius: 100%;
        width: 38px;
        height: 38px;
        margin: 0 20px 0 0;
        font-size: 22px;
        padding: 8px 12px;
        box-sizing: border-box;
    }

    &__step-title {
        font-size:  25px;
        color: #000;
    }

    &__input-wrapper {
        @include form-element-wrapper();
    }

    &__input {
        @include form-element();
    }

    &__select-wrapper {
        @include form-element-wrapper();
    }

    &__select {
        @include form-element();
    }

    &__select-arrow {
        @include form-select-arrow();
    }

    &__form-login-wrapper {
        display: flex;
        align-items: center;
    }

    &__form-error {
        color: #c22020;
        font-size: 12px;
        padding-top: 3px;
    }

    &__button {

        &--login {
            @include button-blue(10px 20px, 5px, 13px);

        }

        &--calculate {
            @include button-blue(10px 20px, 5px 0, 13px);

        }
    }

    &__shipping {

        &-options-wrapper {
            color: #555;
        }

        &-option {
            margin-bottom: 35px;
        }

        &-name {
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 10px;
        }

        &-select {
            display: flex;
            align-items: center;
        }

        &-radio {
            margin-right: 15px;
        }

        &-price {
            font-size: 14px;
            font-weight: bold;
            margin-right: 15px;
        }

        &-delivery {
            font-style: italic;
        }
    }

    &__payments {

        button {
            @include button-blue()
        }
    }

    &__discount-title {
        color: #000;
        display: block;
        padding: 17px 0 12px;
        font-size: 20px;
    }

    &__discount-form {
        display: flex;
    }

    &__discount-input {
        @include form-element();
    }

    &__discount-button {

        &--apply {
            @include button-custom(10px 30px, 0, 16px, bold, white, #666, white, black);
            margin-left: 5px;
        }

        &--cancel {

        }
    }

}
