.checkout-shippingbar {
    background-color: #464646;
    padding: 10px;
    text-align: center;

    @media all and (max-width: 975px) {
        display: none;
    }

    a {
        color: white;
        font-size: 12px;
        font-weight: 500;
    }
}

.checkout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 30px;

    @media all and (max-width: $lg-breakpoint) {
        padding: 30px 30px;
        justify-content: space-around;
    }

    &__left {
        display: flex;
        order: 0;

        @media all and (max-width: $lg-breakpoint) {
            order: 1;
        }

        a {
            color: #636465;
            font-weight: 400;
            position: relative;
            letter-spacing: 0;

            &:hover {
                color: #999;
            }

            &::before {
                content: '\0003C';
                width: 10px;
                height: 10px;
                position: absolute;
                left: -9px;
                top: 0;
                display: block;
                color: #636465;

                @media all and (max-width: $lg-breakpoint) {
                    display: none;
                }
            }

            &::after {
                content: '';
                background: #dfdfdf;
                height: 1px;
                width: 100%;
                position: absolute;
                bottom: -1px;
                left: 0;
            }
        }
    }

    &__middle {
        display: flex;
        position: relative;
        left: 60px;

        @media all and (max-width: $lg-breakpoint) {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            left: 0;
        }
    }

    &__logo {
        margin: 20px 0;
        max-width: 325px;
        width: 100%;

        img {
            width: 100%;
        }

        @media all and (max-width: $lg-breakpoint) {
            max-width: 470px;
        }
    }

    &__mobile-header {
        display: none;
    }

    &__back-icon {
        @include sprite(arrow-down);
        top: 0;
        transform: rotate(90deg) translate(35%, 0);
    }


    &__right {
        display: flex;
        order: 2;

        a {
            color: #636465;
            font-weight: 400;
            position: relative;
            letter-spacing: 0;
            cursor: pointer;

            &:hover {
                color: #999;
            }

            &::after {
                content: '';
                background: #dfdfdf;
                height: 1px;
                width: 100%;
                position: absolute;
                bottom: -1px;
                left: 0;
            }
        }

        .contact-us-click-checkout {
            margin-left: 50px;

            @media all and (max-width: $lg-breakpoint) {
                margin-left: 250px;
            }

            @media all and (max-width: 975px) {
                margin-left: 200px;
            }

            @media all and (max-width: $sm-breakpoint) {
                margin-left: 120px;
            }
        }
    }



    @media all and (max-width: $sm-breakpoint) {
        &__logo,
        &__left,
        &__right {
            display: none;
        }

        &__mobile-header {
            display: block;
            text-align: center;
            font-size: 23px;
            font-weight: 500;
        }

        &__back-icon {
            position: absolute;
            left: 0;
        }
    }


}
