.checkout {

    &__wrapper {
        width: 925px;
        color: #515151;
        margin: 0 auto 20px auto;
    }

    a {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        color: #222;
        text-decoration: none;
        text-transform: uppercase;
    }

    a:hover {
        color: #999;
    }

    &-messages {
        font-size: 14px;
    }

    &__steps-and-sidebar {
        margin-top: 22px;
        display: flex;
        align-items: flex-start;

        @media all and (max-width: $sm-breakpoint) {
            flex-wrap: wrap;
        }
    }

    &__steps {
        width: 100%;
    }

    &__sidebar-wrap {
        box-sizing: border-box;
        flex: 0 0 360px;
        line-height: 1.3em;
        margin-left: 90px;

        @media all and (max-width: $sm-breakpoint) {
            margin-top: 15px;
            flex: 1;
            margin-left: 0;
        }
    }

    &__sidebar {
        background-color: #efefef;
        padding: 15px 0 20px 0;
    }

    &__sidebar-title {
        font-weight: 500;
        padding: 10px 0 25px 0;
        text-align: center;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;
        font-size: 24px;
    }

    &__shipping-method {
        flex: 1 0 50%;
    }

    &__shipping-address {
        flex: 1 0 50%;
    }

    &__steps-list {
        display: flex;
        margin-bottom: 30px;

        @media all and (max-width: $sm-breakpoint) {
            flex-wrap: wrap;
        }
    }

    &__step-wrapper {
        font-weight: 500;
        padding: 0 0 17px 0;
    }

    &__step-title {
        font-size:  26px;
        color: #000;
    }

    &__step-separator {
        margin: 30px 0 36px;
        border-bottom: 1px solid #ddd;
    }

    &__input-wrapper {
        @include form-element-wrapper();
    }

    &__input {
        @include form-element();
    }

    &__select-wrapper {
        @include form-element-wrapper();
    }

    &__select {
        @include form-element();
    }

    &__select-arrow {
        @include form-select-arrow();
    }

    &__form-login-wrapper {
        display: flex;
        align-items: center;
    }

    &__form-error, div.mage-error {
        color: #c22020;
        font-size: 12px;
        padding: 2px 0 4px 0;
    }

    &__button {

        &--login {
            @include button-blue(10px 20px, 5px, 13px);
        }
    }

    &__buttons {
        button {
            @include button-checkout();
        }
    }

    &__address {
        padding: 20px;
        margin: 10px 0;

        &--selected {
            border: 2px solid grey;
        }

        &--not-selected {
            border: 2px dashed grey;
        }

        &-button {

            &--select {
                @include button-blue(10px 20px, 0);
            }

            &--edit {
                @include button-custom(10px 20px, 0, inherit, bold, white, #666, white, black);

            }

            &--add {
                @include button-custom(10px 20px, 10px 0, inherit, bold, white, #666, white, black);
            }
        }
    }

    &__address-fieldset {

        display: flex;
        flex-wrap: wrap;
        > .field {
            flex-basis: 100%;

            &:nth-child(n+5) {
                flex-basis: 50%;
            }
            &:nth-child(5), &:nth-child(7) {
                box-sizing: border-box;
                padding-right: 15px;
            }
        }
    }



    &__shipping-address {

        @media all and (max-width: $sm-breakpoint) {
            flex-basis: 100%;
        }
    }

    &__shipping-radio {

        margin-right: 5px;
    }

    &__shipping-options-wrapper {
        color: #555;
    }

    &__shipping-option {
        margin-bottom: 30px;
    }

    &__shipping-name {
        font-size: 14px;
        margin-bottom: 22px;
    }

    &__shipping-select {
        display: flex;
        align-items: center;
    }

    &__shipping-price {
        font-size: 14px;
        font-weight: bold;
        margin-right: 15px;
    }

    &__shipping-delivery {
        font-style: italic;
        flex: 1;
    }


    &__next-button {
        @include button-checkout();
    }

    &__payments {

        button {
            @include button-blue()
        }
    }

    &__payment-method {
        padding-right: 10px;
    }



    &__cc-img {
        @include sprite(credit-cards);
        display: inline-block;
    }

    &__pp-img {
        @include sprite(paypal-logo);
        display: inline-block;
    }

    .opc-progress-bar-item {
        display: none;
    }

    .opc-progress-bar-item._complete {
        display: block;
    }

}


