.checkout {
    letter-spacing: 1px;
    color: #515151;
    margin: 40px 0 20px;

    a {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        color: #222;
        text-decoration: none;
        text-transform: uppercase;
    }

    a:hover {
        color: #999;
    }

    &__steps-and-sidebar {
        display: flex;
        align-items: flex-start;
    }

    &__steps {
        flex: 1;
    }

    &__sidebar {
        flex: 0 0 350px;
        background-color: #efefef;
        padding: 15px 15px 40px 15px;
        line-height: 1.3em;
    }

    &__sidebar-title {
        font-weight: bold;
        padding: 10px 0;
        text-align: center;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;
        font-size: 22px;
        text-transform: uppercase;
    }

    &__steps-list {
        display: flex;
        flex-wrap: wrap;

        > li {
            flex: 1 0 100%;
            box-sizing: border-box;
        }

        > li:last-child {
            margin-bottom: 30px;
        }
    }

    &__step-wrapper {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 27px 0;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;

    }

    &__step-number {
        background-color: #000;
        color: #fff;
        border-radius: 100%;
        width: 38px;
        height: 38px;
        margin: 0 20px 0 0;
        font-size: 22px;
        padding: 8px 12px;
        box-sizing: border-box;
    }

    &__step-title {
        font-size:  25px;
        color: #000;
    }

    &__input-wrapper {
        @include form-element-wrapper();
    }

    &__input {
        @include form-element();
    }

    &__select-wrapper {
        @include form-element-wrapper();
    }

    &__select {
        @include form-element();
    }

    &__select-arrow {
        @include form-select-arrow();
    }

    &__form-login-wrapper {
        display: flex;
        align-items: center;
    }

    &__form-error {
        color: #c22020;
        font-size: 12px;
        padding-top: 3px;
    }

    &__button {

        &--login {
            @include button-blue(10px 20px, 5px, 13px);

        }
    }

    &__pick-shipping {
        color: blue;

        &--active {
            color: red;
        }
    }

    &__address {
        padding: 20px;
        margin: 10px 0;

        &--selected {
            border: 2px solid grey;
        }

        &--not-selected {
            border: 2px dashed grey;
        }

        &-button {

            &--select {
                @include button-blue(10px 20px, 0);
            }

            &--edit {
                @include button-custom(10px 20px, 0, inherit, bold, white, #666, white, black);

            }

            &--add {
                @include button-custom(10px 20px, 10px 0, inherit, bold, white, #666, white, black);
            }
        }
    }

    &__shipping {

        &-options-wrapper {
            color: #555;
        }

        &-option {
            margin-bottom: 35px;
        }

        &-name {
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 10px;
        }

        &-select {
            display: flex;
            align-items: center;
        }

        &-radio {
            margin-right: 15px;
            min-width: 13px;
        }

        &-price {
            font-size: 14px;
            font-weight: bold;
            margin-right: 15px;
        }

        &-delivery {
            font-style: italic;
        }
    }

    &__payments {

        button {
            @include button-blue()
        }
    }

    &__payment-method {
        padding-right: 10px;
    }

    &__cc-img {
        @include sprite(credit-cards);
        display: inline-block;
    }

    &__pp-img {
        @include sprite(paypal-logo);
        display: inline-block;
    }

    &__discount-title {
        color: #000;
        display: block;
        padding: 17px 0 12px;
        font-size: 20px;
    }

    &__discount-form {
        display: flex;
    }

    &__discount-input {
        @include form-element();
    }

    &__discount-button {

        &--apply {
            @include button-custom(10px 30px, 0, 16px, bold, white, #666, white, black);
            margin-left: 5px;
        }
    }
}

@media screen and (min-width: $lg-breakpoint) {
    .checkout {

        &__steps-list {

            > li {
                flex: 1 0 33%;
                margin-bottom: 30px;
            }
        }

        &__shipping-method {
            padding: 0 10px;
        }
    }
}

@media screen and (min-width: $sm-breakpoint) and (max-width: $lg-breakpoint - 1px) {
    .checkout {

        &__steps-list {

            > li {
                flex: 1 0 50%;
            }
        }

        &__shipping-method {
            padding-left: 2vw;
        }
    }
}


