.payment-method {
    padding-right: 10px;

    .payment-method-title {
        display: flex;
        align-items: center;

        input, label, div {
            margin: 0 4px;
        }
    }

    .payment-method-content {
        display: none;
    }

    &._active {
        .payment-method-content {
            display: block;
        }
    }

    &-title {
        font-size: 14px;
        text-transform: uppercase;
        margin: 10px 0;
    }

    fieldset {
        border: none;
    }

    .billing-address-details._active {
        padding: 20px;
        margin: 10px 0;
        border: 2px solid grey;
    }

    &-content {
        padding: 10px 10px 10px 19px;
    }

}
