.shipping-information {


    &-title {
        margin-top: 25px;
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd;
        text-transform: uppercase;
        position: relative;
        font-size: 14px;
    }

    &-edit {
        position: absolute;
        right: 0;
        @include button-custom(4px 10px, 0, inherit, bold, white, #666, white, black);
    }

    &-content {
        margin-top: 13px;
        font-style: italic;
        font-size: 12px;
    }

    &__address {
        display: block;
        padding: 2px 0;

    }

}