.shipping-information {

    font-size: 14px;

    &-title {
        margin-top: 25px;
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd;
        text-transform: uppercase;
        position: relative;
    }

    &-edit {
        position: absolute;
        right: 0;
        @include button-custom(4px 10px, 0, inherit, bold, white, #666, white, black);
    }

}