<!--@subject Your gift voucher has been sent @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var recipient_name":"Recipient name",
"var sender_name":"Sender name",
"var sender_message":"Sender message",
"var initial_value":"Initial value",
"var currency_code":"Currency code"}
@-->
<!--@styles
.main-content {
padding: 0 !important;
}
.header {
padding: 20px 0 !important;
}
.wrapper-inner {
padding-bottom: 10px !important;
}
@-->

{{template config_path="design/email/header_template"}}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td width="100%" height="550px" valign="top" style="background-image:url(http://i64.tinypic.com/2zxp1lz.png);
            background-repeat:no-repeat;">
            <div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td width="30" align="left" valign="top" style="font-size: 0%;" class="mobile-hidden"></td>
                        <td align="left" valign="top" class="mobile-padding">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top" style="padding: 70px 90px 0 90px;">
													<span>
														<p>
                                                            Dear {{var sender_name}},<br>
                            <br>
                            Thank You! You have purchased a {{var store.getFrontendName()}}<br>
                            Giftcard for {{var initial_value}}{{var currency_code}}.<br>
                            <br>
                            We hope to see you soon.<br>
                            {{if sender_message}}
                            Your message:<br>
                            <br>
                            {{var sender_message}}<br>
                            {{/if}}
														</p>
													</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>
{{template config_path="design/email/footer_template"}}