.amasty-quickview-ajax-view.page-layout-1column.catalog-product-view {
    padding-top: 0;
}

.fancybox-slide.fancybox-slide--iframe .fancybox-content {
    max-width: calc(100% - 50px) !important;

    @media all and (max-width: $sm-breakpoint) {
        height: calc(100% - 100px) !important;
    }

}

.amasty-quickview-ajax-view {

    &__header {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
    }

    &__close {
        font-size: 13px;
        color: black;
        display: flex;
        align-items: center;

        &:hover {
            color: #999;
        }

        span {
            margin-right: 22px;
        }
    }

    &__close-icon {
        @include sprite(remove-ico);
        display: inline-block;
        vertical-align: center;
        transform: scale(1.3);
    }

    &__goto-product {
        text-transform: none;
        text-decoration: underline;
        font-size: 14px;
        margin-right: 20px;

        a {
            color: #222;

            &:hover {
                color: #999;
            }
        }
    }

    .column.main {
        position: relative;
    }

    .page-main {
        margin: 0;
        padding: 37px 49px;

        @media all and (max-width: $sm-breakpoint) {
            padding: 10px !important;
        }
    }

    .product-main {
        &__gal-act-wrapper {
            padding: 0;
        }

        &__right {
            @media all and (min-width: $sm-breakpoint + 1) {
                margin: 50px 0 20px 35px;
                flex: 0 0 348px;
            }
            @media all and (max-width: $sm-breakpoint) {
                order: 1;
            }


        }

        &__left {
            flex: 1 1;
            min-width: inherit;
            @media all and (max-width: $sm-breakpoint) {
                order: 2;
                margin: 20px 0;
            }
        }
    }

    .product-info-main {
        &__title {
            h1 {
                margin-top: 0;
            }

            @media all and (max-width: $sm-breakpoint) {
                margin-right: 220px;
            }

        }

        &__wishlist-a {
             //prevent hiding by amasty_quickview::page.phtml
            display: block !important;
        }
    }
}
