.amasty-quickview-ajax-view .page-wrapper {

    .product-main__wrapper {
        flex-direction: row;

        .product-content__tabs a {
            padding: 0 35px 0 0;
        }

    }
}

.product-add-form {

    .product-options-wrapper {
        display: flex;
        flex-direction: row;
    }

    .select__wrapper--Size {
        width: 100%;
    }

    .field.configurable.required {
        margin-right: 15px;
    }
}

.product-main__right {

    .product-content__title {
        padding: 0 0 4px 0;

        h1 {
            font-size: 42px;
            margin-top: 42px;
            font-weight: normal;
            width: 100%;
        }
    }

    .product-info-price {
        font-size: 12px;
        color: #181818;
        margin: 10px 0 0 0;
    }


    .data.item.content {
        color: #333;
        font-size: 14px;
        text-align: justify;
    }

    .product.attribute.description {
        font-weight: 400;
        color: #333;
        line-height: 15px;
        text-align: justify;
    }
}


