.fancybox-overlay {

    .fancybox-wrap {
        display: flex;
        margin-top: 70px;
        //width: 754px !important;

        .fancybox-skin {
            border-radius: 0;
        }

        .fancybox-inner {
            width: 754px !important;
        }
    }
}


