.amasty-quickview-ajax-view.page-layout-1column.catalog-product-view {
    padding-top: 0;
}

.fancybox-opened .fancybox-skin {
    background: white;
}

.fotorama {

    &__wrap {

        .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,
        .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
            opacity: 0;
        }

        .fotorama__arr,
        .fotorama__arr:active,
        .fotorama__arr:hover {
            background-color: rgba(255, 255, 255, 0);
        }

        .fotorama {

            &__thumb__arr,
            &__thumb__arr:active,
            &__thumb__arr:hover {
                background-color: rgba(255, 255, 255, 0);
            }
        }

        .fotorama__stage:before, .fotorama__nav:before, .fotorama__stage:after, .fotorama__nav:after {
            display: none;
        }
    }
}

.amasty-quickview-ajax-view {
    height: 580px;

    &__header {
        display: flex;
        justify-content: flex-end;

        @media all and (max-width: $sm-breakpoint) {
            justify-content: space-between;
        }
    }

    &__goto-product {
        text-transform: none;
        text-decoration: underline;
        font-size: 14px;
        margin: 18px 20px 0 0;

        a {
            color: #222;

            &:hover {
                color: #999;;
            }
        }
    }

    &__close {
        font-size: 30px;
        margin: 9px 0 0 0;
        color: #838282;

        &:hover {
            color: #999;
        }
    }


    .page-main {
        margin: 0;
        padding: 0 25px 0 25px;
    }

    .product-info-main {
        max-width: 100%;
        margin: 0 0 20px 0;

        @media all and (max-width: $sm-breakpoint) {
            max-width: 672px;
            width: 97%;
        }

        &__fieldset {
            flex: 1 0 75%;
        }

        &__options-wrapper {
            @media all and (max-width: $sm-breakpoint) {
                border: 0;
                padding: 0;
            }
        }

        &__price {
            font-size: 10px;
            color: #181818;
        }

        &__select-wrapper {
            width: 100%;
        }
    }

    .product-content {

        &__price {
            font-size: 30px;
            margin: 10px 0;
        }

        &__title {

            h1 {
                font-size: 30px;
                color: #242424;
            }
        }

        &__tabs {
            margin: 0 0 5px 0;

            a {
                padding: 0;
            }
        }

        &__size-chart {
            margin: 0;
            padding-top: 2px;

            &::before {
                margin: 0 5px 0 0;
            }

        }

    }

    .product-info-detailed {

        &__description {
            font-size: 14px;
            color: #333;
            max-height: 51px;
            text-align: justify;
            overflow-y: scroll;
            line-height: 17px;
            cursor: default;

            @media all and (max-width: $sm-breakpoint) {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .product-main {
        &__wrapper {
            flex-direction: row;
            padding: 0 0 30px 0;

            @media all and (max-width: $sm-breakpoint) {
                flex-direction: column;
            }
        }

        &__right {
            margin: 0 15px;

            .select__select {
                width: 100%;
            }

            .select__select--color {
                display: none;
            }
        }
    }
}
