.fancybox-container .fancybox-inner {
    .fancybox-slide::before {
        content: none;
    }

    .fancybox-content {
        display: block;
        margin-right: auto;
        margin-left: auto;
        overflow-y: auto;
    }

    .fancybox-toolbar {
        opacity: 1;
        visibility: visible;

        .fancybox-button {

            &--close {

                &::before {
                    opacity: 1;
                    visibility: visible;
                }

                &::after {
                    opacity: 1;
                    visibility: visible;
                }

            }

        }
    }
}

.fancybox-slide.fancybox-slide--iframe .fancybox-content {
    max-width: calc(100% - 50px) !important;

    @media all and (max-width: $sm-breakpoint) {
        height: calc(100% - 100px) !important;
    }
}
