<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pandagroup_coupon" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>pandagroup-coupon</class>
            <label><![CDATA[Coupon]]></label>
            <tab>panda_group</tab>
            <resource>PandaGroup_CouponExtender::config</resource>
            <group id="coupon_extended_settings" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Coupon Extended Settings</label>
                <field id="redirects_enable" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Correct Redirect</label>
                    <comment>Redirect to #payment section on checkout</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>

