<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <looknbuy>
            <general>
                <link_title>Shop By Look</link_title>
                <heading_title>Shop By Look</heading_title>
                <url_key>shop-by-look</url_key>
                <discount_label>Discount</discount_label>
            </general>
        </looknbuy>
    </default>
</config>
