<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="weltpixel_lazy_loading" translate="label" type="text" sortOrder="182" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Lazy Loading</label>
            <tab>weltpixel</tab>
            <resource>WeltPixel_LazyLoading::LazyLoadingSettings</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Lazy Loading is also available in <a target="_blank" href="https://www.weltpixel.com/owl-carousel-and-slider.html">Banner Slider and OWL Carousel - Free Extension</a>, you can enable lazy loading for sliders and carousels using admin options.]]></comment>
                </field>
            </group>

            <group id="compatibility_notification" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <fieldset_css>weltpixel-recommended-header active</fieldset_css>
                <field id="notification_msg" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\LazyLoading\Block\Adminhtml\System\Config\LazyLoadingCompatibilityNotice</frontend_model>
                </field>
            </group>

            <group id="notification" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Lazy Load Tips</label>
                <fieldset_css>weltpixel-recommended-header active</fieldset_css>
                <field id="notification_msg" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\LazyLoading\Block\Adminhtml\System\Config\LazyLoadingTutorial</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
