body[class~='account'] {
    .order-status {
        display: none;
    }

    .order-date {
        display: none;
    }

    .actions-toolbar.order-actions-toolbar {
        display: none;
    }
}

.orders-history {

    &__header {
        font-size: 24px;
        margin: 0 0 35px 0;

        @media all and (max-width: $bp-header) {
            display: none;
        }
    }

    &__table-header {
        display: flex;
        font-size: 17px;
        padding: 0 0 15px 0;
        border-bottom: 1px solid #d7d7d7;
        
        @media all and (max-width: $bp-header) {
            display: none;
        }
    }

    &__number {
        margin: 0 70px 0 0;
    }

    &__date {
        margin: 0 100px 0 0;
    }

    &__total {
        margin: 0 58px 0 0;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 17px;
        font-weight: 400;
        height: 115px;
        border-bottom: 1px solid #d7d7d7;
        color: #363636;

        a {
            color: black;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 13px;
        }


        @media all and (max-width: $bp-header) {
            flex-wrap: wrap;
            padding: 30px 0 60px 0;
        }

        &--desktop {
            @media all and (min-width: $bp-header) {
                display: flex;
                width: 535px;
                justify-content: space-between;
            }

            @media all and (max-width: $bp-header) {
                flex-basis: 50%;

                > div {
                    padding: 0 0 10px 0;
                }
            }
        }

        &--mobile {
            @media all and (min-width: $bp-header) {
                display: none;
            }

            @media all and (max-width: $bp-header) {
                flex-basis: 50%;

                >div {
                    padding: 0 0 10px 0;
                }
            }
        }

        .col.actions {
            border: 1px solid black;
            border-radius: 2px;
            padding: 10px 20px;
            text-transform: uppercase;
            font-size: 13px;

            a {
                color: black;
                font-weight: 500;
            }
        }
    }
}

.delivery-details {
    padding: 0 20px;

    @media all and (max-width: 1002px) {
        padding: 0;
    }

    &__header {
        font-size: 24px;
        font-weight: 400;
        padding: 100px 0 20px 0;
        border-bottom: 1px solid #d7d7d7;

        p {
            margin: 0;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 0 0;
        text-align: center;

        @media all and (max-width: $bp-header) {
            flex-wrap: wrap;
            width: 100%;

            > div {
                flex-basis: 100%;
                padding: 0;
            }
        }
    }

    &__address {
        width: 238px;
    }

    &__delivery {
        width: 238px;
        padding: 0 20px;
    }

    &__payment {
        width: 238px;
    }

    &__title {
        font-size: 17px;
        padding: 0 0 20px 0;

        @media all and (max-width: $bp-header) {
            padding: 20px 0 20px 0;
            text-align: unset;
        }
    }

    &__info {
        font-size: 17px;
        color: #363636;
        font-weight: 300;

        dl {
            margin: 0;
            padding-right: 0;
        }

        dd {
            display: flex;
            display: -webkit-inline-box;
            justify-content: center;
        }

        tbody {
            display: flex;
            display: -webkit-inline-box;
            flex-direction: column;
        }

        tr {
            display: inline-flex;
            flex-direction: column;

        }
    }
}

.order-details-items {

    &__header {
        font-size: 24px;
        padding: 0 0 30px 0;

        @media all and (max-width: $xs-breakpoint) {
            padding: 10px 20px 30px 20px;
        }
    }
}

.order-details {

    &__header {
        display: flex;
        justify-content: space-between;
        font-size: 17px;
        padding: 0 20px 20px 0;
        border-bottom: 1px solid #d7d7d7;

        @media all and (max-width: $bp-header) {
            display: none;
        }

        .col.sku {
            width: 120px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        padding: 30px 20px 30px 0;
        font-size: 17px;
        font-weight: 300;

        @media all and (max-width: $bp-header) {
            border-top: 1px solid #d7d7d7;
        }

        @media all and (min-width: $bp-header) {
            border-bottom: 1px solid #d7d7d7;
        }

        @media all and (max-width: $xs-breakpoint) {
            padding: 30px 20px 30px 20px;
        }

        &--desktop {
            display: flex;
            width: 100%;
            justify-content: space-between;

            @media all and (max-width: $bp-header) {
                display: none;
            }
        }

        &--mobile {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            font-weight: 400;

            .order-details-title {
                width: 100%;

                > div {
                    max-width: 100%;
                }
            }

            @media all and (min-width: $bp-header) {
                display: none;
            }
        }

        &--mobile-col {
            flex-basis: 49.5%;
            padding: 10px 1px 0 0;

            > div {
                padding: 10px 0 10px 0;
            }

            > ul {
                padding: 10px 0 10px 0;
            }
        }

        &--mobile-size {
            @media all and (min-width: $bp-header) {
                display: none;
            }
        }

        .product-item-name {
            max-width: 120px;

            > div {
                padding: 10px 0 0 0;
            }
        }
    }

    &__summary {
        display: flex;
        flex-direction: column;
        height: 180px;
        align-items: flex-end;
        border-bottom: 1px solid #d7d7d7;
        justify-content: space-evenly;
        font-size: 17px;
        padding: 0 20px 0 0;

        @media all and (max-width: $bp-header) {
            background: #f3f1f1;
        }

        @media all and (max-width: $xs-breakpoint) {
            padding: 0 20px 0 20px;
        }

        > div {
            display: flex;
            width: 200px;
            justify-content: space-between;

            @media all and (max-width: $xs-breakpoint) {
                width: 100%;
            }
        }
    }
}
