.account-nav {
    width: 100%;
    background: #fbf8f8;
    padding: 15px 0;
    box-sizing: border-box;
    margin: 20px 0;

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    .nav.item {
        margin: 10px 20px;
        text-align: left;
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 17px;
        color: #363636;

        strong {
            font-weight: none;
        }

        a {
            color: #363636;
        }

        &.current, &:hover {
            color: #363636;
            font-weight: 500;
            text-decoration: underline;
        }
    }
}
