.account-main {

    &__title {
        text-align: center;
        color: #515151;

        h1 {
            font-family: league_gothic, 'HlvtcNeueLTCndnsd', serif;
            font-size: 46px;
        }
    }
}

