.account-dashboard {
    &__title {
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-weight: normal;
        color: black;
        width: 100%;
        padding: 15px 0 15px 0;
        border-bottom: 1px solid #d7d7d7;
    }

    &__link {
        @include button-black($height: 55px, $margin-top: 10px, $font-size: 18px);
        box-sizing: border-box;
        width: 100%;
        max-width: 210px;
        height: 45px;
        border-radius: 2px;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__content {
        font-size: 16px;
        color: #363636;
    }

    &__address {
        margin: 0 0 20px 0;
        font-style: normal;
    }

    &__list {
        padding: 15px 0 50px 0;
        border-bottom: 1px solid #d7d7d7;
    }
}

