<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="shipping" class="checkout-shipping-address checkout__shipping-address" data-bind="fadeVisible: visible()">
    <div class="checkout__step-wrapper">
        <div class="step-title checkout__step-number">1</div>
        <div class="step-title checkout__step-title" data-bind="i18n: 'Shipping Address'" data-role="title"></div>
    </div>
    <div id="checkout-step-shipping"
         class="step-content checkout__address-wrapper"
         data-role="content">

        <!-- ko if: (!quoteIsVirtual) -->
        <!-- ko foreach: getRegion('customer-email') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list-additional-addresses') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Address form pop up -->
        <!-- ko if: (!isFormInline) -->
        <button type="button"
                data-bind="click: showFormPopUp, visible: !isNewAddressAdded()"
                class="action action-show-popup checkout__address-button--add">
            <span data-bind="i18n: 'New Address'"></span></button>
        <div id="opc-new-shipping-address" data-bind="visible: isFormPopUpVisible()">
            <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko foreach: getRegion('before-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Inline address form -->
        <!-- ko if: (isFormInline) -->
        <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        <!-- /ko -->
    </div>
</li>


<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method checkout__shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">
        <div class="checkout__step-wrapper">
            <div class="step-title checkout__step-number">2</div>
            <div class="step-title checkout__step-title" data-bind="i18n: 'Shipping Methods'" data-role="title"></div>
        </div>
        <!-- ko foreach: getRegion('before-shipping-method-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">
            <!-- ko if: rates().length  -->
            <form class="form methods-shipping checkout__shipping-options-wrapper" id="co-shipping-method-form" data-bind="submit: setShippingInformation" data-mage-init='{"validation":{}}'>
                <div id="checkout-shipping-method-load">
                    <!--ko foreach: { data: rates(), as: 'method'}-->
                    <div class="checkout__shipping-option"
                         data-bind="
                            css: ((method.carrier_code + '_' + method.method_code) == $parent.isSelected()) ? 'checkout__pick-shipping--active' : '',
                            click: $parent.selectShippingMethod"
                            >
                        <div class="col col-carrier checkout__shipping-name"
                             data-bind="text: method.carrier_title, attr: {'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code}"></div>
                        <div class="col col-method checkout__shipping-select">
                            <!-- ko ifnot: method.error_message -->
                            <!-- ko if: $parent.rates().length == 1 -->
                            <input class="checkout__pick-shipping"
                                   type="submit"
                                   data-role="opc-continue"
                                   data-bind="attr: {
                                                    checked: $parent.rates().length == 1,
                                                    'value' : method.carrier_code + '_' + method.method_code,
                                                    'id': 's_method_' + method.method_code,
                                                    'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                 }" />
                            <!-- /ko -->
                            <!--ko ifnot: ($parent.rates().length == 1)-->
                            <input type="submit"
                                   data-role="opc-continue"
                                   data-bind="
                                                value: 'pick',
                                                attr: {
                                                    'id': 's_method_' + method.carrier_code + '_' + method.method_code,
                                                    'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                },
                                                css: ((method.carrier_code + '_' + method.method_code) == $parent.isSelected()) ? 'checkout__pick-shipping--active' : '',
                                                click: $parent.selectShippingMethod"
                                   class="checkout__pick-shipping"/>
                            <!--/ko-->
                            <!-- /ko -->

                            <div class="col col-price checkout__shipping-price">
                                <!-- ko foreach: $parent.getRegion('price') -->
                                <!-- ko template: getTemplate() --><!-- /ko -->
                                <!-- /ko -->
                            </div>

                            <div class="col checkout__shipping-delivery" data-bind="text: method.method_title, attr: {'id': 'label_method_' + method.method_code + '_' + method.carrier_code}">
                            </div>
                        </div>
                        <!-- ko if:  method.error_message -->
                        <div class="row row-error checkout__form-error">
                            <div class="col col-error" colspan="4">
                                <div class="message error">
                                    <div data-bind="text: method.error_message"></div>
                                </div>
                                <span class="no-display">
                                    <input type="radio" data-bind="attr: {'value' : method.method_code, 'id': 's_method_' + method.method_code}"/>
                                </span>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>



                    <!-- /ko -->
                </div>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <!-- ko foreach: getRegion('shippingAdditional') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <!-- ko if: errorValidationMessage().length > 0 -->
                <div class="message notice">
                    <span><!-- ko text: errorValidationMessage()--><!-- /ko --></span>
                </div>
                <!-- /ko -->
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary checkout__button--calculate">
                            <span><!-- ko i18n: 'See available payments'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
            <!-- /ko -->
            <!-- ko ifnot: rates().length > 0 --><div class="no-quotes-block"><!-- ko i18n: 'Sorry, no quotes are available for this order at this time'--><!-- /ko --></div><!-- /ko -->
        </div>
    </div>
</li>