.home-banner {
    width: 100%;
    max-width: 100%;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    position: relative;

    &--black {
        color: black !important;
    }

    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;

        &--end {
            justify-content: flex-end;
            display: flex;
            height: 100%;
            align-items: center;
        }
    }

    &__inner {
        display: flex;
        margin: -10em 0 0 14em;

        &--end {
            display: flex;
            width: 50%;
            justify-content: flex-start;
        }
    }

    &__content-box {
        margin: 0 4em;
        height: 256px;

        @media all and (max-width: 560px) {
            height: 100%;
        }
    }

    &__header {
        font-family: Times New Roman;
        font-size: 48px;
        color: white;
        text-transform: uppercase;
        margin: 0 0 10px 0;
        font-weight: 600;

        &--black {
            color: black;
        }

        &--margin-zero {
            margin-bottom: 24px;
        }

        &--mobile {
            font-size: 30px;
            font-family: Times New Roman;
            text-transform: uppercase;
            color: white;
            font-weight: 600;
            margin: 0 0 20px 0;
            letter-spacing: 3px;

            .libre-bold {
                font-family: 'libre_baskerville', sans-serif;
                font-weight: 600;
            }

            .libre-italic {
                font-family: 'libre_baskerville', sans-serif;
                font-style: italic;
                font-weight: 400;
            }

            &-black {
                font-size: 30px;
                font-family: Times New Roman;
                text-transform: uppercase;
                font-weight: 600;
                margin: 0 0 20px 0;
                color: black;

                p {
                    margin: 0;
                }
            }

            img {
                width: 100%;
                height: auto;
            }

            p {
                margin: 0;
            }
        }

        p {
            margin: 0;
            letter-spacing: 7px;
            line-height: 110%;
        }

        .libre-bold {
            font-family: 'libre_baskerville', sans-serif;
            font-weight: 600;
        }

        .libre-italic {
            font-family: 'libre_baskerville', sans-serif;
            font-style: italic;
            font-weight: 400;
        }
    }

    &__text-box {
        margin: 0 0 43px 0;

        @media all and (max-width: 1500px) {
            margin: 0;
        }

        &--mobile {
            font-size: 14px;
            margin: 0;
            color: white;
            font-weight: 300;
            letter-spacing: 2;
            font-family: 'sofia-pro', sans-serif;

            @media all and (min-width: 561px) {
                display: none;
            }

            p {
                font-size: 16pt;
                margin: 0;
                color: white;
                font-weight: 300;
                letter-spacing: 0;
            }
        }

        @media all and (max-width: 560px) {
            &--tactile {
                margin: 0 0 20px 0;
                width: 85%;
            }
        }
    }

    &__text {
        font-weight: 300;
        font-size: 24px;
        font-family: 'sofia-pro', sans-serif;
        margin: 0 0 4px 0;
        letter-spacing: 1px;
        color: white;
        max-width: 572px;

        @media all and (max-width: 560px) {
            display: none;
        }
    }

    &__image {
        background-position: center, center;
        width: 96%;
        height: 803px;
        cursor: pointer;

        @media all and (max-width: 560px) {
            &--no-margin {
                width: 100%;
                margin: 0;
            }
        }

        @media all and (min-width: 2200px) {
            height: 80vh;
        }

        &--measure {
            background-image: url('../../img/assets/home 25-09-18/made-to-measure-img-125.jpg'), url('../../img/assets/home 25-09-18/made-to-measure-img-low.jpg');
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0 auto 65px;

            @media  all and (max-width: 1560px) {
                .home-banner__wrapper {
                    width: 70%;
                }
            }

            @media all and (max-width: 560px) {
                background-image: url('../../img/assets/home 25-09-18/made-to-measure-img-1450px.jpg');
                margin: 0 auto 25px;
            }

            .home-banner {

                &__content-box {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    height: 100%;
                }

                &__header {
                    color: white;
                    margin-bottom: 37px;

                    &--mobile-black {
                        color: white;
                    }
                }

                &__inner {
                    margin: 0;
                }

                &__inner-image {
                    width: 100%;
                    max-width: 337px;
                }

                &__text-box {
                    margin-bottom: 50px;

                    @media (max-width: 560px) {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 30px;
                    }
                }
            }
        }

        &--shoe {
            background-image: url('../../img/assets/home 25-09-18/italian-shoe.png'), url('../../img/assets/home 25-09-18/italian-shoe-l.jpg');
            width: 100%;
            height: 763px;
            justify-content: flex-end;

            .home-banner__wrapper {
                justify-content: flex-end;
            }

            @media all and (min-width: 561px) and (max-width: 1620px) {
                .home-banner__inner {
                    margin: -12em 0 0;
                    text-align: right;
                }

                .home-banner__text-box {
                    margin-bottom: 30px;
                }
            }


            @media all and (max-width: 560px) {
                background-position: -270px 0;
                background-image: url('../../img/assets/home 25-09-18/italian-shoe-850px.jpg');

                .home-banner__content-box {
                    align-items: flex-end;
                }

                .home-banner__text p {
                    width: 100%;
                }

                .home-banner__text-box {
                    width: 55%;
                    text-align: right;

                    p {
                        width: 100%;
                    }
                }

                .home-banner__header--mobile-black {
                    text-align: right;
                }
            }



            @media all and (min-width: 1260px) {
                .home-banner {

                    &__wrapper {
                        justify-content: flex-end;
                    }

                    &__inner {
                        margin: -10em 3em 0 0;
                    }

                    &__content-box {
                        margin: 0 28px;
                    }

                    &__text-box {
                        margin: 24px 0 35px 0;
                    }

                    &__header {
                        margin-top: 52px;
                    }
                }
            }

            @media all and (min-width: 1441px) {
                .home-banner__inner {
                    margin: -10em 10em 0 0;
                }
            }

            @media all and (min-width: 2200px) {
                height: 76vh;
            }

            @media all and (max-width: 1260px) {
                .home-banner {

                    &__inner {
                        margin: -10em 0 0;
                    }
                }
            }
        }

        &--tailored-tropics {
            background-image: url('../../img/assets/home-22-10-18/banner-tailored-tropics-line.png');
            width: 100%;
            height: 892px;

            @media all and (max-width: 1260px) {
                background-image: url('../../img/assets/home-22-10-18/banner-tailored-tropics.png');
            }

            @media all and (min-width: 1921px) {
                height: 89vh;
            }

            .home-banner__content-box {
                text-align: right;

                @media all and (max-width: 1260px) {
                    align-items: flex-end;
                    margin: 0;
                }

                @media all and (max-width: 560px) {
                    padding: 5px 25%;
                }
            }

            .home-banner__header {
                margin-bottom: 60px;
                position: relative;

                @media all and (max-width: 1260px) {
                    margin-bottom: 25px;
                }
            }

            .home-banner__inner {
                position: absolute;
                left: calc(50% - 13px);
                transform: translateX(-50%) translateY(-50%);
                margin: 0;
                top: 43%;

                @media all and (min-width: 2200px) and (min-height: 1400px) {
                    left: calc(50% + 67px);
                }

                @media all and (max-width: 1260px) {
                    top: 50%;
                    left: 47%;
                }

                @media all and (max-width: 560px) {
                    left: 42%;
                }
            }

            .home-banner__text-box {
                margin: 0 5px 60px 0;

                @media all and (max-width: 1260px) {
                    margin: 0 5px 15px 0;
                    justify-content: flex-end;
                }

                @media all and (max-width: 560px) {
                    margin: 0 5px 0 0;
                }
            }

            button {
                margin-right: 7px;
            }
        }
    }
}

@media all and (max-width: 1260px) {

    .home-banner {

        &__image {
            height: 550px;

            &--measure {
                height: 750px;

                button {
                    margin-top: 25px;
                }
            }
        }

        &__text {
            font-size: 20px;
        }

        &__inner {
            margin: 2em 0 0 1em;

            &--end {
                margin: 0;
                width: 60%;
            }
        }

        &__text-box {
            margin: 0;
        }

        button {
            margin-top: 10px;
        }
    }
}

@media all and (min-width: 561px) and (max-width: 1500px) {

    .home-banner {

        &__text-box {
            margin-bottom: 30px;
        }
    }
}

@media all and (max-width: 560px) {

    .home-banner {

        button {
            background-color: white;
            color: black;
            font-weight: 600;
            margin-top: 10px;
            border-radius: 0;
            margin-bottom: 6px;
            padding: 11px 10px;
            font-size: 13px;
        }

        &__header {
            margin: 0;
            display: flex;

            br {
                display: none;
            }

            &--none {
                display: none;
            }

            .your-style {
                font-size: 30px;
            }

            &--end {
                font-size: 30px;
                text-align: right;
            }

            .elevate {
                font-size: 30px;
            }

            .your {
                font-size: 25px;
            }

            .style {
                font-size: 40px;
            }
        }

        &__wrapper {
            align-items: flex-end;

            &--start {
                align-items: flex-start;
            }

            &--end {
                align-items: flex-end;
                justify-content: flex-end;
                text-align: right;
            }
        }

        &__image {

            &--elevate {
                background-position: 100%;
                height: 350px;
            }

            &--shoe {
                height: 350px;
            }

            &--waterfront {
                height: 350px;
            }

            &--measure {
                height: 600px;
            }

            &--tailored-tropics {
                height: 350px;
            }
        }

        &__text-box {
            display: flex;

            &--none {
                display: none;
            }

            br {
                display: none;
            }

            p {
                font-size: 14px;
                letter-spacing: 0;
                margin: 0 0 20px 0;
                width: 85%;
            }
        }

        &__inner {
            margin: 0;
            width: 100%;
            height: 100%;
        }

        &__content-box {
            margin: 1em 1em;
            padding: 5px 10px 5px 10px;

            @media all and (max-width: 560px) {
                &--centered {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding: 5px 10%;
                }
            }
        }
    }
}

@media all and (min-width: 561px) {

    .home-banner {

        &__header {

            &--mobile {
                display: none;
            }

            &--mobile-black {
                display: none;
            }
        }
    }
}

@media all and (max-width: 460px) {

    .home-banner {
        button {
            margin-top: 10px;
        }
    }
}

@media all and (max-width: 400px) {

    .home-banner {

        &__header {

            .elevate {
                font-size: 25px;
            }

            .your {
                font-size: 15px;
            }

            .style {
                font-size: 30px;
            }
        }
    }
}
