.main-banner {
    background-image: url('../../img/assets/home-22-10-18/hero-banner-BQ.png');
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top 0;
    height: 854px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media all and (min-width: 2200px) {
        height: 85vh;

        @media all and (min-height: 1500px) {
            height: 76vh;
        }
    }

    &__image {
        height: 631px;
        width: 455px;
        margin-left: 9.5%;
        background-image: url('../../img/assets/home-22-10-18/home-hero-image-gq.png');
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top 0;
        z-index: 1;

        @media all and (max-width: 1440px) {
            height: 500px;
            margin-left: 5%;
            width: 360px
        }
    }

    &__inner-box {
        padding-left: 87px;
        padding-bottom: 35px;

        @media all and (max-width: 1440px) {
            padding-left: 70px;
            padding-bottom: 27px;
        }
    }

    &__inner-image {
        margin: 10px 0;
        width: 286px;
        height: auto;

        @media all and (max-width: 1440px) {
            width: 220px;
        }
    }

    &__wrapper {
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;

        @media all and (max-width: 1440px) {
            margin-bottom: 160px;
        }

        @media all and (min-width: 2200px) {

            @media all and (min-height: 1400px) {
                margin-bottom: 320px;
            }
        }
    }

    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__content-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        justify-content: center;
        padding: 0 0 0 11em;

        @media all and (max-width: 560px) {
            height: 100%;
        }
    }

    &__text-box {
        margin: 0 0 43px 0;

        @media all and (max-width: 1500px) {
            margin: 0;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 24px;
        font-family: 'roboto', sans-serif;
        margin: 0 0 8px 0;
        letter-spacing: 1px;
        color: white;

        &--additional {
            margin-bottom: 0;
        }

        @media all and (max-width: 1440px) {
            font-size: 20px;
            margin: 0 0 5px 0;
        }
    }
}

@media all and (max-width: 1260px) {

    .main-banner {
        height: 615px;
        background-position: center top 0;
        //margin-top: 45px;

        &__wrapper {
            margin-bottom: 100px;
        }

        &__header {
            font-size: 12pt;
            padding: 0 0 0 8em;
        }

        &__content-box {
            padding: 0;
        }

        &__inner {
            padding: 0;
        }

        &__inner-box {
            padding-left: 50px;
            padding-bottom: 20px;
        }

        &__inner-image {
            width: 172px;
            margin: 4px 0;
        }

        &__image {
            height: 380px;
            width: 273px;
        }

        &__text {
            font-size: 15px;
            margin: 0 0 5px 0;
            letter-spacing: 0;

            &--additional {
                margin-bottom: 0;
            }
        }

        button {
            font-size: 12px;
        }
    }
}

@media all and (max-width: 1060px) {

    .main-banner {
        margin-top: 0;
    }
}

@media all and (max-width: 975px) {

    .main-banner {
        height: 500px;
        background-position: center top 0;
        background-size: cover;
        margin-top: 0;

        &__header {
            padding: 0 0 0 7em;
        }

        &__wrapper {
            justify-content: flex-start;
            margin-bottom: 90px;
        }

        &__content-box {
            margin: 0;
        }

        &__image {
            height: 300px;
            width: 216px;
        }

        &__inner-box {
            padding-left: 41px;
            padding-bottom: 18px;
        }

        &__inner-image {
            width: 135px;
        }

        &__text {
            font-size: 12px;
            margin: 0 0 3px;

            &--additional {
                margin-bottom: 0;
            }
        }
    }
}

@media all and (max-width: 750px) {

    .main-banner {

        &__image {
            margin-bottom: 0;
        }
    }
}

@media all and (max-width: 560px) {

    .main-banner {
        height: 350px;

        &__image {
            max-width: 100%;
            height: 250px;
            width: 180px;
            margin-left: 0;
        }

        &__wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 60px;
        }

        &__inner-box {
            padding-left: 36px;
            padding-bottom: 15px;
        }

        &__inner-image {
            width: 110px;
        }

        &__text {
            font-size: 10px;
            margin: 0 0 2px;

            &--additional {
                margin-bottom: 0;
            }

            br {
                display: none;
            }
        }

        button {
            background-color: white;
            color: black;
            font-weight: 600;
            margin-top: 10px;
            border-radius: 0;
        }
    }
}




