.main-banner {
    min-height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__loader {
        position: absolute;
        display: block;
        top: 100px;
        background-color: white;
    }

    &__img {
        width: 100%;
        max-width: 100%;
        max-height: 716px;
        height: auto;
        margin-top: 120px;
    }

    &__wrapper {
        position: absolute;
        bottom: 5%;
    }
}

@media all and (max-width: 1260px) {

    .main-banner {

        &__sign {
            height: 200px;
        }
    }
}

@media all and (max-width: 1060px) {

    .main-banner {
        margin-top: 0;

        &__loader {
            top: 80px;
        }

        &__img {
            margin-top: 0;
        }
    }
}

@media all and (max-width: 975px) {

    .main-banner {
        margin-top: 0;
        min-height: 200px;

        &__loader {
            top: 0;
            height: 200px;

        }

        &__content-box {
            margin: 0;
        }
    }
}

@media all and (max-width: 768px) {

    .main-banner {

        &__img {
            max-width: inherit;
            width: auto;
            height: 350px;
        }
    }
}

@media all and (max-width: 560px) {

    .main-banner {
        height: 350px;

        &__loader {
            top: 20px;
            height: 296px;
        }
    }
}
