<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pandagroup_gift_card>
            <gift_card_extended_settings>
                <redirects_enable>1</redirects_enable>
            </gift_card_extended_settings>
        </pandagroup_gift_card>
    </default>
</config>
