<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-bind="css: ns+'__select-wrapper ' + ns+'__select-wrapper--'+index">
<figure data-bind="css: ns+'__select-arrow ' + ns+'__select-arrow--'+index"></figure>
<select class="select" data-bind="
    attr: {
        name: inputName,
        id: uid,
        disabled: disabled,
        'aria-describedby': noticeId,
        placeholder: placeholder
    },
    css: ns+'__select ' + ns+'__select--'+index,
    hasFocus: focused,
    optgroup: options,
    value: value,
    optionsCaption: caption,
    optionsValue: 'value',
    optionsText: 'label',
    optionsAfterRender: function(option, item) {
        if (item && item.disabled) {
            ko.applyBindingsToNode(option, {attr: {disabled: true}}, item);
        }
    }"
/>
</div>