@charset "UTF-8";
@font-face {
  font-family: "magictoolbox";
  src:url("../fonts/magictoolbox.eot");
  src:url("../fonts/magictoolbox.eot?#iefix") format("embedded-opentype"),
    url("../fonts/magictoolbox.woff") format("woff"),
    url("../fonts/magictoolbox.ttf") format("truetype"),
    url("../fonts/magictoolbox.svg#magictoolbox") format("svg");
  font-weight: normal;
  font-style: normal;
}
.admin__menu .item-magictoolbox > a:before,
.admin__menu .item-magic360 > a:before {
  font-family: "magictoolbox" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\61" !important;
}
