.blog-sidebar {
    width: 270px;
    box-sizing: border-box;
    padding-right: 10px;

    @media all and (max-width: $sm-breakpoint) {
        order: -1;
        margin: 0 auto;
    }

    &__search-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #bcbbbb;
    }

    &__search-input {
        width: 100%;
        border: 0;
        text-align: center;

        &::placeholder {
            color: black;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    &__zoom {
        @include sprite(header-zoom);
        transform: scale(0.65);
        width: 35px;
    }

    &__title {
        font-family: Merriweather;
        font-weight: bold;
        font-style: italic;
        font-size: 20px;
        color: #666;
        margin: 30px 10px 30px 0;
        display: inline-block;


        &--subscribe {
            text-align: center;
        }
    }

    &__instalink {
        font-size: 14px;
        letter-spacing: 0;
        font-style: normal;
        font-family: Roboto;
        color: #666;
    }

    &__instagram, &__subscribe {
        border-bottom: 1px solid #bcbbbb;
        padding-bottom: 20px;
    }

    &__facebook, &__instagram, &__subscribe {
        @media all and (max-width: $sm-breakpoint) {
            display: none;
        }
    }
}

