.is-blog {

    .page-main {
        padding: 0 10px;

        &__columns {
            display: flex;

            @media all and (max-width: $bp-header) {
                flex-direction: column;
            }
        }
    }

    .column.main {
        width: 100%;
        box-sizing: border-box;
        padding-right: 20px;
        margin-bottom: 120px;

        @media all and (max-width: $bp-header) {
            order: 2;
            padding: 0 20px;
        }
    }

    .page-main__title {
        font-family: league_gothic;
        color: #666;

        h1 {
            font-size: 40px;
            font-weight: normal;
        }
    }

    .post-content, .post-entry {
        color: #333;
        font-size: 16px;
        line-height: 1.5em;

        p {
            margin: 0;
        }

        a {
            color: #222;

            &:hover {
                color: #999;
            }
        }

    }

    .post-footer {

        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid #bcbbbb;
            border-bottom: 1px solid #bcbbbb;
            padding: 18px 0 18px 0;
            margin: 41px 0 41px 0;

            li {
                margin: 5px;
            }
        }

        &__large-letters {
            font-family: Merriweather;
            font-size: 20px;
            color: #666;
            font-weight: bold;
            font-style: italic;

            a {
                color: #666;

                &:hover {
                    color: #999;
                }
            }
        }

        &__icon {
            display: inline-block;

            &--fb {
                @include sprite(blog-share-fb);
            }

            &--twt {
                @include sprite(blog-share-twt);
            }

            &--ptrst {
                @include sprite(blog-share-ptrst);
            }

            &:hover {
                opacity: 0.7;
            }
        }

        &__posts-nav-wrap {
            display: flex;
            justify-content: space-between;
        }
    }
}
