.is-blog {

    .page-main {
        padding: 0;

        &__columns {
            display: flex;

            @media all and (max-width: $bp-header) {
                flex-direction: column;
            }
        }
    }

    .column.main {
        width: 100%;
        box-sizing: border-box;
        padding-right: 20px;
        margin-bottom: 120px;

        @media all and (max-width: $bp-header) {
            order: 2;
            padding: 0 20px;
        }
    }
}

.wordpress-post-view {

    .page-main__title {
        font-family: league_gothic;
        color: #666;

        h1 {
            font-size: 40px;
            font-weight: normal;
        }
    }
}