.blog-sidebar {
    min-width: 270px;

    @media all and (max-width: $bp-header) {
        order: -1;
    }

    &__search-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid;
    }

    &__search-input {
        width: 100%;
        border: 0;
        text-align: center;
    }

    &__zoom {
        @include sprite(header-zoom);
        transform: scale(0.65);
    }

    &__title {
        font-family: Merriweather;
        font-weight: bold;
        font-style: italic;
        font-size: 20px;
        color: #666;

        &--subscribe {
            text-align: center;
        }
    }

    &__facebook, &__instagram, &__subscribe {
        @media all and (max-width: $bp-header) {
            display: none;
        }
    }
}
