$color: #666;

.is-blog .post-list-wrapper .post-list {
    padding-left: 10px;

    &__item {
        padding: 0 0 50px 0;
        border-bottom: 1px solid $color;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__name {
        color: $color;
        text-transform: uppercase;
        font-size: 40px;
        font-family: league_gothic;
        font-weight: normal;
    }

    &__date {
        font-family: Merriweather;
        color: $color;
        font-weight: bold;
        font-style: italic;
        font-size: 16px;
    }

    &__image {
        margin: 20px 0;
    }

    &__readmore {
        @include button-custom(13px 50px, 35px 0 0 0, 13px, bold, white, #666, #666, white, 2px solid #666);
        border-radius: 4px;
        display: inline-block;
    }
}

