{{template config_path="design/email/header_template"}}

<table class="table-width-wrap" cellspacing="0" cellpadding="0" border="0" width="602"
       style="border-collapse: collapse; border:0px; margin: 0px; padding: 0px; background-color: #FFF;">
    <tr style="display: block; height: 5px;">
        <td></td>
    </tr>
    <tr class="background-image-row" style="display: block; background-image: url('http://peterjacksons.com/newsletter_templates/december_2015/email-templates/background-img.png'); background-repeat: no-repeat; background-color: #6797d7;" >
        <td align="left" valign="top" style="padding: 36px 36px 36px 36px;">

            <p style="font-size: 19px; color: #fff;">Dear {{trans "%name," name=$order.getCustomerName()}},</p>
            <p style="font-size: 19px; color: #fff;">Your order # {{var order.increment_id}} has been <br/>
                <strong>{{var order.getStatusLabel()}}</strong>.</p>
            <p style="font-size: 19px; color: #fff;">
                You can check the status of your order by<br>
                <a href="{{store url="customer/account/"}}" style="color:#fff; text-decoration: none; font-weight: bold">logging into your account</a>.<br>
            </p>
            {{depend comment}}
            <p style="font-size: 19px; color: #fff;">{{var comment}}</p>
            {{/depend}}
        </td>
    </tr>
    <tr style="display: block; height: 10px;">
        <td></td>
    </tr>
</table>

<table class="table-width-wrap" cellspacing="0" cellpadding="0" border="0" width="602" height="41">
    <tr style="height: 41px; font-size: 18px;">

        <td style="background: #3f3e3e;">

            <div class="table-width-half" style="float: left; text-align: center; width: 100%; background: #3f3e3e; " valign="top" align="left">
                <p style="color: #FFFFFF; font-size: 18px; padding: 11px 0px 11px 36px; margin: 0 0 0 0;"><span style="font-weight: bold;">ORDER NUMBER: #</span>{{var order.increment_id}}</p>
            </div>
            <div class="table-width-half second" style="float: left; text-align: right; width: 50%; background: #3f3e3e; display: none; " valign="top" align="left">

            </div>

        </td>

    </tr>
</table>

<table class="table-width-wrap" cellspacing="0" cellpadding="0" border="0" width="602"
       style="border-collapse: collapse; border:0px; margin: 0px; padding: 0px; background-color: #FFF;">
    <tr style="display: block; height: 10px;">
        <td></td>

    <tr>
        <td class="full-line-width" style="width: 100%;  padding: 11px 36px 11px 36px; border-bottom: 1px solid #e7e7e7; border-top: 1px solid #e7e7e7;" valign="top" align="left">
            <div class="wrap-in">
                <p style="margin: 0 0 0 0; font-size: 20px; font-weight: bold; color: #000000;">
                    Your Shipment #{{var shipment.increment_id}} for Order #{{var order.increment_id}}
                </p>
            </div>
        </td>
    </tr>

</table>

{{template config_path="design/email/footer_template"}}