@mixin container() {
    max-width: $container-width;
    margin: auto;
}

@mixin form-element() {
    height: 40px;
    border: 1px solid #b9b9b9;
    border-radius: 2px;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 0 18px;
    color: #515151;
    font-size: 110%;
    appearance: none;

    &::-ms-expand {
        display: none;
    }
}

@mixin form-select-arrow() {
    @include sprite(select-arrow);
    display: block;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: none;
}

@mixin form-select-wide-arrow() {
    @include sprite(select-arrow-thin);
    display: block;
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: none;
}

@mixin form-element-wrapper() {
    position: relative;
    margin: 4px 0;
}

@mixin bg($bg-file) {
    background: url('../../img/assets/#{$bg-file}') no-repeat;
}

@mixin slick-buttons() {
    display: flex !important;
    justify-content: center;

    li {
        margin-left: 5px;
    }

    button {
        background-color: #acacac;
        border: none;
        color: white;
        width: 13px;
        height: 13px;
        font-size: 16px;
        text-indent: -9999px;
        border-radius: 10px;
        cursor: pointer;
        outline: none;
    }

    .slick-active {

        button {
            background-color: #555;
        }
    }
}

@mixin button($pd: 10px 20px, $mg: 5px, $fontsize: 13px, $font-weight: bold) {
    padding: $pd;
    text-transform: uppercase;
    font-family: Roboto, arial, sans-serif;
    font-size: $fontsize;
    font-weight: $font-weight;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s ease-in-out;
    margin: $mg;
    letter-spacing: 0;
    cursor: pointer;

    &:hover {
        background: #414c78;
    }
}

@mixin button-grey($pd: 10px 20px, $mg: 5px, $fontsize: 13px, $font-weight: bold) {
    @include button($pd, $mg, $fontsize, $font-weight);
    background: $white;
    border: 2px solid $grey-dark;
    color: $grey-dark;

    &:hover {
        background: $grey-dark;
        color: $white;
    }
}

@mixin button-grey-no-bd($pd: 10px 20px, $mg: 5px, $fontsize: 13px, $font-weight: bold) {
    @include button($pd, $mg, $fontsize, $font-weight);
    background: $white;
    border: none;
    color: $grey-dark;

    &:hover {
        background: $grey-dark;
        color: $white;
    }
}

@mixin button-blue($pd: 10px 20px, $mg: 5px, $fontsize: 14px, $font-weight: bold) {
    @include button($pd, $mg, $fontsize, $font-weight);
    background: #0b53c9;
    border: 0;
    color: $white;
}

@mixin button-custom($pd: 10px 20px, $mg: 5px, $fontsize: 13px, $font-weight: bold, $bg: #0b53c9, $color: white, $bghov: #666, $colorhov: white, $border: 1px solid $grey-dark) {
    @include button($pd, $mg, $fontsize, $font-weight);
    background: $bg;
    color: $color;
    border: $border;

    &:hover {
        background: $bghov;
        color: $colorhov;
    }
}


@mixin button-black(
    $bg: #363636, $bghov: #666, $colorhov: white, $color: white,
    $border: none,
    $margin-top: 15px, $margin-right: 0, $margin-bottom: 0, $padding: 10px 20px,
    $font-size: 16px,
    $width: 100%, $height: 50px
) {
    padding: $padding;
    font-size: $font-size;
    font-weight: 500;
    border-radius: 1px;
    transition: background 0.3s, color 0.3s ease-in-out;
    margin: $margin-top $margin-right $margin-bottom 0;
    letter-spacing: 0;
    cursor: pointer;
    background: $bg;
    color: $color;
    border: $border;
    width: $width;
    height: $height;
    font-family: Roboto, arial, sans-serif;

    &:hover {
        background: $bghov;
        color: $colorhov;
    }
}

@mixin expandable-nav($displayMinus: true) {
    margin: 0;
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    color: #666;

    &::before,
    &::after {
        content: '+';
        position: absolute;
        right: 0;
        top: 0;
        font-size: 36px;
        font-weight: 300;
    }

    &::before {
        @if $displayMinus == true {
            content: '—';
        }
        @else {
            content: '';
        }
        opacity: 0;
        font-size: 28px;
    }

    &.active {

        &::before {
            animation: changeSign2 0.2s linear 0.2s forwards alternate;
            opacity: 1;
        }

        &::after {
            animation: changeSign 0.4s linear forwards alternate;
            opacity: 0;
        }
    }

    &.inactive {

        &::before {
            animation: changeSign 0.2s linear 0.2s forwards alternate;
        }

        &::after {
            animation: changeSign2 0.4s linear forwards alternate;
        }
    }

    @at-root {
        @keyframes changeSign {

            0% {
                opacity: 1;
                transform: rotate(0deg);
            }

            100% {
                opacity: 0;
                transform: rotate(-360deg);
            }
        }

        @keyframes changeSign2 {

            0% {
                opacity: 0;
                transform: rotate(0deg);
            }

            100% {
                opacity: 1;
                transform: rotate(-180deg);
            }
        }
    }

}

@mixin pdp-form-elements($height: 49px) {
    background: $white;
    height: $height;
    border: 1px solid #d0d0d0;
    border-radius: 1px;
    font-size: 16px;
    color: #252525;
    padding-left: 17px;
    letter-spacing: 1px;
    width: 100%;
    font-family: Roboto, sans-serif;
}

@mixin logo() {
    height: 25px;
    margin: 32px 5px 20px 5px;

    @media all and (max-width: $bp-header) {
        height: 37px;
        margin: 5px;
    }
}

@mixin header-side-elems() {
    @include logo();
    display: flex;

    @media all and (min-width: $bp-header + 1px) {
        flex: 0 0 230px;
    }

    @media all and (max-width: $bp-header) {
        flex: 0 0 160px;
    }


    @media all and (max-width: $bp-header-s) {
        flex: 0 0 140px;
    }

    @media all and (max-width: $xs-breakpoint) {
        flex: 0 0 94px;
    }
}

@mixin info-popup($top: calc(100% + 18px), $left: -21px) {
    position: absolute;
    padding: 16px;
    border: 1px solid #d2d2d2;
    z-index: 999;
    background: $white;
    top: $top;
    left: $left;

    a {
        color: $black;
        text-decoration: underline;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }

    &::before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 12px 17px;
        border-color: #afafaf transparent;
        display: block;
        width: 0;
        top: -18px;
        left: 25px;
    }

    &::after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 12px 17px;
        border-color: $white transparent;
        display: block;
        width: 0;
        top: -17px;
        left: 25px;
    }
}

@mixin info-popup-mirrored($top: calc(100% + 18px), $right: 0) {
    @include info-popup($top, inherit);
    right: $right;


    &::before {
        left: inherit;
        right: 12px;
        top: -17px;
    }

    &::after {
        left: inherit;
        right: 12px;
        top: -16px;
    }
}

