@mixin container() {
    max-width: $container-width;
    margin: auto;
}

@mixin form-element() {
    height: 40px;
    border: 1px solid #b9b9b9;
    border-radius: 1px;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    color: #515151;
    font-size: 110%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@mixin form-select-arrow() {
    @include sprite(select-arrow);
    display: block;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translate(0,-50%);
    pointer-events: none;
}

@mixin form-select-wide-arrow() {
    @include sprite(select-arrow-thin);
    display: block;
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translate(0,-50%);
    pointer-events: none;
}

@mixin form-element-wrapper() {
    position: relative;
    margin: 4px 0;
}

@mixin bg($bg-file) {
    background: url('../../img/assets/#{$bg-file}') no-repeat;
}

@mixin slick-buttons() {
    display: flex !important;
    justify-content: center;

    li {
        margin-left: 5px;
    }

    button {
        background-color: #acacac;
        border: none;
        color: white;
        width: 13px;
        height: 13px;
        font-size: 16px;
        text-indent: -9999px;
        border-radius: 10px;
        cursor: pointer;
    }

    .slick-active {

        button {
            background-color: #555;
        }
    }
}

@mixin button($pd: 10px 20px, $mg: 5px, $fontsize: 13px, $font-weight: bold) {
    padding: $pd;
    text-transform: uppercase;
    font-size: $fontsize;
    font-weight: $font-weight;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s ease-in-out;
    margin: $mg;
    letter-spacing: 0;
    cursor: pointer;

    &:hover {
        background: #414c78;;
    }
}

@mixin button-grey($pd: 10px 20px, $mg: 5px, $fontsize: 13px, $font-weight: bold) {
    @include button($pd, $mg, $fontsize, $font-weight);
    background: $white;
    border: 2px solid $grey-dark;
    color: $grey-dark;

    &:hover {
        background: $grey-dark;
        color: $white;
    }
}

@mixin button-grey-no-bd($pd: 10px 20px, $mg: 5px, $fontsize: 13px, $font-weight: bold) {
    @include button($pd, $mg, $fontsize, $font-weight);
    background: $white;
    border: none;
    color: $grey-dark;

    &:hover {
        background: $grey-dark;
        color: $white;
    }
}

@mixin button-blue($pd: 10px 20px, $mg: 5px, $fontsize: 14px, $font-weight: bold) {
    @include button($pd, $mg, $fontsize, $font-weight);
    background: #0b53c9;
    border: 0;
    color: $white;
}

@mixin button-custom($pd: 10px 20px, $mg: 5px, $fontsize: 13px, $font-weight: bold, $bg: #0b53c9, $color: white, $bghov: #666, $colorhov: white, $border: 1px solid $grey-dark) {
    @include button($pd, $mg, $fontsize, $font-weight);
    background: $bg;
    color: $color;
    border: $border;

    &:hover {
        background: $bghov;
        color: $colorhov;
    }
}


@mixin button-black($bg: #363636, $bghov: #666, $colorhov: white, $border: 1px solid $grey-dark, $height: 50px, $margin-top: 15px, $font-size: 16px, $color: white, $padding: 10px 20px) {
    padding: $padding;
    font-size: $font-size;
    font-weight: bold;
    border-radius: 1px;
    transition: background 0.3s, color 0.3s ease-in-out;
    margin-top: $margin-top;
    letter-spacing: 0;
    cursor: pointer;
    background: $bg;
    color: $color;
    border: $border;
    width: 100%;
    height: $height;

    &:hover {
        background: $bghov;
        color: $colorhov;
    }
}

@mixin expandable-nav($displayMinus: true) {
    margin: 0;
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    color: #666;

    &::before,
    &::after {
        content: '+';
        position: absolute;
        right: 0;
        top: 0;
        font-size: 36px;
        font-weight: 300;
    }

    &::before {
        @if $displayMinus == true {
            content: '—';
        } @else {
            content: '';
        }
        opacity: 0;
        font-size: 28px;
    }

    &.active {

        &::before {
            animation: changeSign2 0.2s linear 0.2s forwards alternate;
        }

        &::after {
            animation: changeSign 0.4s linear forwards alternate;
        }
    }

    &.inactive {

        &::before {
            animation: changeSign 0.2s linear 0.2s forwards alternate;
        }

        &::after {
            animation: changeSign2 0.4s linear forwards alternate;
        }
    }

    @at-root {
        @keyframes changeSign {

            0% {
                opacity: 1;
                transform: rotate(0deg);
            }

            100% {
                opacity: 0;
                transform: rotate(-360deg);
            }
        }

        @keyframes changeSign2 {

            0% {
                opacity: 0;
                transform: rotate(0deg);
            }

            100% {
                opacity: 1;
                transform: rotate(-180deg);
            }
        }
    }

}
