@mixin container() {
    max-width: $container-width;
    margin: auto;
}

@mixin blue-button() {
    min-width: 100%;
    color: $white;
    background: #0b53c9;
    padding: 20px 50px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin: 10px 0;

    &:hover {
        background: #666;
    }
}

@mixin form-element() {
    height: 40px;
    background-color: #efefef;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    color: #515151;
    font-size: 110%;
}

@mixin form-select-arrow() {
    @include sprite(selectarrcheckout);
    display: block;
    position: absolute;
    top: 0;
    right: 3px;
    pointer-events: none;
}

@mixin form-element-wrapper() {
    position: relative;
    margin: 5px 0;
}

@mixin blue-button-plus($pd, $mg, $fontsize) {
    color: $white;
    background: #0b53c9;
    padding: $pd;
    text-transform: uppercase;
    font-size: $fontsize;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin: $mg;

    &:hover {
        background: #666;
    }
}
