//All changes in this file will be overwritten!

$sprite: (
    width: 553px,
    height: 485px,
    image: '../../img/sprite.png'
);

$retina-sprite: (
    width: 1106px,
    height: 970px,
    image: '../../img/sprite2x.png'
);

$sprite-icon: (
    PJ_logo_black: (
        x: 0px,
        y: -115px,
        width: 252px,
        height: 20px
    ),
    PJ_logo_white: (
        x: 0px,
        y: -165px,
        width: 252px,
        height: 20px
    ),
    abt-arrw-left: (
        x: -414px,
        y: -150px,
        width: 29px,
        height: 120px
    ),
    abt-arrw-right: (
        x: -414px,
        y: 0px,
        width: 29px,
        height: 120px
    ),
    arrow-down: (
        x: -341px,
        y: -447px,
        width: 19px,
        height: 10px
    ),
    arrow-left: (
        x: -355px,
        y: 0px,
        width: 29px,
        height: 121px
    ),
    arrow-right: (
        x: -355px,
        y: -151px,
        width: 29px,
        height: 121px
    ),
    blog-share-fb: (
        x: -473px,
        y: -125px,
        width: 35px,
        height: 36px
    ),
    blog-share-ptrst: (
        x: -473px,
        y: -59px,
        width: 36px,
        height: 36px
    ),
    blog-share-twt: (
        x: -473px,
        y: -321px,
        width: 35px,
        height: 35px
    ),
    buttonarrowleft: (
        x: -538px,
        y: -191px,
        width: 7px,
        height: 9px
    ),
    credit-cards: (
        x: -110px,
        y: -267px,
        width: 100px,
        height: 25px
    ),
    footer-facebook-white: (
        x: 0px,
        y: -353px,
        width: 64px,
        height: 64px
    ),
    footer-facebook: (
        x: -60px,
        y: -447px,
        width: 32px,
        height: 32px
    ),
    footer-instagram-white: (
        x: -188px,
        y: -353px,
        width: 63px,
        height: 63px
    ),
    footer-instagram: (
        x: -184px,
        y: -447px,
        width: 32px,
        height: 32px
    ),
    footer-mastercard: (
        x: -473px,
        y: 0px,
        width: 80px,
        height: 29px
    ),
    footer-pintrest: (
        x: -473px,
        y: -191px,
        width: 35px,
        height: 35px
    ),
    footer-twitter: (
        x: -473px,
        y: -256px,
        width: 35px,
        height: 35px
    ),
    footer-visa: (
        x: 0px,
        y: -267px,
        width: 80px,
        height: 56px
    ),
    footer-youtube-white: (
        x: -94px,
        y: -353px,
        width: 64px,
        height: 64px
    ),
    footer-youtube: (
        x: -122px,
        y: -447px,
        width: 32px,
        height: 32px
    ),
    header-account: (
        x: -300px,
        y: -267px,
        width: 25px,
        height: 25px
    ),
    header-book: (
        x: -240px,
        y: -267px,
        width: 30px,
        height: 25px
    ),
    header-case: (
        x: -279px,
        y: -55px,
        width: 32px,
        height: 26px
    ),
    header-star: (
        x: -414px,
        y: -300px,
        width: 26px,
        height: 23px
    ),
    header-zoom: (
        x: -355px,
        y: -302px,
        width: 20px,
        height: 20px
    ),
    logo-black: (
        x: 0px,
        y: 0px,
        width: 325px,
        height: 25px
    ),
    payment_logos: (
        x: 0px,
        y: -55px,
        width: 249px,
        height: 30px
    ),
    paypal-logo: (
        x: -281px,
        y: -353px,
        width: 98px,
        height: 25px
    ),
    paypalbutt: (
        x: 0px,
        y: -215px,
        width: 219px,
        height: 22px
    ),
    remove-ico: (
        x: -282px,
        y: -115px,
        width: 18px,
        height: 18px
    ),
    select-arrow-thin: (
        x: -538px,
        y: -125px,
        width: 15px,
        height: 8px
    ),
    select-arrow: (
        x: -539px,
        y: -59px,
        width: 13px,
        height: 13px
    ),
    select-arrw: (
        x: 0px,
        y: -447px,
        width: 30px,
        height: 38px
    ),
    store-locator: (
        x: -246px,
        y: -447px,
        width: 19px,
        height: 32px
    ),
    storelocator-directions: (
        x: -249px,
        y: -215px,
        width: 16px,
        height: 16px
    ),
    storelocator-email: (
        x: -282px,
        y: -165px,
        width: 16px,
        height: 16px
    ),
    storelocator-phone: (
        x: -295px,
        y: -215px,
        width: 16px,
        height: 16px
    ),
    storelocator-pin: (
        x: -295px,
        y: -447px,
        width: 16px,
        height: 16px
    ),
    white-input-arrow: (
        x: -536px,
        y: -386px,
        width: 17px,
        height: 22px
    ),
    wishlist-icon-dark: (
        x: -473px,
        y: -386px,
        width: 33px,
        height: 30px
    ),
    wishlist-icon: (
        x: -409px,
        y: -353px,
        width: 27px,
        height: 25px
    ),
);

@mixin sprite($icon, $size: true, $bg-size: true) {
    background-color: transparent;
    background-image: url(map-get($sprite, 'image'));
    background-repeat: no-repeat;
    background-position: map-get(map-get($sprite-icon, $icon), 'x') map-get(map-get($sprite-icon, $icon), 'y');

    @if($size == true) {
        width: map-get(map-get($sprite-icon, $icon), 'width');
        height: map-get(map-get($sprite-icon, $icon), 'height');
    }

    @media
    all and (-webkit-min-device-pixel-ratio: 2),
    all and (   min--moz-device-pixel-ratio: 2),
    all and (     -o-min-device-pixel-ratio: 2/1),
    all and (        min-device-pixel-ratio: 2),
    all and (                min-resolution: 192dpi),
    all and (                min-resolution: 2dppx) {
        background-image: url(map-get($retina-sprite, 'image'));
        background-repeat: no-repeat;
        @if($bg-size == true) {
            background-size: map-get($sprite, 'width') map-get($sprite, 'height');
        }
    }
}