$grey: #d7d7d7;
$grey-dark: #999;
$gold: #a28759;
$white: #fff;
$black: #000;
$black-light: #222;
$black-text: #242424;
$red: #e20000;
$light-dark: #666;

$container-width: 1080px;
$pdp-container: 915px;
$checkout-container: 925px;


$bp-header: 1002px;
$bp-measure: 675px;

$lg-breakpoint: 1130px;
$md-breakpoint: 900px;
$sm-breakpoint: 768px;
$xs-breakpoint: 425px;
$pdp-desc-bp: 480px;
$cms-lg-brkpt: 1120px;
$cms-md-brkpt: 875px;
$cms-sm-brkpt: 655px;
$cart-lg-breakpoint: 960px;

$checkout-sidebar-border: 1px solid #dbd5d5;
$checkout-sidebar-pdd: 20px;
